{% load staticfiles sekizai_tags %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% block title_suffix %}{% block title_delimiter %} – {% endblock title_delimiter %}{% block title_site_name %}{{ NETWORK.NAME|default:site.name }}{% endblock title_site_name %}{% endblock title_suffix %}{% endblock title %}</title>
        {% block head_meta %}
            {% include "head_meta.html" %}
        {% endblock head_meta %}
        {% block head_favicon %}
            {% include "head_favicon.html" %}
        {% endblock head_favicon %}
        {% block head_permalink %}
            {% include "head_permalink.html" %}
        {% endblock head_permalink %}
        {% render_block "extrahead" %}
        {% block extrahead %}{% endblock extrahead %}
        {% with_data "css_data" as css_data %}
            {% for css in css_data %}
                <link href="{% static css %}" media="all" rel="stylesheet" type="text/css" />
            {% endfor %}
        {% end_with_data %}
        {% render_block "css" %}
        {% block css %}{% endblock css %}
        {% block extrastyle %}{% endblock %}
        {% with_data "js_data" as js_data %}
            {% for js in js_data %}
                <script src="{% static js %}" type="text/javascript"></script>
            {% endfor %}
        {% end_with_data %}
        {% render_block "js" %}
        {% block js %}{% endblock js %}
    </head>

    <body class="locale-{{ LANGUAGE_CODE|default:"en-us" }} {% if LANGUAGE_BIDI %}dir-rtl{% else %}dir-ltr{% endif %} {% block body_class %}{% endblock body_class %}">
        {% block header-wrapper %}
            <header class="{% block header_class %}{% endblock header_class %}">
                {% block header %}
                    {% block accounts_menu %}
                        <div class="accounts-menu-wrapper">
                            <ul class="accounts-menu">

                            </ul>
                        </div>
                    {% endblock accounts_menu %}
                    {% block header_heading %}
                        {% include "header_heading.html" %}
                    {% endblock header_heading %}
                {% endblock header %}
            </header>
        {% endblock header-wrapper %}
        {% block messages-wrapper %}
            {% if messages %}
                <section class="messages {% block messages_class %}{% endblock messages_class %}">
                    {% block messages %}
                        {% include "messages.html" %}
                    {% endblock messages %}
                </section>
            {% endif %}
        {% endblock messages-wrapper %}
        {% block content-wrapper %}
            <section class="content {% block content_class %}{% endblock content_class %}">
                {% block content %}{% endblock content %}
            </section>
        {% endblock content-wrapper %}
        {% block footer-wrapper %}
            <footer class="{% block footer_class %}{% endblock footer_class %}">
                {% block footer %}
                    {% include "footer.html" %}
                {% endblock footer %}
            </footer>
        {% endblock footer-wrapper %}
    </body>
</html>
