{% load sekizai_tags %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% block title_suffix %}{% block title_delimiter %} – {% endblock title_delimiter %}{% block title_site_name %}{{ NETWORK.NAME|default:site.name }}{% endblock title_site_name %}{% endblock title_suffix %}{% endblock title %}</title>
        {% block head_meta %}
            {% include "head_meta.html" %}
        {% endblock head_meta %}
        {% block head_favicon %}
            {% include "head_favicon.html" %}
        {% endblock head_favicon %}
        {% block head_permalink %}
            {% include "head_permalink.html" %}
        {% endblock head_permalink %}
        {% render_block "extrahead" %}
        {% block extrahead %}{% endblock extrahead %}
        {% with_data "css_data" as css_data %}
            {% include "head_css_data.html" %}
        {% end_with_data %}
        {% render_block "css" %}
        {% block css %}{% endblock css %}
        {% block extrastyle %}{% endblock %}
        {% with_data "js_data" as js_data %}
            {% include "head_js_data.html" %}
        {% end_with_data %}
        {% render_block "js" %}
        {% block js %}{% endblock js %}
    </head>

    <body class="locale-{{ LANGUAGE_CODE|default:"en-us" }} {% if LANGUAGE_BIDI %}dir-rtl{% else %}dir-ltr{% endif %} {% block body_classes %}{% endblock body_classes %}">
        {% block header-wrapper %}
            <header class="{% block header_classes %}{% endblock header_classes %}">
                {% block header-before %}{% endblock header-before %}
                {% block header %}
                    {% block header_heading %}
                        {% include "header_heading.html" %}
                    {% endblock header_heading %}
                {% endblock header %}
                {% block header-after %}{% endblock header-after %}
            </header>
        {% endblock header-wrapper %}
        {% block between-header-content %}{% endblock between-header-content %}
        {% block content-wrapper %}
            <section class="content {% block content_classes %}{% endblock content_classes %}">
                {% block content %}{% endblock content %}
            </section>
        {% endblock content-wrapper %}
        {% block between-content-footer %}{% endblock between-content-footer %}
        {% block footer-wrapper %}
            <footer class="{% block footer_classes %}{% endblock footer_classes %}">
                {% block footer %}
                    {% include "footer.html" %}
                {% endblock footer %}
            </footer>
        {% endblock footer-wrapper %}
    </body>
</html>
