{% load i18n future staticfiles sekizai_tags %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% block title_suffix %}{% block title_delimiter %} – {% endblock title_delimiter %}{% block title_site_name %}{{ NETWORK.NAME|default:site.name }}{% endblock title_site_name %}{% endblock title_suffix %}{% endblock title %}</title>
        {% render_block "extrahead" %}
        {% block extrahead %}{% endblock extrahead %}
        {% with_data "css_data" as css_data %}
            {% for css in css_data %}
                <link href="{% static css %}" media="screen" rel="stylesheet" type="text/css" />
            {% endfor %}
        {% end_with_data %}
        {% render_block "css" %}
        {% block css %}{% endblock css %}
        {% with_data "js_data" as js_data %}
            {% for js in js_data %}
                <script src="{% static js %}" type="text/javascript"></script>
            {% endfor %}
        {% end_with_data %}
        {% render_block "js" %}
        {% block js %}{% endblock js %}
    </head>

    <body>
        {% block header-wrapper %}
            <header>
                {% block header %}
                    {% block accounts_menu %}
                        <div class="accounts-menu-wrapper">
                            <ul class="accounts-menu">

                            </ul>
                        </div>
                    {% endblock accounts_menu %}
                    {% block header_heading %}
                        <div class="header-heading">
                            {% if NETWORK.LOGO_FILE %}
                                <a href="{% url "main_page" %}" class="logo"><img src="{% static NETWORK.LOGO_FILE %}" alt="{{ NETWORK.NAME }}" title="{{ NETWORK.DESCRIPTION|default:NETWORK.NAME }}" /></a>
                            {% else %}
                                <h1><a href="{% url "main_page" %}">{{ NETWORK.NAME }}</a></h1>
                                {% if NETWORK.DESCRIPTION %}<h2><a href="{% url "main_page" %}">{{ NETWORK.DESCRIPTION }}</a></h2>{% endif %}
                            {% endif %}
                        </div>
                    {% endblock header_heading %}
                {% endblock header %}
            </header>
        {% endblock header-wrapper %}
        {% block content-wrapper %}
            <section>
                {% block content %}{% endblock content %}
            </section>
        {% endblock content-wrapper %}
        {% block footer-wrapper %}
            <footer>
                {% block footer %}
                    <p class="poweredby">{% blocktrans with nodewatcher='<a href="https://dev.wlan-si.net/wiki/Nodewatcher"><i>nodewatcher</i></a>' wlanslovenija='<a href="https://wlan-si.net/"><i>wlan slovenija</i></a>' %}Powered by {{ nodewatcher }}, a project of {{ wlanslovenija}} open wireless network.{% endblocktrans %}</p>
                {% endblock footer %}
            </footer>
        {% endblock footer-wrapper %}
    </body>
</html>
