{% load forloop_tags url_tags %}

{% comment %}
This template uses `menu` (menu object) in the context.
{% endcomment %}

{% spaceless %}
    {% if menu %}
        <ul class="menu-list">
            {% for menu_entry in menu %}
                <li class="menu-entry {{ menu_entry.classes }} {% active_url menu_entry.all_urls "active" %} {% css_classes "first" "last" "odd" "even" %}"><a href="{{ menu_entry.url }}" class="menu-entry-link"><span class="menu-entry-label">{{ menu_entry.label }}</span></a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
