{% contextblock %}
    {% load sekizai_tags html_tags leaflet_tags %}
    {% addtoblock "css" %}{% leaflet_css %}{% endaddtoblock %}
    {% addtoblock "js" %}{% leaflet_js %}{% endaddtoblock %}
    {% add_data "js_data" "map/js/api.js" %}
    {% add_data "js_data" "location/js/map.js" %}
{% endcontextblock %}

{% load i18n %}
<div class="row snippet node-location">
<div class="col-md-2 key">{% trans "Location" %}</div>
<div class="col-md-10 value">{% blocktrans with node_address=node_location.address|default:_("unknown") node_city=node_location.city|default:_("unknown") node_country=node_location.get_country_display|default:_("unknown") %}{{ node_address }}, {{ node_city }}, {{ node_country }}{% endblocktrans %}
{% if node_location.geolocation %}
{% with node.name|anchorify as widget_id %}
<script type="text/javascript">
    function snippet_map_{{ widget_id }} (map, options) {
        new L.marker([{{ node_location.geolocation.y }}, {{ node_location.geolocation.x }}]).addTo(map);
    	map.setView([{{ node_location.geolocation.y }}, {{ node_location.geolocation.x }}], 18);        
    }
</script>
{% leaflet_map widget_id callback="snippet_map_"|add:widget_id %}
{% endwith %}
{% endif %}
</div>
</div>
