{% overextends "nodes/list.html" %}

{% contextblock %}
    {% load future i18n sekizai_tags html_tags %}
    {% trans "My Nodes" as title %}
{% endcontextblock %}

{% block altlinks %}
    {% url "api:api_dispatch_list" "v1" "node" as api_url %}
    {% with username=request.user.username|urlencode %}
    {% with api_url|add:"?maintainer="|add:username as url %}
    {% include "formats.html" %}
    {% endwith %}
    {% endwith %}
{% endblock altlinks %}

{% block node_list_data_source %}{{ block.super }}?maintainer={{ request.user.username|urlencode }}{% endblock node_list_data_source %}

{% block node_list_classes %}mynodes-list {{ block.super }}{% endblock node_list_classes %}

{% block node_list_legend_classes %}mynodes-list-legend {{ block.super }}{% endblock node_list_legend_classes %}
