// -*- Mode: css; indent-tabs-mode: nil; c-basic-offset: 2; tab-width: 2 -*-



input[type="text"], input[type="password"], input.textwidget {padding:0.25em 0.5em;}
input[type="text"], input[type="password"], input.textwidget, textarea {border:1px solid #D7D7D7;}
input[type=text]:focus, input[type="password"]:focus, input.textwidget:focus, textarea:focus { border: 1px solid #886;}

input[type="button"]:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover {
    background: #E5E5E5 none repeat scroll 0% 0%;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: #EEEEEE none repeat scroll 0% 0%;
  border:1px solid #CCCCCC;
  color: #222222;
  padding:0.1em 0.5em;   
	@include border-radius($rounding);
}











.no-top-margin {
  margin-top: 0px;
}



