{% overextends "base.html" %}

{% contextblock %}
    {% load future i18n html_tags %}

    {% setcontext as title %}{% blocktrans %}Node {{ node_name }}{% endblocktrans %}{% endsetcontext %}
    {% url "DisplayComponent:node" node.pk as permalink %}
{% endcontextblock %}

{% block altlinks %}
    {% heading 2 _("Other Formats") %}

    <ul class="altlinks-list node-display-altlinks">
        <li class="xml"><a href="{% url "api:api_dispatch_detail" "v1" "node" node.pk %}?format=xml">{% trans "XML" %}</a></li>
        <li class="json"><a href="{% url "api:api_dispatch_detail" "v1" "node" node.pk %}?format=json">{% trans "JSON" %}</a></li>
    </ul>
{% endblock altlinks %}

{% block content_before %}
    {{ block.super }}
    {% block display_node_menu_wrapper %}
        <section class="menu display-node-menu {% block display_node_menu_classes %}{% endblock display_node_menu_classes %}">
            {% block display_node_menu %}
                {% include "nodes/display_node_menu.html" %}
            {% endblock display_node_menu %}
        </section>
    {% endblock display_node_menu_wrapper %}
{% endblock content_before %}

{% block content %}
    {% block display_partial_wrapper %}
        {% include "nodes/display_partial.html" %}
    {% endblock display_partial_wrapper %}
{% endblock content %}
