*.log
*.sqlite
*.sqlite-journal
*.pyc
*.rrd
/nodewatcher/frontend/secrets.py
/nodewatcher/frontend/*.xml
/nodewatcher/frontend/*.json
/nodewatcher/static/graphs/
/nodewatcher/static/wlansi
/nodewatcher/monitor/simulator/data/
/generator/build/
/docs/_build/
*.swp
.idea
