Django==1.4
South==0.7.4
celery==3.0.5
django-celery==3.0.4
django-guardian==1.0.4
django-phonenumber-field==0.2a3
django-polymorphic==0.2
django-registration==0.8
dnspython==1.10.0
mongoengine==0.6.18
django-datastream=0.1
python-memcached==1.48
psycopg2==2.4.5
