Django==1.9.4
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
Sphinx==1.2.3
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.22
celery==3.1.20
datastream[influxdb]==0.5.14
defusedxml==0.4.1
git+https://github.com/zestedesavoir/django-cors-middleware.git@1b9f8f5a10cc4251ac9a9c255bbb34a4962ed3f3#egg=cors_middleware-zestedesavoir
django-classy-tags==0.7.1
ujson==1.35
git+https://github.com/wlanslovenija/django-tastypie.git@d8c51ef2ef55efa49409f7ac1f1c44b1258be8b9#egg=django_tastypie-wlanslovenija
--allow-all-external git+https://github.com/wlanslovenija/django-datastream.git@2491245bff7893fb13de143fa26fb1aa1f4f45c9#egg=django_datastream-master
git+https://github.com/wlanslovenija/django-guardian.git@fff3e0bb16f079d2d1995e9b8caffda4c5738212#egg=django_guardian-wlanslovenija
git+https://github.com/wlanslovenija/django-missing.git@cbc730248c62fa8fd433794b8fe4072183aba156#egg=django_missing-wlanslovenija
django-phonenumber-field==1.0.0
django_polymorphic==0.9.1
django-registration==2.0.4
django-sekizai==0.9.0
dnspython==1.12.0
docutils==0.12
lxml==3.5.0
kombu==3.0.33
mimeparse==0.1.3
mock==1.3.0
phonenumbers==7.2.4
psycopg2==2.6.1
git+https://github.com/wlanslovenija/pyScss.git@026664cf390ffb6883994cbc54c5b3d3f507a48d#egg=pyScss-wlanslovenija
python-dateutil==2.4.2
python-memcached==1.53
pytz==2015.7
six==1.10.0
sphinx-me==0.3
wsgiref==0.1.2
django-timezone-field==1.3
django-jsonfield==0.9.15
paramiko==2.0.2
django-leaflet==0.18.0
django-countries==3.4.1
django-timedeltafield==0.7.10
git+https://github.com/wlanslovenija/django-postgres.git@2c9760da48caaf9656c8b1e3f81e70671b7e7c5e#egg=django_postgres-master
pyinotify==0.9.5
requests==2.5.1
unidecode==0.04.19
ijson==2.3
py-radix==0.9.3
django-oauth-toolkit==0.10.0
redis==2.10.5
git+https://github.com/wlanslovenija/django-rest-framework.git@4ce5ae7e3fdaac262b6356204f9c25da6ce71d61#egg=djangorestframework-wlanslovenija
git+https://github.com/wlanslovenija/django-rest-framework-gis.git@d6e9678c1bc109fd9db886aacd5d0925147c61d5#egg=djangorestframework_gis-wlanslovenija
git+https://github.com/wlanslovenija/drf-ujson-renderer.git@96cee399260daf469b7e4b004fa245edf9dd253c#egg=drf_ujson-wlanslovenija
grako==3.8.1
influxdb==3.0.0
networkx==1.11
