pip==9.0.3
Django==1.10.8
Jinja2==2.10
MarkupSafe==1.0
Pygments==2.2.0
Sphinx==1.7.4
amqp==2.2.2
anyjson==0.3.3
billiard==3.5.0.3
celery==3.1.25
datastream[influxdb]==0.5.19
defusedxml==0.5.0
git+https://github.com/zestedesavoir/django-cors-middleware.git@863a523385055ad043a64ac6c0d78c0184eb97d9#egg=cors_middleware-zestedesavoir
django-classy-tags==0.8.0
ujson==1.35
git+https://github.com/wlanslovenija/django-tastypie.git@d8c51ef2ef55efa49409f7ac1f1c44b1258be8b9#egg=django_tastypie-wlanslovenija
--allow-all-external git+https://github.com/wlanslovenija/django-datastream.git@a54a2e735950c5c31ec71613750bdf1ce194389f#egg=django_datastream-master
django-guardian==1.4.9
django-missing==0.2.1
django-phonenumber-field==1.3.0
django_polymorphic==1.1
django-registration==2.0.4
django-sekizai==0.10.0
dnspython==1.15.0
docutils==0.14
lxml==4.2.1
kombu==3.0.37
mimeparse==0.1.3
mock==2.0.0
phonenumbers==8.9.5
psycopg2==2.7.4
git+https://github.com/wlanslovenija/pyScss.git@026664cf390ffb6883994cbc54c5b3d3f507a48d#egg=pyScss-wlanslovenija
python-dateutil==2.7.2
python-memcached==1.59
pytz==2018.4
six==1.11
sphinx-me==0.3
wsgiref==0.1.2
django-timezone-field==2.1
paramiko==2.4.1
django-leaflet==0.23.0
django-countries==5.3
requests==2.18.4
unidecode==1.0.22
ijson==2.3
py-radix==0.10.0
django-oauth-toolkit==0.12.0
redis==2.10.6
djangorestframework==3.8.2
django-filter==1.1.0
git+https://github.com/wlanslovenija/django-rest-framework-gis.git@d2f8adab93be1cab75696485e9b0c56d41248328#egg=djangorestframework_gis-wlanslovenija
git+https://github.com/wlanslovenija/drf-ujson-renderer.git@96cee399260daf469b7e4b004fa245edf9dd253c#egg=drf_ujson-wlanslovenija
grako==3.11
influxdb==5.0.0
networkx==1.11
django-queryinspect==1.0.0
