git+https://github.com/wlanslovenija/django.git@3d8fa48500c4a1f3430be2061be7f45ff073bacc#egg=Django-wlanslovenija
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
South==1.0.0
Sphinx==1.2.3
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.18
celery==3.1.16
git+https://github.com/wlanslovenija/datastream.git@0b95d9495d751ec42a1759c4f234a7b580faf50d#egg=datastream-master
defusedxml==0.4.1
django-celery==3.1.16
django-classy-tags==0.5.1
git+https://github.com/wlanslovenija/django-tastypie.git@848c35dc5c9ebba6e1ede58ba928b0fda974275a#egg=django_tastypie-wlanslovenija
git+https://github.com/wlanslovenija/django-datastream.git@79347949e54ae1ff2e97a05f6589b957bae2eda4#egg=django_datastream-master
git+https://github.com/wlanslovenija/django-guardian.git@38460f0ab9c0d46e72b92a34a49d039d40a75a5e#egg=django_guardian-wlanslovenija
git+https://github.com/wlanslovenija/django-missing.git@a068cd6f66a0b33012259ebdc335b5082b772093#egg=django_missing-master
git+https://github.com/wlanslovenija/django-overextends.git@d70cdf44bff3fd130a0a64f4f6836ca3b8ea030f#egg=django_overextends-wlanslovenija
django-phonenumber-field==0.5
django_polymorphic==0.6
git+https://github.com/wlanslovenija/django-registration.git@670779dce3b81fabc7cc2394db1ddd45ffcc4dc7#egg=django_registration-wlanslovenija
django-sekizai==0.7
dnspython==1.12.0
docutils==0.12
lxml==3.4.0
kombu==3.0.23
mimeparse==0.1.3
mock==1.0.1
mongoengine==0.8.1
phonenumbers==6.1.0
psycopg2==2.5.4
git+https://github.com/wlanslovenija/pyScss.git@b84cf224eec73df01241a4c7fecc064dcafd6c4d#egg=pyScss-wlanslovenija
pymongo==2.6.3
python-dateutil==2.2
python-memcached==1.53
pytz==2014.7
six==1.8.0
sphinx-me==0.3
ujson==1.33
wsgiref==0.1.2
django-timezone-field==1.1
django-json-field==0.5.7
django-uuidfield==0.5.0
paramiko==1.15.1
