Django==1.4
PyYAML==3.10
South==0.7.5
amqplib==1.0.2
anyjson==0.3.1
celery==2.5.3
distribute==0.6.27
django-celery==2.5.5
django-phonenumber-field==0.2a3
django-picklefield==0.2.1
django-registration==0.8
dnspython==1.11.1
flup==1.0.2
kombu==2.1.7
lxml==2.3.4
ordereddict==1.1
phonenumbers==4.8b1
pymongo==2.1.1
pyparsing==1.5.6
python-aprmd5==0.2
python-dateutil==1.5
python-memcached==1.48
wsgiref==0.1.2
