{% extends "base.html" %}

{% contextblock %}
    {% load i18n partial_tags %}

    {% setcontext as title %}{% blocktrans %}Generate Firmware for Node {{ node_name }}{% endblocktrans %}{% endsetcontext %}
    {% setcontext as heading %}{% spaceless %}
        {% url "DisplayComponent:node" node.pk as node_url %}
        {% blocktrans %}Generate Firmware for Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}
    {% endspaceless %}{% endsetcontext %}
{% endcontextblock %}

{% block content %}
    <section class="node">
    {% block node_information_wrapper %}
        {% get_partial "node_general_partial" as node_general_partial %}
        {% with partial=node_general_partial %}
            {% include "base/partial.html" %}
        {% endwith %}
    {% endblock node_information_wrapper %}
    </section>

    {% block generate_firmware_form_wrapper %}
        {% with form_submit=_("Generate") %}
            {% include "generate_firmware_form.html" %}
        {% endwith %}
    {% endblock generate_firmware_form_wrapper %}
{% endblock %}
