
.leaflet-container {
    width:  100%;
    height: 600px;
}

.map-node {
	background-clip: padding-box;
	border-radius: 20px;
	background-color: rgba(181, 226, 140, 0.8);
	width: 34px;
	height: 34px;
	text-align: center;
	padding-top: 8px;
	text-indent: -1px;
	margin-top: -18px;
	margin-left: -18px;
}

.map-node i.icon {
	font-size: 18px;
}
