{% extends "base.html" %}

{% contextblock %}
    {% load future i18n sekizai_tags %}

    {% add_data "js_data" "frontend/js/jquery.cookie.js" %}
    {% add_data "js_data" "frontend/js/csrf.js" %}
    {% add_data "js_data" "frontend/js/registry.js" %}

    {% setcontext as title %}{% trans "Unknown Node Registration" %}{% endsetcontext %}
    {% setcontext as heading %}{% trans "Unknown Node Registration" %}{% endsetcontext %}
{% endcontextblock %}

{% block content %}
    <form class="form-horizontal" method="post" action="{% url "UnknownNodesComponent:register" unknown_node_uuid %}">
        {% csrf_token %}

        <div id="registry_forms">
            {% include "registry/forms.html" %}
        </div>
    </form>
{% endblock %}
