{% extends "base.html" %}
{% load i18n %}

{% block title %}Generate Image for {{ node.name }}{% endblock %}

{% block content %}
<h1>Generate Image for {{ node.name }}</h1>

{% if form.errors %}
<div class="error">
  {% blocktrans %}<b>Oooops!</b> The following errors have ocurred while attempting to process your request:{% endblocktrans %}<br />
  <br/>
  {% for error in form.non_field_errors %}
  <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% for field in form %}
  {% for error in field.errors %}
  {{ field.label }}: <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}

<form method="POST" action="{% url generate_node node.pk %}">
<table border="0" width="700">
  <tr class="section_title">
    <td colspan="2">
      {% trans "General Node Information" %}
    </td>
  </tr>
  <tr>
    <td style="width: 200px;">{% trans "IP address" %}</td>
    <td>{{ node.ip }}</td>
  </tr>
  <tr>
    <td>{% trans "Name" %}</td>
    <td>{{ node.name|default:"???" }}</td>
  </tr>
  <tr>
    <td>{% trans "Maintainer" %}</td>
    {% if node.owner %}
    <td><a href="/user/profile/{{ node.owner.id }}">{{ node.owner.username }}</a></td>
    {% else %}
    <td>{% trans "unknown" %}</td>
    {% endif %}
  </tr>
  <tr>
    <td>{% trans "Location" %}</td>
    <td>{{ node.location|default:"unknown" }}</td>
  </tr>
  <tr>
    <td>{% trans "Project" %}</td>
    <td>{{ node.project.name|default:"unknown" }}</td>
  </tr>
  <tr class="section_title">
    <td colspan="2">
      {% trans "Image Generator Information" %}
    </td>
  </tr>
  {% if user.is_staff %}
  <tr>
    <td>{{ form.email_user.label }}</td>
    <td>{{ form.email_user }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans "Router type" %}</td>
    <td>{{ node.profile.template.name }}</td>
  </tr>
  <tr>
    <td>{% trans "Enable VPN" %}</td>
    <td>{% if node.profile.use_vpn %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Enable captive portal" %}</td>
    <td>{% if node.profile.use_captive_portal %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  <tr>
    <td valign="top">{{ form.config_only.label }}</td>
    <td>
      {{ form.config_only }}<br/>
      <span class="small_text">{% blocktrans %}Check this option to generate <b>ONLY</b> configuration files and not complete firmware image. Use those files as a starting point when you are setting up a <a href="http://wlan-lj.net/wiki/Podrobnosti/PoMeri">custom node</a>.{% endblocktrans %}</span>
    </td>
  </tr>
  {% if node.profile.template.experimental %}
  <tr>
    <td colspan="2" class="error">
      {% blocktrans %}The firmware version you have chosen is marked as <b>experimental</b>! This may mean that it has not been extensively tested and might contain serious issues. For further information please see <a href="http://wlan-lj.net/wiki/Podrobnosti/ZnaneTezave">known issues</a> page. If you find any bugs, please <a href="http://wlan-lj.net/newticket"">report them</a>. Also if you find the image to be working properly for a longer period of time, also <a href="http://wlan-lj.net/newticket">report it</a> so it may be moved from its experimental status.{% endblocktrans %}
    </td>
  </tr>
  {% endif %}
  <tr>
    {% if not node.owner.email %}
    <td colspan="2" class="error">
      {% blocktrans %}You have no e-mail address configured in your account! To set one, please visit <a href="http://wlan-lj.net/prefs">http://wlan-lj.net/prefs</a> (you may need to login to see this page) and configure yourself a valid e-mail address. Until then some functions (like image generation) are disabled.{% endblocktrans %}
    </td>
    {% else %}
    {% if node.has_allocated_subnets %}
    <td colspan="2" class="notice">
      {% blocktrans %}After you press <b>Generate</b> below, your request will be queued for later processing. After the image is ready, you will be notified of its download location via e-mail.{% endblocktrans %}
    </td>
    {% else %}
    <td colspan="2" class="error">
      {% blocktrans %}This node has no allocated subnets or none are assigned to the WiFi interface, image generation is not possible. Please assign some subnets using the <b>add subnet</b> link on node information page.{% endblocktrans %}
    </td>
    {% endif %}
    {% endif %}
  </tr>
</table>
  <div class="buttons">
    {% if node.has_allocated_subnets and node.owner.email %}
    <input type="submit" value="{% trans "Generate" %}" />&nbsp;
    {% endif %}
    <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.pk %}'" />
  </div>
</form>
{% endblock %}
