{% extends "base.html" %}
{% load i18n %}

{% block title %}Image Generation{% endblock %}

{% block content %}
<h1>Image Generation Request Queued</h1>

<div class="notice">
  Your image generation request has been successfully queued in our system. You should receive an email containing generated image download locations in a short while (though in times of many requests, there will be some delay).
</div>
<br />
<div style="width: 700px; text-align: center">
  <input type="button" value="{% trans "Back to Node Information" %}" onclick="document.location='/nodes/node/{{ node.ip }}'" />
</div>

<br /><br/><br/><br/><br/><br/>
{% endblock %}
