{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load menu_tags %}

{% get_menu "accounts_menu" as accounts_menu %}

{% block included_accounts_menu %}
    {% with menu=accounts_menu %}
        {% spaceless %}
            {% if menu %}
                <ul class="nav navbar-nav navbar-right menu-list menu-{{ menu.name }} {% block included_menu_classes %}{% endblock included_menu_classes %}">
                    {% block included_menu %}
                        {% for menu_entry in menu %}
                            {% block included_menu_entry %}
                                {% render_menu_entry menu_entry %}
                            {% endblock included_menu_entry %}
                        {% endfor %}
                    {% endblock included_menu %}
                </ul>
            {% endif %}
        {% endspaceless %}
    {% endwith %}
{% endblock included_accounts_menu %}
