{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load menu_tags %}
{% load i18n %}
{% get_menu "accounts_menu" as accounts_menu %}

{% block included_accounts_menu %}
{% if user.is_authenticated %}
    {% with menu=accounts_menu icon="user" title=user %}
    {% include "base/dropdown_menu.html" %}
    {% endwith %}
{% else %}
    {% with menu=accounts_menu icon="user" title="" %}
    {% include "base/dropdown_menu.html" %}
    {% endwith %}
{% endif %}
{% endblock included_accounts_menu %}
