{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load menu_tags %}

{% comment %}
This template uses `menu` (menu object) in the context.
{% endcomment %}

{% block base_menu_wrapper %}
    {% spaceless %}
        {% if menu %}
            <ul class="menu-list">
                {% block base_menu %}
                    {% for menu_entry in menu %}
                        {% block base_menu_entry %}
                            {% render_menu_entry menu_entry %}
                        {% endblock base_menu_entry %}
                    {% endfor %}
                {% endblock base_menu %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock base_menu_wrapper %}
