{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load menu_tags %}

{% comment %}
This template uses `menu` (menu object) in the context.
{% endcomment %}

{% block included_menu_wrapper %}
    {% spaceless %}
        {% if menu %}
            <ul class="nav navbar-nav menu-list menu-{{ menu.name }} {% block included_menu_classes %}{% endblock included_menu_classes %}">
                {% block included_menu %}
                    {% for menu_entry in menu %}
                        {% block included_menu_entry %}
                            {% render_menu_entry menu_entry %}
                        {% endblock included_menu_entry %}
                    {% endfor %}
                {% endblock included_menu %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock included_menu_wrapper %}
