{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load partial_tags %}

{% comment %}
This template uses `partial` (partial object) in the context.
{% endcomment %}

{% block included_partial_wrapper %}
    {% if partial %}
        <section class="partial-section partial-{{ partial.name }} {% block included_partial_classes %}{% endblock included_partial_classes %}">
            {% block included_partial %}
                {% for partial_entry in partial %}
                    {% block included_partial_entry %}
                        {% render_partial_entry partial_entry %}
                    {% endblock included_partial_entry %}
                {% endfor %}
            {% endblock included_partial %}
        </section>
    {% endif %}
{% endblock included_partial_wrapper %}
