{% extends "base.html" %}

{% contextblock %}
    {% load future i18n %}

    {% trans "Account" as title %}
{% endcontextblock %}

{% block content %}
    {% url "AccountsComponent:auth_password_change" as auth_password_change_url %}
    <p>{% blocktrans %}Do you want to <a href="{{ auth_password_change_url }}">change your password</a>?{% endblocktrans %}</p>
    <p>{% trans "Username" %} {{ user.username }}</p>
    {% with form_submit=_("Update account") %}
        {% include "form.html" %}
    {% endwith %}
{% endblock %}
