{% overextends "base.html" %}

{% contextblock %}
    {% load future i18n %}

    {% setcontext as title %}{% blocktrans %}User {{ username }}{% endblocktrans %}{% endsetcontext %}
{% endcontextblock %}

{% block content %}
    {% url "AccountsComponent:user_account" as user_account_url %}
    {% if user.username == username %}
        <p>{% blocktrans %}Do you want to <a href="{{ user_account_url }}">change your account</a>?{% endblocktrans %}</p>
    {% endif %}
    <p>{% trans "Username" %} {{ username }}.</p>
{% endblock %}
