/* Forms */
form { text-align: left; margin: 20px 0; }
form ul.errorlist { color: #8e1a1a; width: 100%; margin: 0 auto 5px auto; font-size: 90%; }
form ul.errorlist li { background: #f2d3d3 none; margin: 0px; padding: 4px; }
form fieldset ul.errorlist { background: transparent; position: absolute; top: 10px; left: 100%; width: 100px; }
form fieldset { width: 480px; }
form fieldset legend { margin: 20px 0 10px 0; font-size: 130%; font-weight: bold; }
form fieldset input { width: 300px; }
form fieldset label { display: inline-block; width: 170px; }
form fieldset > ul > li, form .buttons li { background: none; padding: 10px 0 10px 0; }
form .buttons { margin: 20px; text-align: center; }
form .required label:after { content: " *"; font-weight: bold; color: #8e1a1a; }
form .help { color: #AFAFAF; font-size: 85%; padding-top: 5px; }
form li.error { position: relative; clear: both; }
form li.error fieldset { border: 1px solid transparent; }
form li.error input.text, form li.error input.title, form li.error input[type=email], form li.error input[type=text], form li.error input[type=password], form li.error textarea, form li.error select { border: 1px solid #8e1a1a; }
form li.error input.text:focus, form li.error input.title:focus, form li.error input[type=email]:focus, form li.error input[type=text]:focus, form li.error input[type=password]:focus, form li.error textarea:focus, form li.error select:focus { border: 1px solid #8e1a1a; }
form select { background-color: white; margin-right: 5px; max-width: 300px; }
form input[type="submit"], form input[type="reset"] { border: none; padding: 3px; min-width: 100px; font-weight: bold; }
form .buttons { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; *zoom: 1; }
form .buttons li { list-style-image: none; list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
form .buttons li:first-child, form .buttons li.first { padding-left: 0; }
form .buttons li:last-child, form .buttons li.last { padding-right: 0; }
form .buttons input { margin: 5px; }
form fieldset { border: 1px solid transparent; }
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password], form textarea, form select { border: 1px solid #afafaf; }
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus, form textarea:focus, form select:focus { border: 1px solid #737373; }
