/* compass watch Documents/Graphics/Design/wlan-lj/nodewatcher/ --css-dir ../../../../../workspace/nodewatcher/static/css -s compact --images-dir ../../../../../workspace/nodewatcher/static/css/images --relative-assets
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 17, ../scss/_base.scss */
body {
  margin: 0px;
  background: #f0f0f0 url('/../images/background.png?1318769816') repeat-y top center;
  color: #656565;
  font-family: Verdana,Arial,'Bitstream Vera Sans',Helvetica,sans-serif;
  font-size: 13px;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}

/* line 30, ../scss/_base.scss */
a {
  text-decoration: none;
}
/* line 64, ../scss/_rapid.scss */
a:link {
  color: #68ae2c;
}
/* line 69, ../scss/_rapid.scss */
a:visited {
  color: #4a900e;
}
/* line 73, ../scss/_rapid.scss */
a:link:hover, a:visited:hover {
  text-decoration: underline;
}
/* line 76, ../scss/_rapid.scss */
a h1 :link, a h1 :visited, a h2 :link, a h2 :visited, a h3 :link, a h3 :visited,
a h4 :link, a h4 :visited, a h5 :link, a h5 :visited, a h6 :link, a h6 :visited {
  color: inherit;
}

/* line 34, ../scss/_base.scss */
.anchor:link, .anchor:visited, .anchor:link:hover, .anchor:visited:hover {
  border: none;
  color: #aef472;
  font-size: 80%;
  vertical-align: text-top;
  text-decoration: none;
}

/* line 42, ../scss/_base.scss */
* > .anchor:link, * > .anchor:visited {
  visibility: hidden;
}

/* line 47, ../scss/_base.scss */
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor,
h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  visibility: visible;
}

/* line 51, ../scss/_base.scss */
h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: -0.018em;
  page-break-after: avoid;
}

/* line 56, ../scss/_base.scss */
h1 {
  font-size: 1.445em;
  margin: .15em 0 0.5em 0;
  vertical-align: bottom;
}

/* line 57, ../scss/_base.scss */
h2 {
  font-size: 1.19em;
  margin: .10em 0 0.4em 0;
}

/* line 58, ../scss/_base.scss */
h3 {
  font-size: 1.063em;
  margin: .7em 0 0.2em 0;
}

/* line 59, ../scss/_base.scss */
hr {
  border: none;
  border-top: 1px solid #ccb;
  margin: 2em 0;
}

/* line 60, ../scss/_base.scss */
address {
  font-style: normal;
}

/* line 61, ../scss/_base.scss */
img {
  border: none;
}

/* line 63, ../scss/_base.scss */
#header {
  margin: 0px auto;
  width: 900px;
  height: 125px;
  background: transparent url('/../images/logo.png?1318775911') no-repeat bottom left;
}
/* line 68, ../scss/_base.scss */
#header h1 {
  padding: 40px 0 0 10px;
  color: #9b9b9b;
  overflow: hidden;
  font-size: 2.125em;
  margin: 0;
}
/* line 69, ../scss/_base.scss */
#header h2 {
  padding: 0 0 0 10px;
  color: white;
  margin: 0;
}
/* line 70, ../scss/_base.scss */
#header h1 a, #header h1 a:hover, #header h2 a, #header h2 a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 73, ../scss/_base.scss */
#footer {
  padding: 30px 10px;
  font-size: 0.765em;
  text-align: center;
  color: #6f6f6f;
}
/* line 78, ../scss/_base.scss */
#footer a {
  text-decoration: none;
}
/* line 64, ../scss/_rapid.scss */
#footer a:link {
  color: #474747;
}
/* line 69, ../scss/_rapid.scss */
#footer a:visited {
  color: #292929;
}
/* line 73, ../scss/_rapid.scss */
#footer a:link:hover, #footer a:visited:hover {
  text-decoration: underline;
}
/* line 76, ../scss/_rapid.scss */
#footer a h1 :link, #footer a h1 :visited, #footer a h2 :link, #footer a h2 :visited, #footer a h3 :link, #footer a h3 :visited,
#footer a h4 :link, #footer a h4 :visited, #footer a h5 :link, #footer a h5 :visited, #footer a h6 :link, #footer a h6 :visited {
  color: inherit;
}

/* line 81, ../scss/_base.scss */
#main {
  background: white;
  margin: 0px auto;
  width: 900px;
  margin-top: 0px;
  min-height: 300px;
  border: 1px solid #aade7e;
  border-width: 0 1px;
}
/* line 89, ../scss/_base.scss */
#main h1 {
  clear: none;
}

/* line 92, ../scss/_base.scss */
#altlinks {
  clear: both;
  text-align: center;
}
/* line 94, ../scss/_base.scss */
#altlinks h3 {
  font-size: 1.02em;
  letter-spacing: normal;
  margin: 0;
}
/* line 95, ../scss/_base.scss */
#altlinks ul {
  list-style: none;
  margin: 0;
  padding: 0 0 1em;
}
/* line 96, ../scss/_base.scss */
#altlinks li {
  display: inline;
  font-size: 11px;
  line-height: 1.5;
  padding: 0 1em;
  white-space: nowrap;
}
/* line 103, ../scss/_base.scss */
#altlinks li.last {
  border-right: none;
}
/* line 104, ../scss/_base.scss */
#altlinks li :link, #altlinks #altlinks li :visited {
  background-repeat: no-repeat;
  color: #666;
  border: none;
  padding: 0 0 2px;
}
/* line 110, ../scss/_base.scss */
#altlinks li a.rss {
  background-image: url('/../images/feed.png?1318769816');
  padding-left: 20px;
}

/* line 116, ../scss/_base.scss */
.nav li {
  display: inline;
  padding: 0 .75em;
  white-space: nowrap;
}
/* line 121, ../scss/_base.scss */
.nav h2, .nav hr {
  display: none;
}
/* line 122, ../scss/_base.scss */
.nav ul {
  list-style: none;
  margin: 0;
  text-align: right;
}

/* line 125, ../scss/_base.scss */
#metanav {
  position: absolute;
  top: 10px;
  overflow: hidden;
  width: 400px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
}
/* line 131, ../scss/_base.scss */
#metanav ul {
  margin: 0 0 0 10px;
  font-size: 0.85em;
  padding: 0px;
  text-align: left;
  width: 100%;
}
/* line 137, ../scss/_base.scss */
#metanav ul li {
  border-width: 0px;
  color: white;
}
/* line 138, ../scss/_base.scss */
#metanav ul a {
  color: #9b9b9b;
}
/* line 56, ../scss/_rapid.scss */
#metanav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  background: transparent url('/../images/bulletgray.png?1318769816') no-repeat center left;
  padding-left: 9px;
  padding-right: 5px;
}
/* line 43, ../scss/_rapid.scss */
#metanav li:first-child, #metanav li.first {
  background: none;
  padding-left: 0px;
}
/* line 46, ../scss/_rapid.scss */
#metanav li:last-child, #metanav li.last {
  padding-right: 0px;
}

/* line 144, ../scss/_base.scss */
#ctxtnav {
  height: 1em;
  font-size: 0.977em;
  padding: 5px 0 8px 0;
  background-color: #aade7e;
  font-weight: bold;
  text-align: center;
}
/* line 151, ../scss/_base.scss */
#ctxtnav ul {
  padding: 0;
  display: inline;
  margin: 0;
}
/* line 155, ../scss/_base.scss */
#ctxtnav ul li {
  padding: 0;
  color: #9b9b9b;
}
/* line 156, ../scss/_base.scss */
#ctxtnav ul li :link, #ctxtnav ul li :visited {
  padding: 0 10px;
  color: #9b9b9b;
}

/* line 160, ../scss/_base.scss */
#mynav {
  height: 1em;
  font-size: 0.85em;
  padding: 5px 0 8px 0;
  background-color: #9b9b9b;
  font-weight: bold;
  text-align: center;
}
/* line 167, ../scss/_base.scss */
#mynav ul {
  padding: 0;
  display: inline;
  margin: 0;
}
/* line 171, ../scss/_base.scss */
#mynav ul li {
  padding: 0;
  color: white;
}
/* line 172, ../scss/_base.scss */
#mynav ul li :link, #mynav ul li :visited {
  padding: 0 10px;
  color: white;
}

/* line 176, ../scss/_base.scss */
table.listing {
  margin-top: 0px;
  clear: both;
  border-bottom: 1px solid #cccccc;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
/* line 88, ../scss/_rapid.scss */
table.listing th {
  text-align: left;
  padding: 0 1em .1em 0;
  font-size: 12px;
}
/* line 93, ../scss/_rapid.scss */
table.listing th.asc a, table.listing th.desc a {
  font-weight: bold;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
/* line 94, ../scss/_rapid.scss */
table.listing th.asc a {
  background-image: url(../asc.png);
}
/* line 95, ../scss/_rapid.scss */
table.listing th.desc a {
  background-image: url(../desc.png);
}
/* line 96, ../scss/_rapid.scss */
table.listing td.center {
  text-align: center;
}
/* line 97, ../scss/_rapid.scss */
table.listing thead {
  background: #dadada;
}
/* line 98, ../scss/_rapid.scss */
table.listing thead th {
  border: 1px solid #c2c2c2;
  border-bottom-color: #cccccc;
  font-size: 11px;
  font-weight: bold;
  padding: 2px .5em;
  vertical-align: bottom;
}
/* line 105, ../scss/_rapid.scss */
table.listing thead th :link:hover, table.listing thead th :visited:hover {
  background-color: transparent;
}
/* line 106, ../scss/_rapid.scss */
table.listing thead th a {
  border: none;
  padding-right: 12px;
}
/* line 110, ../scss/_rapid.scss */
table.listing tbody tr {
  border-top: 1px solid #cccccc;
}
/* line 111, ../scss/_rapid.scss */
table.listing tbody tr.even {
  background-color: #f3f3f3;
}
/* line 112, ../scss/_rapid.scss */
table.listing tbody tr.odd {
  background-color: #e9e9e9;
}
/* line 113, ../scss/_rapid.scss */
table.listing tbody tr:hover {
  background: #dfdfdf;
}
/* line 114, ../scss/_rapid.scss */
table.listing tbody tr.focus {
  background: #dfdfdf;
}
/* line 115, ../scss/_rapid.scss */
table.listing tbody td, table.listing tbody th {
  border: 1px dotted #d6d6d6;
  padding: .3em .5em;
  vertical-align: top;
}
/* line 116, ../scss/_rapid.scss */
table.listing tbody td, table.listing tbody td a:hover, table.listing tbody th a:hover {
  background-color: transparent;
}
/* line 118, ../scss/_rapid.scss */
table.listing tfoot td {
  background-color: #eeeeee;
  padding: 5px;
  text-align: center;
  border: 1px solid #cccccc;
}
/* line 179, ../scss/_base.scss */
table.listing tbody tr.section_title:hover, table.listing tbody tr.section_title:focus, table.listing tbody tr.section_title {
  background-color: #FFFFFF;
}
/* line 180, ../scss/_base.scss */
table.listing tbody tr.webclient {
  background-color: #EEFFD6;
}
/* line 181, ../scss/_base.scss */
table.listing tbody tr.webclient td.name {
  font-weight: bold;
}
/* line 184, ../scss/_base.scss */
table.listing tbody td.notice, table.listing tbody th.notice {
  padding: 5px;
  border: 1px solid #D7D7D7;
  background-color: #E1FFB8;
  color: #3D6744;
  text-align: center;
}
/* line 192, ../scss/_base.scss */
table.listing .section_title td {
  font-weight: bold;
}
/* line 194, ../scss/_base.scss */
table.listing .section_title td h3 {
  margin: 0;
}
/* line 197, ../scss/_base.scss */
table.listing tbody td.center {
  text-align: center;
}

/* line 202, ../scss/_base.scss */
input[type="text"], input[type="password"], input.textwidget {
  padding: 0.25em 0.5em;
}

/* line 203, ../scss/_base.scss */
input[type="text"], input[type="password"], input.textwidget, textarea {
  border: 1px solid #D7D7D7;
}

/* line 204, ../scss/_base.scss */
input[type=text]:focus, input[type="password"]:focus, input.textwidget:focus, textarea:focus {
  border: 1px solid #886;
}

/* line 208, ../scss/_base.scss */
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background: #E5E5E5 none repeat scroll 0% 0%;
}

/* line 214, ../scss/_base.scss */
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: #EEEEEE none repeat scroll 0% 0%;
  border: 1px solid #CCCCCC;
  color: #222222;
  padding: 0.1em 0.5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 224, ../scss/_base.scss */
#content {
  padding: 15px 20px 20px 20px;
  clear: both;
}
/* line 228, ../scss/_base.scss */
#content abbr {
  cursor: help;
  border-bottom: 1px dotted __text__;
  font-size: 0.68em;
  text-transform: uppercase;
}
/* line 235, ../scss/_base.scss */
#content table.layout {
  width: 860px;
}
/* line 239, ../scss/_base.scss */
#content .proptable {
  width: 860px;
  margin: 3px 0 15px 0;
  clear: none;
}
/* line 243, ../scss/_base.scss */
#content .proptable td {
  padding: 5px;
  vertical-align: top;
}
/* line 244, ../scss/_base.scss */
#content .proptable td.proplabel {
  width: 258px;
  background: #f5f5f5;
  font-weight: bold;
}
/* line 249, ../scss/_base.scss */
#content .proptable td.propbody {
  width: 602px;
}
/* line 252, ../scss/_base.scss */
#content .proptable .propdescription {
  font-size: 0.722em;
  color: #838383;
}
/* line 256, ../scss/_base.scss */
#content .proptable.narrow {
  font-size: 1.275em;
  width: 560px;
}
/* line 259, ../scss/_base.scss */
#content .proptable.narrow td.proplabel {
  width: 168px;
  background: none;
}
/* line 260, ../scss/_base.scss */
#content .proptable.narrow td.propbody {
  width: 392px;
}
/* line 264, ../scss/_base.scss */
#content .small_text {
  font-size: 0.68em;
  color: #838383;
}
/* line 270, ../scss/_base.scss */
#content.nodes .node_details {
  clear: both;
}
/* line 274, ../scss/_base.scss */
#content .buttons {
  text-align: right;
}

/* line 279, ../scss/_base.scss */
h3.folding {
  cursor: pointer;
  margin: 20px 20px 10px 20px;
  background: transparent url('/../images/folding_show.png?1318769816') bottom left no-repeat;
  border-top: 1px solid #CCCCCC;
  padding-left: 20px;
  padding-top: 5px;
}
/* line 286, ../scss/_base.scss */
h3.folding.closed {
  background: transparent url('/../images/folding_hide.png?1318769816') bottom left no-repeat;
}
/* line 287, ../scss/_base.scss */
h3.folding:hover {
  background: transparent url('/../images/folding_show_hover.png?1318769816') bottom left no-repeat;
}
/* line 288, ../scss/_base.scss */
h3.folding.closed:hover {
  background: transparent url('/../images/folding_hide_hover.png?1318769816') bottom left no-repeat;
}

/* line 295, ../scss/_base.scss */
.table_links {
  text-align: center;
}

/* line 297, ../scss/_base.scss */
.nodelist table.listing td {
  font-size: 12px;
}

/* line 301, ../scss/_base.scss */
tr.inner_header {
  background-color: #F2FBE4;
  font-weight: bold;
}

/* line 306, ../scss/_base.scss */
.error {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  width: 820px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #CD2D1D;
  background-color: #FFEBE9;
  color: #930E00;
  text-align: center;
}

/* line 317, ../scss/_base.scss */
.warning {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  width: 820px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #cdc71d;
  background-color: #fffee9;
  color: #938c00;
  text-align: center;
}

/* line 328, ../scss/_base.scss */
.notice {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  width: 820px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #95DA3A;
  background-color: #E1FFB8;
  color: #3D6744;
  text-align: center;
}

/* line 339, ../scss/_base.scss */
.embedded {
  float: right;
}
/* line 341, ../scss/_base.scss */
.embedded #gmap {
  width: 300px;
  height: 250px;
}
/* line 346, ../scss/_base.scss */
.embedded .actions {
  width: 300px;
}

/* line 354, ../scss/_base.scss */
.gmap_wrapper #gmap {
  border: 1px solid #D7D7D7;
  width: 860px;
  height: 860px;
}
/* line 360, ../scss/_base.scss */
.gmap_wrapper #gmap_statusbar {
  font-size: 0.68em;
  color: #838383;
}

/* line 367, ../scss/_base.scss */
#topology {
  max-width: 860px;
}

/* line 375, ../scss/_base.scss */
.graphdesc {
  color: #666;
  font-size: 85%;
  text-align: center;
  clear: both;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 566px;
}
/* line 384, ../scss/_base.scss */
.graphdesc ul {
  padding: 0;
}
/* line 386, ../scss/_base.scss */
.graphdesc ul li {
  list-style: none;
  margin-left: 0;
}

/* line 390, ../scss/_base.scss */
.details_title {
  clear: both;
}

/* line 394, ../scss/_base.scss */
table.smallnodeinfo {
  float: right;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #F5F7F5;
  border: medium none;
  padding: 5px;
  margin-right: 5px;
  width: auto;
}

/* line 404, ../scss/_base.scss */
.smallnodeinfo .first_column_width {
  width: 100px;
}

/* line 408, ../scss/_base.scss */
.smallnodeinfo td {
  font-size: 60%;
}

/* line 412, ../scss/_base.scss */
.summary {
  background: #ffd;
  border: 1px outset #996;
  margin-top: 1em;
  padding: .5em 1em;
  position: relative;
}

/* line 420, ../scss/_base.scss */
.networksummary h2 {
  margin-top: 20px;
}

/* line 424, ../scss/_base.scss */
.networksummary table.layout td.nodes {
  text-align: center;
  vertical-align: baseline;
  font-size: 2em;
  font-weight: bold;
}

/* line 431, ../scss/_base.scss */
.legend {
  font-size: 90%;
  padding: 0px 10px;
}
/* line 434, ../scss/_base.scss */
.legend dl {
  padding: 5px 2px 15px 2px;
}
/* line 435, ../scss/_base.scss */
.legend dt {
  display: table-cell;
  white-space: nowrap;
}
/* line 436, ../scss/_base.scss */
.legend dt:after {
  margin-left: 0.5em;
  content: '–';
  white-space: nowrap;
}
/* line 437, ../scss/_base.scss */
.legend dl dt img {
  vertical-align: middle;
}
/* line 438, ../scss/_base.scss */
.legend dd {
  display: table-cell;
  padding-left: 0.5em;
}
/* line 439, ../scss/_base.scss */
.legend dd.defintion_end {
  display: block;
  height: 0;
}

/* line 442, ../scss/_base.scss */
.status_legend dt img {
  position: absolute;
  margin-left: -20px;
  margin-top: -0.5em;
}

/* line 448, ../scss/_base.scss */
.status_legend dt {
  padding-left: 20px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/* line 454, ../scss/_base.scss */
.gmap_details {
  font-size: 80%;
}

/* line 458, ../scss/_base.scss */
.optional_packages ul {
  padding: 0 0 0 0;
}

/* line 462, ../scss/_base.scss */
.optional_packages ul li {
  list-style-type: none;
}

/* line 466, ../scss/_base.scss */
.graphmenu {
  text-align: left;
  margin: 0 auto;
  width: 566px;
}

/* line 472, ../scss/_base.scss */
.graphmenu .timespan {
  float: right;
}

/* line 476, ../scss/_base.scss */
.dataTables_wrapper {
  clear: both;
}
/* line 478, ../scss/_base.scss */
.dataTables_wrapper input {
  font-size: 0.68em;
}

/* line 481, ../scss/_base.scss */
.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
  color: #CCCCCC;
}

/* line 488, ../scss/_base.scss */
.dataTables_info {
  width: 40%;
  float: left;
  padding: 5px;
  color: #CCCCCC;
}

/* line 495, ../scss/_base.scss */
.sorting_asc {
  background: url('/../images/sort_asc.png?1318769816') no-repeat center right;
  cursor: pointer;
}

/* line 500, ../scss/_base.scss */
.sorting_desc {
  background: url('/../images/sort_desc.png?1318769816') no-repeat center right;
  cursor: pointer;
}

/* line 505, ../scss/_base.scss */
.sorting {
  background: url('/../images/sort_both.png?1318769816') no-repeat center right;
  cursor: pointer;
}

/* line 510, ../scss/_base.scss */
.sorting_asc_disabled {
  background: url('/../images/sort_asc_disabled.png?1318769816') no-repeat center right;
  cursor: pointer;
}

/* line 515, ../scss/_base.scss */
.sorting_desc_disabled {
  background: url('/../images/sort_desc_disabled.png?1318769816') no-repeat center right;
  cursor: pointer;
}

/* line 520, ../scss/_base.scss */
.dataTables_empty {
  text-align: center;
}

/* line 525, ../scss/_base.scss */
tr.subnet td.status,
tr.subnet td.timestamp {
  text-align: center;
}

/* line 529, ../scss/_base.scss */
tr.subnet .description {
  margin-left: 5px;
  font-size: 10px;
  color: #979797;
}

/* line 535, ../scss/_base.scss */
tr.conflicting .identifier {
  color: red;
  font-weight: bold;
}

/* line 540, ../scss/_base.scss */
tr.conflicting .conflict {
  color: red;
  font-size: 10px;
}

/* line 545, ../scss/_base.scss */
tr.conflicting .conflict ul {
  margin: 0px;
  padding: 0px 10px;
}

/* line 550, ../scss/_base.scss */
tr.conflicting .conflict li {
  list-style-type: none;
}

/* line 555, ../scss/_base.scss */
table.warnings td {
  padding: 5px;
  vertical-align: top;
}
/* line 559, ../scss/_base.scss */
table.warnings .help, table.warnings .datetime {
  font-size: 10px;
  color: #938C00;
}
/* line 563, ../scss/_base.scss */
table.warnings .icon {
  width: 20px;
}

/* line 568, ../scss/_base.scss */
.graphs {
  text-align: center;
}
/* line 569, ../scss/_base.scss */
.graphs div.graph {
  text-align: center;
  clear: both;
  margin-bottom: 10px;
}
/* line 575, ../scss/_base.scss */
.graphs .timespan {
  padding: 3px 0 20px 0;
  margin: 0 0 5px 0;
  background: white url('/../images/timespan.png?1318769816') no-repeat bottom center;
  width: 860px;
  border-bottom: solid white 6px;
}
/* line 581, ../scss/_base.scss */
.graphs .timespan a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #999999;
  padding: 2px 5px;
  margin-left: 4px;
  font-size: 90%;
}
/* line 588, ../scss/_base.scss */
.graphs .timespan a:hover {
  background-color: #EEEEEE;
  text-decoration: none;
}
/* line 592, ../scss/_base.scss */
.graphs .timespan a.selected, .graphs .timespan a.selected:hover {
  background-color: #CCCCCC;
  color: white;
  text-decoration: none;
}

/* line 600, ../scss/_base.scss */
.details .first_column_width {
  width: 300px;
}

/* line 604, ../scss/_base.scss */
.first_column_width {
  width: 200px;
}

/* line 608, ../scss/_base.scss */
.no-top-margin {
  margin-top: 0px;
}

/* line 612, ../scss/_base.scss */
.permalink {
  float: right;
  margin-top: 0.4em;
}

/**
** Status colors
**/
/* line 621, ../scss/_base.scss */
.node_status_up {
  color: #007B0F;
}

/* line 623, ../scss/_base.scss */
.node_status_invalid {
  color: #F8C901;
}

/* line 625, ../scss/_base.scss */
.node_status_awaitingrenumber {
  color: #5EA1EF;
}

/* line 627, ../scss/_base.scss */
.node_status_new {
  color: #88BD32;
}

/* line 629, ../scss/_base.scss */
.node_status_visible {
  color: #00ADD1;
}

/* line 631, ../scss/_base.scss */
.node_status_down {
  color: #CB0000;
}

/* line 633, ../scss/_base.scss */
.node_status_duped {
  color: #7E0097;
}

/* line 635, ../scss/_base.scss */
.node_status_pending {
  color: #B1B1B1;
}

/* line 637, ../scss/_base.scss */
.subnet_status_notannounced {
  color: #ff0000;
}

/* line 639, ../scss/_base.scss */
.subnet_status_ok {
  color: #007B0F;
}

/* line 641, ../scss/_base.scss */
.subnet_status_notallocated {
  color: #FFA82F;
}

/* line 643, ../scss/_base.scss */
.subnet_status_collision {
  color: #ff0000;
}

/* line 26, ../scss/default/screen.scss */
#metanav {
  position: absolute;
  right: 10px;
  top: 10px;
  width: auto;
  text-align: right;
}

/* line 35, ../scss/default/screen.scss */
#header {
  position: relative;
}
/* line 37, ../scss/default/screen.scss */
#header h1 span {
  display: none;
}
/* line 38, ../scss/default/screen.scss */
#header h2 span {
  display: none;
}
/* line 39, ../scss/default/screen.scss */
#header h1 a {
  display: block;
  position: absolute;
  height: 110px;
  left: 10px;
  top: 10px;
  width: 110px;
}
/* line 47, ../scss/default/screen.scss */
#header h2 a {
  display: block;
  position: absolute;
  height: 70px;
  left: 100px;
  width: 300px;
  top: 50px;
}
