
abbr {
  cursor: help;
  border-bottom: 1px dotted __text__;
  font-size: 10px;
  text-transform: uppercase;
}

table.listing {
  margin-top: 0px;
}

.small_text {
  font-size: 10px;
}

.node_status_up {
  color: #00bb00;
}

.node_status_invalid {
  color: #cccc22;
}

.node_status_new {
  color: #298800;
}

.node_status_visible {
  color: #FFA82F;
}

.node_status_down {
  color: #ff0000;
}

.node_status_duped {
  color: #7F43FF;
}

.subnet_status_notannounced {
  color: #ff0000;
}

.subnet_status_ok {
  color: #00ff00;
}

.subnet_status_notallocated {
  color: #FFA82F;
}

table.listing tbody tr.section_title:hover,
table.listing tbody tr.section_title:focus,
table.listing tbody tr.section_title {
  background-color: #FFFFFF !important;
}


tr.inner_header {
  background-color: #F2FBE4;
  font-weight: bold;
}

.error {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  width: 680px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #CD2D1D;
  background-color: #FFEBE9;
  color: #930E00;
  text-align: center;
}

.notice {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  width: 680px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #95DA3A;
  background-color: #E1FFB8;
  color: #3D6744;
  text-align: center;
}

.embedded #gmap {
  width: 400px !important;
  float: right;
}

.graphs {
  text-align: center;
}

#details_title {
  clear: both;
}

#details_list .section_title td {
  padding-top: 10px;
  font-weight: bold;
}


