body {
  font-size: 12px;
  font-family: verdana, sans-serif;
  background-color: #F0F3EA;
  margin: 0 0 0 0;
}

a {
  text-decoration: none;
  color: #669900;
}

a:hover {
  text-decoration: none;
  color: #336600;
}

div.toc {
  width: 200px;
  float: left;
  margin: 2px 0 0 2px;
}

div.toc_title {
  width: 100%;
  color: #FFFFFF;
  font-size: 14px;
  background-color: #669900;
  margin: -2px 0 0 -2px;
}

div.content {
  margin: 0 0 0 200px;
  background-color: #FFFFFF;
/*  height: 100%; */
}

h1 {
  font-size: 1.7em;
}

table {
  font-size: 12px;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted __text__;
  font-size: 10px;
  text-transform: uppercase;
}

.small_text {
  font-size: 10px;
}

.node_status_up {
  color: #00ff00;
}

.node_status_invalid {
  color: #298800;
}

.node_status_new {
  color: #298800;
}

.node_status_visible {
  color: #FFA82F;
}

.node_status_down {
  color: #ff0000;
}

.node_status_duped {
  color: #7F43FF;
}

.subnet_status_notannounced {
  color: #ff0000;
}

.subnet_status_ok {
  color: #00ff00;
}

.subnet_status_notallocated {
  color: #FFA82F;
}

tr.section_title {
  background-color: #E2EAD5;
}

tr.inner_header {
  background-color: #F2FBE4;
  font-weight: bold;
}

.error {
  width: 700px;
  margin-top: 5px;
  margin-left: 5px;
  border-top: 1px solid #DA453A;
  border-bottom: 1px solid #DA453A;
  background-color: #FFBDB8;
  color: #67403D;
  text-align: center;
}

.notice {
  width: 700px;
  margin-left: 5px;
  border-top: 1px solid #95DA3A;
  border-bottom: 1px solid #95DA3A;
  background-color: #E1FFB8;
  color: #3D6744;
  text-align: center;
}

tr.header {
  background-color: #F2FBE4;
  font-weight: bold;
}

