
abbr {
  cursor: help;
  border-bottom: 1px dotted __text__;
  font-size: 10px;
  text-transform: uppercase;
}

table.listing {
  margin-top: 0px;
  clear: both;
}

h1 {
  vertical-align: bottom;
}

.small_text {
  font-size: 10px;
}

.node_status_up {
  color: #007B0F;
}

.node_status_invalid {
  color: #F8C901;
}

.node_status_awaitingrenumber {
  color: #5EA1EF;
}

.node_status_new {
  color: #88BD32;
}

.node_status_visible {
  color: #00ADD1;
}

.node_status_down {
  color: #CB0000;
}

.node_status_duped {
  color: #7E0097;
}

.node_status_pending {
  color: #B1B1B1;
}

.subnet_status_notannounced {
  color: #ff0000;
}

.subnet_status_ok {
  color: #007B0F;
}

.subnet_status_notallocated {
  color: #FFA82F;
}

.subnet_status_collision {
  color: #ff0000;
}

table.listing tbody tr.section_title:hover,
table.listing tbody tr.section_title:focus,
table.listing tbody tr.section_title {
  background-color: #FFFFFF !important;
}

table.listing tfoot td {
  background-color: #FFFFFF !important;
  padding: 5px;
  text-align: center;
  border: 1px solid #D7D7D7;
}


.table_links {
  text-align: center;
}

.nodelist table.listing td {
  font-size: 12px;
}

tr.inner_header {
  background-color: #F2FBE4;
  font-weight: bold;
}

.error {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  width: 680px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #CD2D1D;
  background-color: #FFEBE9;
  color: #930E00;
  text-align: center;
}

.notice {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  width: 680px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #95DA3A;
  background-color: #E1FFB8;
  color: #3D6744;
  text-align: center;
}

.embedded #gmap {
  width: 400px !important;
  float: right;
}

.graphs div.graph {
  text-align: center;
  clear: both;
  margin-bottom: 10px;
}

.graphdesc {
  color: #666;
  font-size: 85%;
  text-align: center;
  clear: both;
  margin-bottom: 10px;
}

#details_title {
  clear: both;
}


table.layout {
  width: 100%;
}

table.layout .section_title td {
  font-weight: bold;
}

table.nodeinfo {
  float: right;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  background-color:#F5F7F5;
  border:medium none;
  padding: 5px;
  margin-right: 5px;
  width: auto;
}

.nodeinfo td {
  font-size: 60%;
}

.summary {
  background: #ffd;
  border: 1px outset #996;
  margin-top: 1em;
  padding: .5em 1em;
  position: relative;
}

.networksummary h2 {
  margin-top: 20px;
}

.networksummary table.layout td.nodes {
  text-align: center;
  vertical-align: baseline;
  font-size: 2em;
  font-weight: bold;
}

.legend {
  font-size: 90%;
  padding: 10px;
}

.legend ul {
  padding: 0;
}

.legend ul li {
  list-style: none;
  margin-left: 0;
  height: 20px;
}

.legend ul li img {
  vertical-align: middle;
}

.gmap_details {
  font-size: 80%;
}

.optional_packages ul {
  padding: 0 0 0 0;
}

.optional_packages ul li {
  list-style-type: none;
}

.graphmenu {
  text-align: left;
  margin: 0 auto;
  width: 566px;
}

.graphmenu .timespan{
  float: right;
}

.graphinfo {
  clear: both;
  margin: 0 auto;
  width: 566px;
}

.dataTables_wrapper {
  clear: both;
}

.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
  color: #CCCCCC;
}

.dataTables_info {
  width: 40%;
  float: left;
  padding: 5px;
  color: #CCCCCC;
}

table.listing td.center {
  text-align: center;
}

table.listing tbody td.notice, table.listing tbody th.notice {
  padding: 5px;
  border: 1px solid #D7D7D7;
  background-color: #E1FFB8;
  color: #3D6744;
  text-align: center;
}

.sorting_asc {
  background: url('/images/sort_asc.png') no-repeat center right;
  cursor: pointer;
}

.sorting_desc {
  background: url('/images/sort_desc.png') no-repeat center right;
  cursor: pointer;
}

.sorting {
  background: url('/images/sort_both.png') no-repeat center right;
  cursor: pointer;
}

.sorting_asc_disabled {
  background: url('/images/sort_asc_disabled.png') no-repeat center right;
  cursor: pointer;
}

.sorting_desc_disabled {
  background: url('/images/sort_desc_disabled.png') no-repeat center right;
  cursor: pointer;
}

.dataTables_empty {
  text-align: center;
}

tr.subnet td.status,
tr.subnet td.timestamp {
  text-align: center;
}

tr.subnet .description {
  margin-left: 5px;
  font-size: 10px;
  color: #979797;
}

tr.conflicting .identifier {
  color: red;
  font-weight: bold;
}

tr.conflicting .conflict {
  color: red;
  font-size: 10px;
}

tr.conflicting .conflict ul {
  margin: 0px;
  padding: 0px 10px;
}

tr.conflicting .conflict li {
  list-style-type: none;
}

table.warnings td {
  padding: 5px;
  vertical-align: top;
}

table.warnings .description {
  font-size: 10px;
  color: #93544B;
}

table.warnings .icon {
  width: 20px;
}

.graphs {
  text-align: center;
}

.graphs .timespan {
  padding: 3px 0 20px 0;
  margin: 0 auto 5px auto;
  background: white url('/images/timespan.png') no-repeat bottom center;
  width: 600px;
  border-bottom: solid white 6px;
}

.graphs .timespan a {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  color: #999999;
  padding: 2px 5px;
  margin-left: 4px;
  font-size: 90%;
}

.graphs .timespan a:hover {
  background-color: #EEEEEE;
  text-decoration: none;
}

.graphs .timespan a.selected,
.graphs .timespan a.selected:hover {
  background-color: #CCCCCC;
  color: white;
  text-decoration: none;
}
