{% load i18n %}

<div class="row snippet node-count">
    <div class="col-md-2 key">{% trans "Number of Nodes" %}</div>
    <div class="col-md-10 value">
        {% blocktrans count count=count %}
            There is one registered/visible node.
        {% plural %}
            There are {{ count }} registered/visible nodes.
        {% endblocktrans %}
        {% blocktrans count active=active %}
            One of those has been active in the last 180 days.
        {% plural %}
            Of those, {{ active }} have been active in the last 180 days.
        {% endblocktrans %}
    </div>
</div>
