{% overextends "base.html" %}

{% contextblock %}
    {% load i18n sekizai_tags %}

    {% add_data "js_data" "accounts/js/code.js" %}
    {% trans "Login" as title %}
{% endcontextblock %}

{% block content %}
    {% url AccountsComponent:registration_register as registration_register_url %}
    <p>{% blocktrans %}To log in, please enter your valid username and password in the form bellow. Don't have them yet? In that case <a href="{{ registration_register_url }}">register</a> to get them.{% endblocktrans %}</p>
    <div class="login-form">
        {% with _("Log in") as form_submit %}
            {% url AccountsComponent:auth_login as form_action %}
            {% include "form.html" %}
        {% endwith %}
        {% url AccountsComponent:auth_password_reset as auth_password_reset_url %}
        <p>{% blocktrans %}Have you <a href="{{ auth_password_reset_url }}">forgotten your password</a>?{% endblocktrans %}</p>
    </div>
{% endblock %}
