{% overextends "base.html" %}

{% contextblock %}
    {% load future i18n %}

    {% trans "Password Reset" as title %}
{% endcontextblock %}

{% block content %}
    <p>{% blocktrans %}Forgotten your username or password? Enter your e-mail address below and we will e-mail instructions for setting a new one.{% endblocktrans %}</p>
    <div class="reset-form">
        {% with _("Reset password") as form_submit %}
            {% url "AccountsComponent:auth_password_reset" as form_action %}
            {% include "form.html" %}
        {% endwith %}
    </div>
{% endblock %}
