// -*- Mode: css; indent-tabs-mode: nil; c-basic-offset: 4; tab-width: 4 -*-
@import "compass/reset"; 
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/lists/bullets";
@import "compass/typography/text";
@import "compass/utilities/general/clearfix";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "blueprint/colors";
@import "blueprint/form";

@import "defs";
@import "common";
@import "typography"; 
@import "layout"; 
@import "nodes";
@import "forms";
@import "tables"; 

h3.folding {
	cursor: pointer;
	margin: 20px 2px 10px 2px;
	border-top: 1px solid #CCCCCC;
	padding-left: 2px;
	padding-top: 5px;
    color: $font_color;

    &:hover { color: $link_color; }

    &:before {content: "▲ "; color: $font_color;}
    &.closed:before {content: "▼ "; color: $font_color;}
    &:hover:before {content: "▲ "; color: $link_color;}
    &.closed:hover:before {content: "▼ "; color: $link_color;}
}
