{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block heading %}
{% with _("Password reset") as heading %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
{% if validlink %}
<p>{% blocktrans %}Password reset for your account is in progress. Please choose a new password for your account and enter it below twice so we can verify you typed it in correctly.{% endblocktrans %}</p>
{% with _("Change password") as form_submit %}
{% url "" as form_action %}
{% include "form.html" %}
{% endwith %}
{% else %}
{% url auth_password_reset as auth_password_reset_url %}
<p>{% blocktrans %}Password reset for your account has <strong>not</strong> been successful. The password reset link is invalid, possibly because it has already been used. Please request a new <a href="{{ auth_password_reset_url }}">password reset</a>.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
