{% overextends "base.html" %}

{% contextblock %}
    {% load future i18n registry path_tags %}

    {% setcontext as title %}{% blocktrans with build_id=build.pk%}Build {{ build_id }}{% endblocktrans %}{% endsetcontext %}
    {% setcontext as heading %}{% spaceless %}
        {% blocktrans with build_id=build.pk %}Build {{ build_id }}{% endblocktrans %}
    {% endspaceless %}{% endsetcontext %}
{% endcontextblock %}

{% block content %}
    {% block view_build_partial_wrapper %}
        {% include "generator/view_build_partial.html" %}
    {% endblock view_build_partial_wrapper %}
{% endblock %}
