{% extends "base.html" %}
{% load i18n %}
{% load misc %}

{% block title %}{% blocktrans with node.name|default:_("unknown") as node_name %}Subnet Allocation for Node {{ node_name }}{% endblocktrans %}{% endblock %}
{% block heading %}{% url view_node node.pk as node_url %}{% blocktrans with node.name|default:_("unknown") as node_name %}Subnet Allocation for Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}{% endblock %}

{% block content %}
{% with "allocate a subnet" as form_errors_context %}
{% include "form_errors.html" %}
{% endwith %}

{% notice %}
{% blocktrans %}A new subnet will be allocated from the pool for your node as soon as you press <i>Allocate</i>. Do not forget that you must update the router's configuration to reflect subnet allocation changes. You can simply generate a new image with new configuration for your router and flash it.{% endblocktrans %}
{% endnotice %}

{% include "nodes/general_info_small.html" %}

<h3>{% trans "Subnet Information" %}</h3>
<form action="{% url allocate_subnet node.pk %}" method="post">
{% csrf_token %}
<table border="0" class="layout">
  {% if user.is_staff %}
  <tr>
    <td>{{ form.network.label }}</td>
    <td>{{ form.network }}</td>
  </tr>
  <tr>
    <td></td>
    <td class="small_text">{% trans "Leave blank for auto-allocation." %}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{{ form.pool.label }}</td>
    <td>{{ form.pool }}</td>
  </tr>
  <tr>
    <td>{{ form.prefix_len.label }}</td>
    <td><select name="prefix_len" id="id_prefix_len"></select></td>
  </tr>
  <tr>
    <td>{{ form.description.label }}</td>
    <td>{{ form.description }}</td>
  </tr>
  <tr>
    <td>{{ form.dhcp.label }}</td>
    <td>{{ form.dhcp }}</td>
  </tr>
</table>
  <div class="buttons">
      <input type="submit" value="{% trans "Allocate" %}" />&nbsp;
      <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.pk %}'" />
    </div>
</form>

<script type="text/javascript">
/* <![CDATA[ */
  var pool_prefix_lens = {
    {% for pool in form.get_pools %}
    {{ pool.id }} : {
      'min' : {{ pool.min_prefix_len }},
      'max' : {{ pool.max_prefix_len }},
      'def' : {{ pool.default_prefix_len }}
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  };
  
  function updatePrefixLens() {
    var prefs = $('#id_prefix_len'); 
    prefs.empty();
    
    pool = pool_prefix_lens[$('#id_pool').attr('value')];
    for (var i = pool.min; i <= pool.max; i++) {
      prefs.append('<option value="' + i + '">/' + i + '</option>');
    }
    prefs.attr('value', '' + pool.def); 
  }
  
  $(document).ready(function () {
    $('#id_pool').change(function(event) { updatePrefixLens(); }).change();
  });
/* ]]> */
</script>
{% endblock %}
