{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Subnet Allocation" %} - {{ node.name|default:"???" }} ({{ node.ip }}){% endblock %}

{% block content %}
<h1>{% trans "Subnet Allocation" %} - {{ node.name|default:"???" }} ({{ node.ip }})</h1>

{% if form.errors %}
<div class="error">
  {% blocktrans %}<b>Oooops!</b> The following errors have ocurred while attempting to allocate a subnet:{% endblocktrans %}<br />
  <br/>
  {% for error in form.non_field_errors %}
  <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% for field in form %}
  {% for error in field.errors %}
  {{ field.label }}: <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}

<form action="/nodes/allocate_subnet/{{ node.ip }}" method="POST">
<table border="0" width="700">
  <tr class="section_title">
    <td colspan="2">
      {% trans "General Node Information" %}
    </td>
  </tr>
  <tr>
    <td width="200">{% trans "IP address" %}</td>
    <td>{{ node.ip }}</td>
  </tr>
  <tr>
    <td>{% trans "Name" %}</td>
    <td>{{ node.name|default:"???" }}</td>
  </tr>
  <tr>
    <td>{% trans "Owner" %}</td>
    {% if node.owner %}
    <td><a href="/user/profile/{{ node.owner.id }}">{{ node.owner.username }}</a></td>
    {% else %}
    <td>{% trans "Unknown" %}</td>
    {% endif %}
  </tr>
  <tr>
    <td>{% trans "Location" %}</td>
    <td>{{ node.location|default:_("Unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "Project" %}</td>
    <td>{{ node.project.name|default:_("Unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "System node" %}</td>
    <td>{% if node.system_node %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}
  </tr>
  <tr>
    <td>{% trans "Border router" %}</td>
    <td>{% if node.border_router %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}
  </tr>
  <tr>
    <td colspan="2" class="notice">
      {% trans "A new subnet will be allocated from the project's IP pool for your node as soon as you press <i>Allocate</i>. It will be displayed on node information page and you can then reconfigure your router or just download an updated flashable image by selecting <b>generate image</b> next to <i>Image generator information<i> section." %}
    </td>
  </tr>
  {% if user.is_staff %}
  <tr>
    <td>{{ form.network.label }}</td>
    <td>{{ form.network }}</td>
  </tr>
  <tr>
    <td></td>
    <td class="small_text">{% trans "Leave blank for auto-allocation." %}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{{ form.description.label }}</td>
    <td>{{ form.description }}</td>
  </tr>
  <tr>
    <td>{{ form.iface_type.label }}</td>
    <td>{{ form.iface_type }}</td>
  </tr>
  <tr>
    <td>{{ form.dhcp.label }}</td>
    <td>{{ form.dhcp }}</td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input type="submit" value="{% trans "Allocate" %}" />&nbsp;
      <input type="button" value="{% trans "Cancel" %}" onclick="document.location='/nodes/node/{{ node.ip }}'" />
    </td>
  </tr>
</table>
</form>
<br /><br/>
{% endblock %}
