{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Edit Subnet {{ subnet }}{% endblocktrans %}{% endblock %}
{% block heading %}{% blocktrans %}>Edit Subnet {{ subnet }}{% endblocktrans %}{% endblock %}

{% block content %}

{% if form.errors %}
<div class="error">
  {% blocktrans %}<b>Oooops!</b> The following errors have ocurred while attempting to change subnet information:{% endblocktrans %}<br />
  <br/>
  {% for error in form.non_field_errors %}
  <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% for field in form %}
  {% for error in field.errors %}
  {{ field.label }}: <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}

<form method="POST" action="{% url edit_subnet subnet.id %}">
<h3>{% trans "Subnet Information" %}</h3>
<table border="0" width="100%">
  <tr>
    <td style="width: 200px;">{% trans "Subnet" %}</td>
    <td>{{ subnet }} [<a href="{% url renumber_node node.pk %}">{% trans "renumber" %}</a>]</td>
  </tr>
  <tr>
    <td>{{ form.description.label }}</td>
    <td>{{ form.description }}</td>
  </tr>
  {% if not subnet.is_primary %}
  <tr>
    <td>{{ form.iface_type.label }}</td>
    <td>{{ form.iface_type }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{{ form.dhcp.label }}</td>
    <td>{{ form.dhcp }}</td>
  </tr>
</table>

<div class="buttons">
  <input type="submit" value="{% trans "Save" %}" />&nbsp;
  <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.pk %}'" />
</div>
</form>
{% endblock %}
