{% extends "base.html" %}
{% load i18n %}
{% load misc %}

{% block title %}{% blocktrans with node.name|default:_("unknown") as node_name %}Edit Subnet {{ subnet }} for Node {{ node_name}}{% endblocktrans %}{% endblock %}
{% block heading %}{% url view_node node.pk as node_url %}{% blocktrans with node.name|default:_("unknown") as node_name %}Edit Subnet {{ subnet }} for Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}{% endblock %}

{% block content %}
{% with "change subnet" as form_errors_context %}
{% include "form_errors.html" %}
{% endwith %}

{% notice %}
{% blocktrans %}Do not forget that you must update the router's configuration to reflect some subnet changes. You can simply generate a new image with new configuration for your router and flash it.{% endblocktrans %}
{% endnotice %}

{% include "nodes/general_info_small.html" %}

<h3>{% trans "Subnet Information" %}</h3>
<form method="post" action="{% url edit_subnet node.pk subnet.id %}">
{% csrf_token %}
<table border="0" class="layout">
  <tr>
    <td class="first_column_width">{% trans "Subnet" %}</td>
    <td>{{ subnet }} [<a href="{% url renumber_node node.pk %}">{% trans "renumber" %}</a>]</td>
  </tr>
  <tr>
    <td>{{ form.description.label }}</td>
    <td>{{ form.description }}</td>
  </tr>
  <tr>
    <td>{{ form.dhcp.label }}</td>
    <td>{{ form.dhcp }}</td>
  </tr>
</table>

<div class="buttons">
  <input type="submit" value="{% trans "Save" %}" />&nbsp;
  <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.pk %}'" />
</div>
</form>
{% endblock %}
