{% extends "my_base.html" %}
{% load i18n %}

{% block title %}{% trans "Subscribe to Event" %}{% endblock %}
{% block heading %}{% trans "Subscribe to Event" %}{% endblock %}

{% block my_content %}
<h3 class="no-top-margin">{% trans "Subscribe to Event" %}</h3>

{% if form.errors %}
<div class="error">
  {% trans "<b>Oooops!</b> The following errors have ocurred while attempting to add an event subscription:" %}<br />
  <br/>
  {% for error in form.non_field_errors %}
  <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% for field in form %}
  {% for error in field.errors %}
  {{ field.label }}: <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}

{% if not user.email %}
{% include "nodes/missing_email_error.html" %}
{% endif %}

<form method="post" action="{% url my_events_subscribe %}">
{% csrf_token %}
<table border="0" width="700">
  <tr>
    <td>{{ form.type.label }}</td>
    <td>{{ form.type }}</td>
  </tr>
  <tr class="single_node_subscribe">
    <td>{{ form.node.label }}</td>
    <td>{{ form.node }}</td>
  </tr>
  <tr>
    <td>{{ form.code.label }}</td>
    <td>{{ form.code }}</td>
  </tr>
</table>
  <div class="buttons">
      {% if user.email %}
      <input type="submit" value="{% trans "Subscribe" %}" />&nbsp;
      {% endif %}
      <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url my_events %}'" />
    </div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
function toggleSingleNode() {
  if ($('#id_type').attr('value') == {{ single_node_type }}) {
    $('.single_node_subscribe').css('display', '');
  }
  else {
    $('.single_node_subscribe').css('display', 'none');
  }
}

$(document).ready(function () {
  $('#id_type').change(function(event) { toggleSingleNode(); });
  toggleSingleNode();
});
/* ]]> */
</script>
{% endblock %}
