{% extends "base.html" %}
{% load i18n %}

{% block title %}Events{% endblock %}
{% block contenttype %}prefs{% endblock %}
{% block content %}
<h1>{% trans "Events" %}</h1>
<ul id="tabs">
  <li><a href="/nodes/my_nodes">{% trans "My nodes" %}</a></li>
  <li><a href="/nodes/new">{% trans "New node" %}</a></li>
  <li><a href="/nodes/whitelist_mac">{% trans "Whitelist a MAC address" %}</a></li>
  <li class="active">{% trans "Event log" %}</li>
  <li><a href="/nodes/sticker">{% trans "Info sticker" %}</a></li>
</ul>
<div id="tabcontent">
<h3>{% trans "Subscribe to Event" %}</h3>

{% if form.errors %}
<div class="error">
  {% trans "<b>Oooops!</b> The following errors have ocurred while attempting to add an event subscription:" %}<br />
  <br/>
  {% for error in form.non_field_errors %}
  <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% for field in form %}
  {% for error in field.errors %}
  {{ field.label }}: <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}

<form action="/nodes/event_subscribe" method="POST">
<table border="0" width="700">
  <tr>
    <td>{{ form.type.label }}</td>
    <td>{{ form.type }}</td>
  </tr>
  <tr class="single_node_subscribe">
    <td>{{ form.node.label }}</td>
    <td>{{ form.node }}</td>
  </tr>
  <tr>
    <td>{{ form.code.label }}</td>
    <td>{{ form.code }}</td>
  </tr>
</table>
  <div class="buttons">
      <input type="submit" value="{% trans "Add Subscription" %}" />&nbsp;
      <input type="button" value="{% trans "Cancel" %}" onclick="document.location='/nodes/events'" />
    </div>
</form>
</div>

<script>
  function toggleSingleNode()
  {
    if ($('#id_type').attr('value') == {{ single_node_type }}) {
      $('.single_node_subscribe').css('display', '');
    } else {
      $('.single_node_subscribe').css('display', 'none');
    }
  }

  $('#id_type').change(function(event) { toggleSingleNode(); });
  $(function() {
    toggleSingleNode();
  });
</script>
{% endblock %}
