{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Events" %}{% endblock %}
{% block heading %}{% trans "Events" %}{% endblock %}
{% block contenttype %}prefs{% endblock %}

{% block rss %}
  <link rel="alternate" href="{% url events_feed user.username %}" title="{{ network.name }} – Latest network events for {{ user.username }}" type="application/rss+xml" />
{% endblock %}

{% block altlinks %}
  <h3>{% trans "Download in other formats" %}:</h3>
  <ul>
    <li class="first last"><a class="rss" href="{% url events_feed user.username %}">{% trans "RSS Feed" %}</a></li>
  </ul>
{% endblock %}

{% block content %}

<ul id="tabs">
  <li><a href="{% url my_nodes %}">{% trans "My nodes" %}</a></li>
  <li><a href="{% url new_node %}">{% trans "New node" %}</a></li>
  <li><a href="{% url my_whitelist %}">{% trans "MAC whitelist" %}</a></li>
  <li class="active">{% trans "Events" %}</li>
  <li><a href="{% url my_sticker %}">{% trans "Info sticker" %}</a></li>
</ul>
<div id="tabcontent">
<h3 class="no-top-margin">Event subscriptions</h3>

{% if not user.email %}
{% include "nodes/missing_email_error.html" %}
{% else %}
<table border="0" class="listing">
<thead>
  <tr>
    <th style="width: 22px;"></th>
    <th style="width: 150px;"><b>{% trans "Type" %}</b></th>
    <th style="width: 150px;"><b>{% trans "Node" %}</b></th>
    <th><b>{% trans "Event code" %}</b></th>
  </tr>
</thead>
<tfoot>
  <tr>
    <td class="table_menu" colspan="4">
      <a href="{% url my_events_subscribe %}">{% trans "Add event subscription" %}</a>
    </td>
  </tr>
</tfoot>
<tbody>
  {% for subscription in subscriptions %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td align="center"><a href="{% url my_events_unsubscribe subscription.id %}"><img src="{{ MEDIA_URL }}images/delete.png" title="{% trans "Delete event subscription" %}" border="0" /></a></td>
    <td>
      {{ subscription.type_to_string }}
    </td>
    <td>
      {% if subscription.is_single_node %}
      <a href="{{ subscription.node.get_absolute_url }}">{{ subscription.node.name }}</a>
      {% else %}
      -
      {% endif %}
    </td>
    <td>
      {% if subscription.code %}
      {{ subscription.code_to_string }}
      {% else %}
      <i>{% trans "any event" %}</i>
      {% endif %}
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="4" class="notice">
      {% trans "No event subscriptions have been configured." %}
    </td>
  </tr>  
  {% endfor %}
</tbody>
</table>
{% endif %}

<h3>{% trans "Latest events for your nodes" %}</h3>
<table border="0" class="listing">
<thead>
  <tr>
    <th style="width: 200px;"><b>{% trans "Timestamp" %}</b></th>
    <th style="width: 150px;"><b>{% trans "Node name" %}</b></th>
    <th><b>{% trans "Event" %}</b></th>
  </tr>
</thead>
<tbody>
  {% for event in events %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ event.timestamp|date }}</td>
    <td>
      {% if not event.node.name %}
      {{ event.node.ip }}
      {% else %}
      <a href="{% url view_node event.node.pk %}">{{ event.node.name }}</a></td>
      {% endif %}
    <td>{{ event.code_to_string }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3" class="notice">
      {% trans "No events have been recorded for your nodes." %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "event subscriptions",
    "sortColumn": []
  },
  {
    "entryName": "events",
    "sortColumn": [[0, "desc"]]
  }
];
/* ]]> */
</script>
{% endblock %}
