{% extends "base.html" %}
{% load i18n %}

{% block title %}Events{% endblock %}
{% block contenttype %}prefs{% endblock %}

{% block rss %}
  <link rel="alternate" href="/feeds/rss/events/{{ user.id }}" title="wlan ljubljana - Latest mesh events for {{ user.username }}" type="application/rss+xml" />
{% endblock %}

{% block altlinks %}
  <h3>{% trans "Download in other formats" %}:</h3>
  <ul>
    <li class="first last"><a href="/feeds/rss/events/{{ user.id }}">{% trans "RSS Feed" %}</a></li>
  </ul>
{% endblock %}

{% block content %}
<h1>Events</h1>
<ul id="tabs">
  <li><a href="/nodes/my_nodes">{% trans "My nodes" %}</a></li>
  <li><a href="/nodes/new">{% trans "New node" %}</a></li>
  <li><a href="/nodes/whitelist_mac">{% trans "Whitelist a MAC address" %}</a></li>
  <li class="active">{% trans "Event log" %}</li>
  <li><a href="/nodes/sticker">{% trans "Info sticker" %}</a></li>
</ul>
<div id="tabcontent">
{% if not user.email %}
<div class="error">
  {% blocktrans %}You have no e-mail address configured in your account! To set one, please visit <a href="http://wlan-lj.net/prefs">http://wlan-lj.net/prefs</a> (you may need to login to see this page) and configure yourself a valid e-mail address. Until then some functions (like event subscriptions) are disabled.{% endblocktrans %}
</div>
<br/>
{% endif %}
  {% if not events %}
<div class="notice">
      {% trans "No events have been recorded for your nodes." %}
</div>
  {% else %}
<table border="0" width="750" cellspacing="0">
  <tr class="header">
    <td width="200"><b>{% trans "Timestamp" %}</b></td>
    <td width="150"><b>{% trans "Node name" %}</b></td>
    <td><b>{% trans "Event" %}</b></td>
  </tr>

  {% for event in events %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ event.timestamp }}</td>
    <td><a href="/nodes/node/{{ event.node.ip }}">{{ event.node.name }}</a></td>
    <td>{{ event.code_to_string }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<br/>
<h3>Event subscriptions</h3>
  {% if not subscriptions %}
  <div class="notice">
      {% trans "No event subscriptions have been configured." %}<br />
   <a href="/nodes/event_subscribe">{% trans "Add event subscription" %}</a>
    </div>
  {% else %}
<table border="0" width="750" cellspacing="0">
  <tr class="header">
    <td width="22"></td>
    <td width="150"><b>{% trans "Node" %}</b></td>
    <td><b>{% trans "Event type" %}</b></td>
  </tr>

  {% for subscription in subscriptions %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td align="center"><a href="/nodes/event_unsubscribe/{{ subscription.id }}">X</a></td>
    <td>
      {% if subscription.node %}
      <a href="/nodes/node/{{ subscription.node.ip }}">{{ subscription.node.name }}</a>
      {% else %}
      <i>{% trans "any node" %}</i>
      {% endif %}
    </td>
    <td>
      {% if subscription.code %}
      {{ subscription.code_to_string }}
      {% else %}
      <i>{% trans "any event" %}</i>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  <tr><td colspan="3" class="section_title"><a href="/nodes/event_subscribe">{% trans "Add event subscription" %}</a><td></tr>
</table>
  {% endif %}
</div>
{% endblock %}
