{% extends "base.html" %}
{% load i18n %}
{% load conversion %}

{% block title %}{% trans "Global Client List" %}{% endblock %}

{% block content %}
<h1>{% trans "Global Client List" %}</h1>
<table border="0" width="100%" class="listing">
<thead>
  <tr>
    <th width="22"></th>
    <th width="150"><b>IP</b></th>
    <th width="200"><b>{% trans "Connected at" %}</b></th>
    <th width="100"><b>{% trans "Uploaded" %}</b></th>
    <th width="100"><b>{% trans "Downloaded" %}</b></th>
  </tr>
</thead>
<tbody>
  {% if clients %}
  {% for client in clients %}
  {% ifchanged client.node %}
  <tr class="section_title">
    <td colspan="5">{% trans "Node" %} <b>{{ client.node.name }} ({{ client.node.ip }})</b></td>
  </tr>
  {% endifchanged %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td></td>
    <td>{{ client.ip }}</td>
    <td></td>
    <td>{{ client.uploaded|human_readable_kbytes }}</td>
    <td>{{ client.downloaded|human_readable_kbytes }}</td>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan="5" class="notice" style="height: 60px;">
      {% trans "There are currently no reported connected clients." %}
    </td>
  </tr>
  {% endif %}
</tbody>
</table>
<br/>
{% endblock %}
