{% extends "base.html" %}
{% load i18n %}
{% load conversion %}

{% block title %}{% trans "Global Client List" %}{% endblock %}
{% block heading %}{% trans "Global Client List" %}{% endblock %}

{% block content %}
<table border="0" width="100%" class="listing">
<thead>
  <tr>
    <th style="width: 22px;"></th>
    <th style="width: 150px;"><b>IP</b></th>
    <th style="width: 200px;"><b>{% trans "Connected at" %}</b></th>
    <th style="width: 100px;"><b>{% trans "Uploaded" %}</b></th>
    <th style="width: 100px;"><b>{% trans "Downloaded" %}</b></th>
  </tr>
</thead>
<tbody>
  {% for client in clients %}
  {% ifchanged client.node %}
  <tr class="section_title">
    <td colspan="5"><a name="n{{ client.node.get_current_id }}"></a><b>{% trans "Node" %} <a href="{% url view_node client.node.get_current_id %}">{{ client.node.name }}</a></b></td>
  </tr>
  {% endifchanged %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td></td>
    <td>{{ client.ip }}</td>
    <td>{{ client.connected_at|date|default:_("unknown") }}</td>
    <td>{{ client.uploaded|human_readable_kbytes }}</td>
    <td>{{ client.downloaded|human_readable_kbytes }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="5" class="notice">
      {% trans "There are currently no reported connected clients." %}
    </td>
  </tr>  
  {% endfor %}
</tbody>
</table>
<br/>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "clients",
    "sortColumn": [[2, "asc"]]
  }
];
/* ]]> */
</script>
{% endblock %}
