{% load i18n %}
{% load misc %}
{% block tableheader %}
{% heading 2 _("General Node Information") %}
<table border="0" class="proptable">
{% endblock %}
  <tr>
    <td class="proplabel">{% trans "Node name" %}</td>
    <td class="propbody">{{ node.name|default:_("unknown") }}</td>
  </tr>
  {% if node.url %}
  <tr>
    <td class="proplabel"></td>
    <td class="propbody"><div class="propdescription"><a href="{{ node.url }}" rel="nofollow">{% trans "visit home page" %}</a></div></td>
  </tr>
  {% endif %}
  <tr>
    <td class="proplabel">{% trans "Location" %}</td>
    <td class="propbody">{{ node.location|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td class="proplabel">{% trans "Project" %}</td>
    <td>{{ node.project.name|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td class="proplabel">{% trans "Maintainer" %}</td>
    {% if node.owner %}
    {% if user.is_authenticated and node.owner.email %}
    <td class="propbody"><a href="mailto:{{ node.owner.email }}">{{ node.owner.username }}</a></td>
    {% else %}
    <td class="propbody">{{ node.owner.username }}</td>
    {% endif %}
    {% else %}
    <td class="propbody">{% trans "unknown" %}</td>
    {% endif %}
  </tr>
  <tr>
    <td class="proplabel">{% trans "Node type" %}</td>
    <td class="propbody">{{ node.node_type_as_string|lower }}</td>
  </tr>
  <tr>
    <td class="proplabel">{% trans "Node status" %}</td>
    <td class="propbody node_status_{{ node.status_as_string }}">{{ node.status_as_string }}</td>
  </tr>
  <tr>
    <td class="proplabel">{% trans "Last seen" %}</td>
    {% if node.last_seen %}
    <td class="propbody">{{ node.last_seen|date }}</td>
    {% else %}
    <td class="propbody">{% trans "never" %}</td>
    {% endif %}
  </tr>
</table>
