{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Events" %}{% endblock %}
{% block heading %}{% trans "Events" %}{% endblock %}
{% block contenttype %}prefs{% endblock %}

{% block rss %}
  <link rel="alternate" href="/feeds/rss/events" title="{{ network.name }} - Latest network events" type="application/rss+xml" />
{% endblock %}

{% block altlinks %}
  <h3>{% trans "Download in other formats" %}:</h3>
  <ul>
    <li class="first last"><a class="rss" href="/feeds/rss/events">{% trans "RSS Feed" %}</a></li>
  </ul>
{% endblock %}

{% block content %}
<table border="0" class="listing">
<thead>
  <tr>
    <th style="width: 200px;"><b>{% trans "Timestamp" %}</b></th>
    <th style="width: 150px;"><b>{% trans "Node name" %}</b></th>
    <th><b>{% trans "Event" %}</b></th>
  </tr>
</thead>
<tbody>
  {% for event in events %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ event.timestamp|date }}</td>
    <td>
      {% if not event.node.name %}
      {{ event.node.ip }}
      {% else %}
      <a href="{% url view_node event.node.pk %}">{{ event.node.name }}</a>
      {% endif %}
    </td>
    <td>{{ event.code_to_string }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3" class="notice">
      {% trans "No events have been recorded." %}
    </td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "events",
    "sortColumn": [[0, "desc"]]
  }
];
/* ]]> */
</script>
{% endblock %}
