{% extends "base.html" %}
{% load i18n %}

{% block title %}Installed Packages for {{ node.name }} ({{ node.ip }}){% endblock %}

{% block content %}
<h1>Installed Packages for {{ node.name }} ({{ node.ip }})</h1>

<table border="0" class="listing">
<thead>
  <tr>
    <th width="200"><b>{% trans "Package name" %}</b></th>
    <th width="250"><b>{% trans "Version" %}</b></th>
    <th width="200"><b>{% trans "Last check" %}</b></th>
  </tr>
</thead>
<tbody>
  {% if not packages %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td colspan="8" class="notice">
      {% trans "No package information is available for this node." %}
    </td>
  </tr>
  {% else %}
  {% for package in packages %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ package.name }}</td>
    <td>{{ package.version }}</td>
    <td>{{ package.last_update }}</td>
  </tr>
  {% endfor %}
  {% endif %}
</tbody>
</table>
{% endblock %}
