{% extends "base.html" %}
{% load i18n %}
{% load nodestatus %}
{% load misc %}

{% block title %}{% trans "Node List" %}{% endblock %}
{% block heading %}{% trans "Node List" %}{% endblock %}
{% block contenttype %}nodelist{% endblock %}
{% block rss %}
  <link rel="alternate" href="{% url feeds "active" %}" title="{{ network.name }} – Active nodes" type="application/rss+xml" />
{% endblock %}

{% block altlinks %}
  <h3>{% trans "Download in other formats" %}:</h3>
  <ul>
    <li class="first last"><a class="rss" href="{% url feeds "active" %}">{% trans "RSS Feed" %}</a> ({% trans "open in" %} <a href="http://maps.google.com/maps?q={{ feeds_base_url|urlencode }}{% url feeds "active" as feeds_active %}{{ feeds_active|urlencode }}">Google Maps</a>)</li>
  </ul>
{% endblock %}

{% block content %}
{% if web_client_node %}
{% notice webclient %}
<b>You are visiting this page through the <i>{{ network.name }}</i> network.</b><br />
<br />
You are using the <a href="{% url view_node web_client_node.get_current_id %}">{{ web_client_node.name|default:_("unknown") }}</a> node to connect to the network.
{% endnotice %}
{% endif %}
<table border="0" width="100%" class="listing">
<thead>
  <tr>
    <th style="width: 4%;"></th>
    <th style="width: 22%;"><b>{% trans "Node name" %}</b></th>
    <th style="width: 15%;"><b>IP</b></th>
    <th style="width: 21%;"><b>{% trans "Last seen up" %}</b></th>
    <th style="width: 8%;" align="center"><b>{% trans "Status" %}</b></th>
    <th style="width: 8%;" align="center"><b>{% trans "Peers" %}</b></th>
    <th style="width: 8%;" align="center"><b>{% trans "Clients" %}</b></th>
    <th style="width: 10%;" align="center"><b>{% trans "Project" %}</b></th>
  </tr>
</thead>
{% if user.is_authenticated %}
<tfoot>
  <tr>
    <td class="table_menu" colspan="8">
      <a href="{% url new_node %}">{% trans "Add new node" %}</a>
    </td>
  </tr>
</tfoot>
{% endif %}
<tbody>
  {% for node in nodes %}
  {% ifchanged node.node_type %}
  <tr class="section_title">
    <td colspan="8"><b>{{ node.node_type_as_string_plural }}</b></td>
  </tr>
  {% endifchanged %}
  <tr class="{% cycle 'odd' 'even' %}{% ifequal node.pk web_client_node.pk %} webclient{% endifequal %}">
    <td align="center">
      {% if node.warnings %}
      <a href="{% url view_node node.get_current_id %}">
        <img src="{{ MEDIA_URL }}images/warnings_small.png" title="{% trans "Some problems were detected with this node! Click for details." %}" alt="{% trans "Warning" %}" />
      </a>
      {% endif %}
    </td>
    <td class="name"><a href="{% url view_node node.get_current_id %}">{{ node.name|default:_("unknown") }}</a></td>
    <td>{{ node.ip }}</td>
    {% if node.last_seen %}
    <td>{{ node.last_seen|date:"Y-m-d H:i:s" }}</td>
    {% else %}
    <td>{% trans "never" %}</td>
    {% endif %}
    <td align="center">{{ node.status_as_string|statusimage:"small" }}</td>
    {% if node.is_down %}
    {% if node.is_invalid %}
    <td align="center">{{ node.peers }}</td>
    {% else %}
    <td align="center">0</td>
    {% endif %}
    <td align="center">0</td>
    {% else %}
    <td align="center">{{ node.peers }}</td>
    <td align="center">{{ node.clients|default:"0" }}</td>
    {% endif %}
    <td align="center">{{ node.project|default:_("unknown") }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="8" class="notice">
      {% trans "There are currently no nodes registered/connected." %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
<div class="legend">
<h3>{% trans "Node status key" %}:</h3>
<ul>
  <li>{{ "up"|status:"small" }} - {% statusdesc "up" %}</li>
  <li>{{ "visible"|status:"small" }} - {% statusdesc "visible" %}</li>
  <li>{{ "down"|status:"small" }} - {% statusdesc "down" %}</li>
  <li>{{ "duped"|status:"small" }} - {% statusdesc "duped" %}</li>
  <li>{{ "invalid"|status:"small" }} - {% statusdesc "invalid" %}</li>
  <li>{{ "new"|status:"small" }} - {% statusdesc "new" %}</li>
  <li>{{ "pending"|status:"small" }} - {% statusdesc "pending" %}</li>
  <li>{{ "awaitingrenumber"|status:"small" }} - {% statusdesc "awaitingrenumber" %}</li>
</ul>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "nodes",
    "sortColumn": [[2, "asc"]]
  }
];
/* ]]> */
</script>
{% endblock %}
