{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Node List" %}{% endblock %}

{% block rss %}
  <link rel="alternate" href="/feeds/rss/events" title="wlan ljubljana - Latest mesh events" type="application/rss+xml" />
{% endblock %}

{% block altlinks %}
  <h3>{% trans "Download in other formats" %}:</h3>
  <ul>
    <li class="first last"><a href="/feeds/rss/events">{% trans "RSS Feed" %}</a></li>
  </ul>
{% endblock %}

{% block content %}
<h1>{% trans "Node List" %}</h1>
<table border="0" width="100%" class="listing">
<thead>
  <tr>
    <th width="22"></th>
    <th width="150"><b>{% trans "Node name" %}</b></th>
    <th width="100"><b>IP</b></th>
    <th width="280"><b>{% trans "Last seen up" %}</b></th>
    <th width="100"><b>{% trans "Status" %}</b></th>
    <th width="50" align="center"><b>{% trans "Peers" %}</b></th>
    <th width="50" align="center"><b>MIN</b></th>
    <th width="50" align="center"><b>AVG</b></th>
    <th width="50" align="center"><b>MAX</b></th>
  </tr>
</thead>
<tbody>
  {% for node in nodes %}
  {% ifchanged node.node_type %}
  <tr class="section_title">
    <td colspan="9"><b>{{ node.node_type_as_string_plural }}</b></td>
  </tr>
  {% endifchanged %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td align="center">
      {% if node.warnings %}
      <a href="/nodes/node/{{ node.ip }}">
        <img src="/images/warnings_small.png" title="{% trans "Some problems were detected with this node! Click for details." %}" border="0" />
      </a>
      {% endif %}
    </td>
    <td><a href="/nodes/node/{{ node.ip }}">{{ node.name|default:_("unknown") }}</a></td>
    <td>{{ node.ip }}</td>
    <td>{{ node.last_seen|default:_("never") }}</td>
    <td class="node_status_{{ node.status_as_string }}">{{ node.status_as_string }}</td>
    {% if node.is_down %}
    <td align="center">0</td>
    <td align="center">/</td>
    <td align="center">/</td>
    <td align="center">/</td>
    {% else %}
    <td align="center">{{ node.peers }}</td>
    <td align="center">{{ node.rtt_min|default:"/" }}</td>
    <td align="center">{{ node.rtt_avg|default:"/" }}</td>
    <td align="center">{{ node.rtt_max|default:"/" }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>
<br/>
{% trans "Status legend" %}:<br/>
<ul>
  <li><span class="node_status_up">up</span> - {% trans "node is reachable" %}</li>
  <li><span class="node_status_invalid">invalid</span> - {% trans "IP is not allocated but is seen" %}</li>
  <li><span class="node_status_visible">visible</span> - {% trans "node is visible via OLSR but does not reply to ICMP ECHO" %}</li>
  <li><span class="node_status_down">down</span> - {% trans "node is not visible via OLSR" %}</li>
  <li><span class="node_status_duped">duped</span> - {% trans "duplicate ICMP ECHO packets have been received" %}</li>
  <li><span class="node_status_new">new</span> - {% trans "node has just been registred" %}</li>
</ul>
<br/>
{% trans "Notes" %}:<br/>
<ul>
  <li>{% trans "<i>not allocated</i> means that the IP is not allocated and should not be seen" %}</li>
  <li>{% trans "<i>MIN, MAX, AVG</i> represent the current minimum, maximum and average latency" %}</li>
</ul>
<br/>
{% endblock %}
