{% extends "base.html" %}
{% load i18n %}
{% load gmap %}
{% load nodestatus %}

{% block title %}{% trans "Node Map" %}{% endblock %}
{% block heading %}{% trans "Node Map" %}{% endblock %}

{% block content %}
<div style="margin-left: 10px;">
{% trans "Position map to encompass all nodes of " %}
<select id="gmap_center">
  <option value="" id="gmap_center_default">---------</option>
  {% for project in projects %}
  <option value="{{ project.id }}"{% if not project.has_nodes %} disabled="disabled" title="{% trans "Project has no nodes" %}"{% endif %}>{{ project.name }}</option>
  {% endfor %}
</select>{% trans " project" %}
<br />
{% trans "Show nodes based on project:" %}
{% for project in projects %}
<input type="checkbox" name="gmap_project" id="gmap_project_{{ project.id }}" value="{{ project.id }}" {% if project.has_nodes %}checked="checked"{% else %}disabled="disabled" title="{% trans "Project has no nodes" %}"{% endif %} />
<label for="gmap_project_{{ project.id }}"{% if not project.has_nodes %} title="{% trans "Project has no nodes" %}"{% endif %}>{{ project.name }}</label>
{% endfor %}
<br />
{% trans "Show nodes based on status:" %}
<input type="checkbox" name="gmap_status" id="gmap_status_up" value="up" checked="checked" title="{% statusdesc "up" %}" />
<label for="gmap_status_up" title="{% statusdesc "up" %}">up</label>
<input type="checkbox" name="gmap_status" id="gmap_status_visible" value="visible" checked="checked" title="{% statusdesc "visible" %}" />
<label for="gmap_status_visible" title="{% statusdesc "visible" %}">visible</label>
<input type="checkbox" name="gmap_status" id="gmap_status_down" value="down" checked="checked" title="{% statusdesc "down" %}" />
<label for="gmap_status_down" title="{% statusdesc "down" %}">down</label>
<input type="checkbox" name="gmap_status" id="gmap_status_duped" value="duped" checked="checked" title="{% statusdesc "duped" %}" />
<label for="gmap_status_duped" title="{% statusdesc "duped" %}">duped</label>
<input type="checkbox" name="gmap_status" id="gmap_status_new" value="new" checked="checked" title="{% statusdesc "new" %}" />
<label for="gmap_status_new" title="{% statusdesc "new" %}">new</label>
<input type="checkbox" name="gmap_status" id="gmap_status_pending" value="pending" checked="checked" title="{% statusdesc "pending" %}" />
<label for="gmap_status_pending" title="{% statusdesc "pending" %}">pending</label>
<div id="gmap" style="width: 700px; height: 700px;"></div>
<span id="gmap_statusbar">&nbsp;</span>
</div>
<div class="legend">
{% url network_topology as network_topology %}
<p>{% blocktrans %}Only wireless links are shown. If you are interested in all links between nodes check the
<a href="{{ network_topology }}">network topology</a> view.{% endblocktrans %}</p>
<h3>{% trans "Node status key:" %}</h3>
<ul class="status_legend">
  <li>{{ "up"|status:"gmap" }} – {% statusdesc "up" %}</li>
  <li>{{ "visible"|status:"gmap" }} – {% statusdesc "visible" %}</li>
  <li>{{ "down"|status:"gmap" }} – {% statusdesc "down" %}</li>
  <li>{{ "duped"|status:"gmap" }} – {% statusdesc "duped" %}</li>
  <li>{{ "new"|status:"gmap" }} – {% statusdesc "new" %}</li>
  <li>{{ "pending"|status:"gmap" }} – {% statusdesc "pending" %}</li>
</ul>
{% if web_client_node %}
The node marked with symbol <img src="{{ MEDIA_URL }}images/symbol_wc.png" alt="Client node symbol" /> is the node through which you are connected to the network.
{% endif %}
<h3>{% trans "Edge color key:" %}</h3>
<ul>
  <li><span style="color: #00ff00;">{% trans "green" %}</span> – {% trans "ETX is between 1.0 and 2.0" %}</li>
  <li><span style="color: #0000ff;">{% trans "blue" %}</span> – {% trans "ETX is greater than 2.0 and lower or equal to 5.0" %}</li>
  <li><span style="color: #ff0000;">{% trans "red" %}</span> – {% trans "ETX is greater than 5.0" %}</li>
</ul>
<p>{% blocktrans %}Green links are usable links in the network. Blue and red ones are those where nodes connected with each
other but bad link quality (packet loss on the link) interfere with usefulness of the link. Closer the ETX (measure of the
link quality) is to 1.0 better it is.{% endblocktrans %}</p>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.hashchange.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
  var nodes = [
    {% for node in nodes %}{% if node.should_draw_on_map %}
    { "project": {{ node.project.pk }}, "lat": {{ node.geo_lat }}, "long": {{ node.geo_long }}, "pk" : '{{ node.pk }}', "ip": '{{ node.ip|escapejs }}', "name": '{{ node.name|escapejs }}', "status": '{{ node.status_as_string|escapejs }}', "url": '{{ node.url|default:""|escapejs }}', "current" : {% ifequal node.pk web_client_node.pk %}1{% else %}0{% endifequal %} }{% if not forloop.last %},{% endif %}
    {% endif %}{% endfor %}    
  ];
  var links = [
    {% for link in links %}{% if link.should_draw_on_map %}
    { "src": '{{ link.src.ip|escapejs }}', "dst": '{{ link.dst.ip|escapejs }}', "color": '{{ link.color|escapejs }}' }{% if not forloop.last %},{% endif %}
    {% endif %}{% endfor %}  
  ];
/* ]]> */
</script>
{% do_gmap "mapInit" "true" %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/map.js"></script>
{% endblock %}
