{% extends "base.html" %}
{% load i18n %}
{% load nodestatus %}

{% block title %}My Nodes{% endblock %}
{% block contenttype %}prefs{% endblock %}
{% block content %}
<h1>My Nodes</h1>
<ul id="tabs">
  <li class="active">{% trans "My nodes" %}</li>
  <li><a href="/nodes/new">{% trans "New node" %}</a></li>
  <li><a href="/nodes/whitelist_mac">{% trans "Whitelist a MAC address" %}</a></li>
  <li><a href="/nodes/events">{% trans "Event log" %}</a></li>
  <li><a href="/nodes/sticker">{% trans "Info sticker" %}</a></li>
</ul>
<div id="tabcontent">
<br/>
{% if not user.email %}
<div class="error">
  {% blocktrans %}You have no e-mail address configured in your account! To set one, please visit <a href="http://wlan-lj.net/prefs">http://wlan-lj.net/prefs</a> (you may need to login to see this page) and configure yourself a valid e-mail address. Until then some functions (like image generation) are disabled.{% endblocktrans %}
</div>
<br/>
{% endif %}
  {% if not nodes %}
<div class="notice">
{% trans "You currently have no nodes defined. You can use <b>New node</b> option to register a new node. If you don't have any IP/subnet allocations, you will be allocated some during the node registration process. The node registration process can also generate a flashable image for you, so you can set up your router directly." %}
</div>
  {% else %}
<table border="0" class="listing">
<thead>
  <tr>
    <th style="width: 22px;"></th>
    <th style="width: 150px;"><b>{% trans "Node name" %}</b></th>
    <th style="width: 100px;"><b>IP</b></th>
    <th style="width: 280px;"><b>{% trans "Last seen up" %}</b></th>
    <th style="width: 50px;" align="center"><b>{% trans "Status" %}</b></th>
    <th style="width: 70px;" align="center"><b>{% trans "Peers" %}</b></th>
    <th style="width: 70px;" align="center"><b>{% trans "Clients" %}</b></th>
    <th style="width: 90px;" align="center"><b>{% trans "Project" %}</b></th>
  </tr>
</thead>
<tbody>
  {% for node in nodes %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td align="center">
      {% if node.warnings %}
      <a href="/nodes/node/{{ node.ip }}">
        <img src="http://nodes.wlan-lj.net/images/warnings_small.png" title="{% trans "Some problems were detected with this node! Click for details." %}" alt="{% trans "Warning" %}" />
      </a>
      {% endif %}
    </td>
    <td><a href="/nodes/node/{{ node.ip }}">{{ node.name|default:_("unknown") }}</a></td>
    <td>{{ node.ip }}</td>
    {% if node.last_seen %}
    <td>{{ node.last_seen|date }}</td>
    {% else %}
    <td>{% trans "never" %}</td>
    {% endif %}
    <td align="center">{{ node.status_as_string|statusimage:"small" }}</td>
    {% if node.is_down %}
    <td align="center">0</td>
    <td align="center">0</td>
    {% else %}
    <td align="center">{{ node.peers }}</td>
    <td align="center">{{ node.clients|default:"0" }}</td>
    {% endif %}
    <td align="center">{{ node.project|default:_("unknown") }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
{% if whitelist %}
<br/>
{% trans "Whitelisted MAC addresses" %}:<br/>
<table border="0" class="listing">
<thead>
  <tr>
    <th width="22"></th>
    <th><b>{% trans "MAC address" %}</b></th>
    <th width="200"><b>{% trans "Registred at" %}</b></th>
  </tr>
</thead>
<tbody>
  {% for item in whitelist %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td align="center"><a href="/nodes/unwhitelist_mac/{{ item.id }}"><img src="/images/delete.png" title="{% trans "Unwhitelist" %}" alt="{% trans "Unwhitelist" %}" /></a></td>
    <td>{{ item.mac }}</td>
    <td>{{ item.registred_at|date }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
</div>
{% endblock %}
