{% extends "base.html" %}
{% load i18n %}
{% load nodestatus %}

{% block title %}{% trans "My Nodes" %}{% endblock %}
{% block heading %}{% trans "My Nodes" %}{% endblock %}
{% block contenttype %}prefs{% endblock %}
{% block content %}
<ul id="tabs">
  <li class="active">{% trans "My nodes" %}</li>
  <li><a href="{% url new_node %}">{% trans "New node" %}</a></li>
  <li><a href="{% url my_whitelist %}">{% trans "MAC whitelist" %}</a></li>
  <li><a href="{% url my_events %}">{% trans "Events" %}</a></li>
  <li><a href="{% url my_sticker %}">{% trans "Info sticker" %}</a></li>
</ul>
<div id="tabcontent">

{% if not user.email %}
{% include "nodes/missing_email_error.html" %}
{% endif %}

<table border="0" class="listing">
<thead>
  <tr>
    <th style="width: 4%;"></th>
    <th style="width: 22%;"><b>{% trans "Node name" %}</b></th>
    <th style="width: 15%;"><b>IP</b></th>
    <th style="width: 21%;"><b>{% trans "Last seen up" %}</b></th>
    <th style="width: 8%;" align="center"><b>{% trans "Status" %}</b></th>
    <th style="width: 8%;" align="center"><b>{% trans "Peers" %}</b></th>
    <th style="width: 8%;" align="center"><b>{% trans "Clients" %}</b></th>
    <th style="width: 10%;" align="center"><b>{% trans "Project" %}</b></th>
  </tr>
</thead>
<tfoot>
  <tr>
    <td class="table_menu" colspan="8">
      <a href="{% url new_node %}">{% trans "Add new node" %}</a>
    </td>
  </tr>
</tfoot>
<tbody>
  {% for node in nodes %}
  {% ifchanged node.node_type %}
  <tr class="section_title">
    <td colspan="8"><b>{{ node.node_type_as_string_plural }}</b></td>
  </tr>
  {% endifchanged %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td align="center">
      {% if node.warnings %}
      <a href="{% url view_node node.pk %}">
        <img src="/images/warnings_small.png" title="{% trans "Some problems were detected with this node! Click for details." %}" alt="{% trans "Warning" %}" />
      </a>
      {% endif %}
    </td>
    <td><a href="{% url view_node node.pk %}">{{ node.name|default:_("unknown") }}</a></td>
    <td>{{ node.ip }}</td>
    {% if node.last_seen %}
    <td>{{ node.last_seen|date:"y-m-d H:i:s" }}</td>
    {% else %}
    <td>{% trans "never" %}</td>
    {% endif %}
    <td align="center">{{ node.status_as_string|statusimage:"small" }}</td>
    {% if node.is_down %}
    <td align="center">0</td>
    <td align="center">0</td>
    {% else %}
    <td align="center">{{ node.peers }}</td>
    <td align="center">{{ node.clients|default:"0" }}</td>
    {% endif %}
    <td align="center">{{ node.project|default:_("unknown") }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="8" class="notice">
      {% url new_node as new_node %}{% blocktrans %}You currently have no nodes defined. You can use <strong><a href="{{ new_node }}">New node</a></strong> tab to register a new node. If you don't have any IP/subnet allocations, you will be allocated some during the node registration process. The node registration process can also generate a flashable image for you, so you can set up your router directly.{% endblocktrans %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "nodes",
    "sortColumn": [[2, "asc"]]
  }
];
/* ]]> */
</script>
{% endblock %}
