{% extends "base.html" %}
{% load i18n %}
{% load misc %}

{% block title %}{% blocktrans with node.name|default:_("unknown") as node_name %}Remove Node {{ node_name }}{% endblocktrans %}{% endblock %}

{% block heading %}
{% setcontext as heading %}
{% url view_node node.get_current_id as node_url %}
{% blocktrans with node.name|default:_("unknown") as node_name %}Remove Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}
{% endsetcontext %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="warning">
  {% url edit_node node.get_current_id as edit_node %}{% blocktrans %}<b>WARNING:</b> <b>This action is irreversible.</b> Consider instead marking it as a dead node (<a href="{{ edit_node }}">change its type</a>) if the node has some history as it is important to have history records of network's growth and development. Be careful, by removing this node you will be returning all its allocated IP space back into the IP pool where it will be available for immediate allocation by other nodes.{% endblocktrans %}
</div>

{% include "nodes/general_info.html" %}

<form method="post" action="{% url remove_node node.pk %}">
{% csrf_token %}
  <div class="buttons">
    <input type="submit" value="{% trans "Remove" %}" />&nbsp;
    <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.get_current_id %}'" />
  </div>
</form>
{% endblock %}
