{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with node.name|default:_("unknown") as node_name %}Remove Node {{ node_name }}{% endblocktrans %}{% endblock %}
{% block heading %}{% url view_node node.pk as node_url %}{% blocktrans with node.name|default:_("unknown") as node_name %}Remove Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}{% endblock %}

{% block content %}
  <div class="error">
    {% trans "<b>WARNING:</b> By removing this node you will be returning all its allocated IP space back to the pool. It is available for immediate allocation afterwards, so please be sure that you really wish to remove it!" %}
  </div>

{% include "nodes/general_info.html" %}

<form method="post" action="{% url remove_node node.pk %}">
{% csrf_token %}
  <div class="buttons">
    <input type="submit" value="{% trans "Remove" %}" />&nbsp;
    <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.pk %}'" />
  </div>
</form>
{% endblock %}
