{% extends "base.html" %}
{% load i18n %}
{% load misc %}

{% block title %}{% blocktrans with node.name|default:_("unknown") as node_name %}Renumber Node {{ node_name }}{% endblocktrans %}{% endblock %}

{% block heading %}
{% setcontext as heading %}
{% url view_node node.get_current_id as node_url %}
{% blocktrans with node.name|default:_("unknown") as node_name %}Renumber Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}
{% endsetcontext %}
{{ block.super }}
{% endblock %}

{% block content %}

{% with "renumber the node" as form_errors_context %}
{% include "form_errors.html" %}
{% endwith %}
{% if form.warnings %}
<div class="warning">
  {% blocktrans %}<b>WARNING:</b> Renumbering procedure has encountered some non-fatal potential problems. Please review them and resubmit this form if they are acceptable (otherwise abort this operation).{% endblocktrans %}<br/>
  <br/>
  {% for warning in form.warnings %}
  <i>{{ warning }}</i><br/>
  {% endfor %} 
</div>
{% endif %}

<div class="warning">
 {% blocktrans %}<b>WARNING:</b> By renumbering you can change node's subnets (and thus also node's primary IP address). Be careful, as you will put node's old allocated subnets back into the IP pool where they will be available for immediate allocation by other nodes. After you renumber you must <b>update the node's router configuration</b> to reflect renumbering changes. You can simply generate a new image with new configuration for the router and flash it.{% endblocktrans %}
</div>
 
{% include "nodes/general_info.html" %}

{% heading 2 _("Renumber Specification") %}

<form method="post" action="{% url renumber_node node.pk %}">
{% csrf_token %}
<div style='display:none'>{{ form.confirm_all_warnings }}</div>
<table border="0" class="proptable">
  <tr>
    <td class="proplabel"><b>{% trans "Current allocation" %}</b></td>
    <td class="propbody"><b>{% trans "Renumber action" %}</b></td>
  </tr>
  {% for subnet in form.get_subnet_fields %}
  <tr>
    <td class="proplabel">{{ subnet.model }}</td>
    <td class="propbody">
      {{ subnet }}
      <div class="prefix_len_{{ subnet.prefix }}">
        {% trans "New prefix length:" %}&nbsp;
        <select name="{{ subnet.prefix }}" id="id_{{ subnet.prefix }}"></select>
        {% if user.is_staff %}
        <br/>{% trans "Subnet (optional):" %}&nbsp;
        {{ subnet.manual_ip }}<br/>
        <label onclick="toggleManualSubnetInput('{{ subnet.model.pk }}');">
          <input type="checkbox" id="id_assign_manual_{{ subnet.model.pk }}" checked="checked" /> {% trans "Assign automatically from the IP pool" %}
        </label>
        {% endif %}
      </div>
    </td>
  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
/* <![CDATA[ */
  var pool_prefix_lens = {
    {% for pool in form.get_pools %}
    {{ pool.id }} : {
      'min' : {{ pool.min_prefix_len }},
      'max' : {{ pool.max_prefix_len }},
      'def' : {{ pool.default_prefix_len }}
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  };
  
  function updatePrefixLensForPool(subnetId, action) {
    if (action <= 0) {
      $('.prefix_len_prefix_' + subnetId).css('display', 'none');
    } else {
      var prefs = $('#id_prefix_' + subnetId); 
      $('.prefix_len_prefix_' + subnetId).css('display', '');
      prefs.empty();
      
      pool = pool_prefix_lens[action];
      for (var i = pool.min; i <= pool.max; i++) {
        prefs.append('<option value="' + i + '">/' + i + '</option>');
      }
      prefs.attr('value', '' + pool.def);
    }
  }
  
  function toggleManualSubnetInput(subnetId)
  {
    var manualSubnet = $('#id_manual_' + subnetId);
    var checkbox = $('#id_assign_manual_' + subnetId); 
    
    if (checkbox.is(':checked')) {
      manualSubnet.attr('value', '');
      manualSubnet.attr('disabled', 'disabled');
    } else {
      manualSubnet.removeAttr('disabled');
    }
  }
  
  $(document).ready(function () {
    $('.subnet').change(function(event) {
      var subnetId = $(this).attr('id').replace('id_subnet_', '');
      updatePrefixLensForPool(subnetId, $(this).attr('value'));
      toggleManualSubnetInput(subnetId);
    }).change();
  });
/* ]]> */
</script>

<div class="buttons">
  <input type="submit" value="{% trans "Renumber" %}" />&nbsp;
  <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.get_current_id %}'" />
</div>
</form>
{% endblock %}
