{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with node.name|default:_("unknown") as node_name %}Reset Node {{ node_name }}{% endblocktrans %}{% endblock %}
{% block heading %}{% url view_node node.get_current_id as node_url %}{% blocktrans with node.name|default:_("unknown") as node_name %}Reset Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}{% endblock %}

{% block content %}
<div class="warning">
  {% blocktrans %}<b>WARNING:</b> By issuing a reset command you will reset (erase) all node statistics and graphs! Use this option <b>only when</b> you have been just <b>performing testing</b> and therefore current statistics are no longer relevant. <b>Do not use it on a node which have been running for some time</b> (for example to improve its statistics) as it is important to have history records of network's growth and development. Consider marking it as a dead node and registering a new node.{% endblocktrans %}
</div>

{% include "nodes/general_info.html" %}

<form method="post" action="{% url reset_node node.pk %}">
{% csrf_token %}
  <div class="buttons">
   <input type="submit" value="{% trans "Reset" %}" />&nbsp;
   <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.get_current_id %}'" />
  </div>
</form>
{% endblock %}
