{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset Node" %} {{ node.name|default:"???" }} ({{ node.ip }}){% endblock %}

{% block content %}
<h1>{% trans "Reset Node" %} - {{ node.name|default:"???" }} ({{ node.ip }}) ?</h1>
  <div class="error">
      {% trans "<b>WARNING:</b> By issuing a reset command you will loose all node statistics (like last seen, first seen, current uptime, client count and others)! Use this option when you have been just performing testing and therefore current statistics are no longer relevant." %}
    </div>
<h3>{% trans "General Information" %}</h3>
<table border="0" width="700">
  <tr>
    <td style="width: 200px;">{% trans "IP address" %}</td>
    <td>{{ node.ip }}</td>
  </tr>
  <tr>
    <td>{% trans "Name" %}</td>
    <td>{{ node.name|default:"???" }}</td>
  </tr>
  <tr>
    <td>{% trans "Maintainer" %}</td>
    {% if node.owner %}
    <td>{{ node.owner.username }}</td>
    {% else %}
    <td>{% trans "Unknown" %}</td>
    {% endif %}
  </tr>
  <tr>
    <td>{% trans "Location" %}</td>
    <td>{{ node.location|default:_("Unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "Project" %}</td>
    <td>{{ node.project.name|default:_("Unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "System node" %}</td>
    <td>{% if node.system_node %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Border router" %}</td>
    <td>{% if node.border_router %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}</td>
  </tr>
</table>
  
  <form method="POST" action="{% url wlanlj.nodes.views.node_reset node.ip %}">
    <div class="buttons">
     <input type="submit" value="{% trans "Reset" %}" />&nbsp;
     <input type="button" value="{% trans "Cancel" %}" onclick="document.location='/nodes/node/{{ node.ip }}'" />
    </div>
  </form>
{% endblock %}
