{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Network Statistics" %}{% endblock %}

{% block content %}
<h1>{% trans "Network Statistics" %}</h1>
<div class="summary">
  <h2>Nodes</h2>
  {% trans "Registred nodes" %}: {{ node_count }}<br/>
  {% trans "Nodes with warnings" %}: {{ nodes_warned }}<br/>
  {% trans "Node count by status" %}:
  <div style="padding-left: 20px;">
  {% for s in nodes_by_status %}
  <span class="node_status_{{ s.status }}">{{ s.status }}</span>: {{ s.count }}<br/>
  {% endfor %}
  </div>
  <br/>
  {% trans "Nodes with an external antenna" %}: {{ external_ant }}<br/>
  {% trans "Nodes by router type" %}:
  <div style="padding-left: 20px;">
    <table width="300" border="0">
    {% for t in template_usage %}
    <tr>
      <td>{% if t.special %}<i>{% endif %}{{ t.template }}{% if t.special %}</i>{% endif %}</td>
      <td>{{ t.count }}</td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <h2>Clients</h2>
  {% trans "Clients currently online" %}: <a href="/nodes/gcl">{{ clients_online }}</a><br/>
  {% trans "Clients online so far" %}: {{ clients_ever }}<br/>
  <h2>Network</h2>  
  {% trans "Subnet count" %}: {{ subnet_count }}<br/>
  {% trans "Average peers per node" %}: {{ peers_avg }}<br/>
</div>
<br/>
<h2>{% trans "VPN gateway traffic" %} <span class="small_text">(in bytes per second)</span></h2>
<div align="center">
  <img src="http://nodes.wlan-lj.net/graphs/global_replicator_traffic.png"/><br/>
  <div style="width: 581px;">
    <span class="small_text">
      <span style="color: #CF7E6C">outgoing</span> traffic originates in the mesh and is forwarded towards the Internet;
      <span style="color: #6CCF6C">incoming</span> traffic originates in the Internet and is forwarded towards the mesh;
      <span style="color: #6C9CCF">internal</span> traffic is traffic between mesh nodes via VPN
    </span>
  </div>
</div>
{% endblock %}
