{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Network Statistics" %}{% endblock %}

{% block content %}
<h1>{% trans "Network Statistics" %}</h1>
<div class="networksummary">
  <h2>Nodes</h2>
<table class="layout">
<tr>
{% for s in nodes_by_status %}
<td class="node_status_{{ s.status }} nodes" ><img src="/images/status_{{ s.status }}_big.png" title="{{ s.status }}" alt="{{ s.status }}"/> {{ s.count }}<td/>
{% endfor %}
</tr>
</table>

<div>
{% trans "All registred nodes" %}: {{ node_count }}<br/>
{% trans "Nodes with warnings" %}: {{ nodes_warned }}<br/>
{% trans "Nodes with an external antenna" %}: {{ external_ant }}<br/>
</div>

<h3 id="routers_folder" class="folding closed">{% trans "Nodes by router type" %}</h3>
  <div style="padding-left: 20px;" id="routers_foldee">
    <table border="0" style="width: 90%; !important;" class="listing">
    {% for t in template_usage %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{% if t.special %}<i>{% endif %}{{ t.template }}{% if t.special %}</i>{% endif %}</td>
      <td>{{ t.count }}</td>
    </tr>
    {% endfor %}
    </table>
  </div>

<h3 id="projects_folder" class="folding closed">{% trans "Nodes by project" %}</h3>
  <div style="padding-left: 20px;" id="projects_foldee">
    <table border="0" style="width: 90%; !important;" class="listing">
    {% for p in nodes_by_project %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{% if p.special %}<i>{% endif %}{{ p.name }}{% if p.special %}</i>{% endif %}</td>
      <td>{{ p.count }}</td>
    </tr>
    {% endfor %}
    </table>
  </div>


  <h2>Clients</h2>
  {% trans "Clients currently online" %}: <a href="/nodes/gcl">{{ clients_online }}</a><br/>
  {% trans "Clients online so far" %}: {{ clients_ever }}<br/>
  <h2>Network</h2>  
  {% trans "Number of subnets" %}: {{ subnet_count }}<br/>
  {% trans "Average peers per node" %}: {{ peers_avg }}<br/>
</div>
<h2>Graphs</h2>
<div align="center">
  <img src="http://nodes.wlan-lj.net/graphs/global_nodes_by_status.png"/>
</div>
<br/>
<h2>{% trans "VPN gateway traffic" %} <span class="small_text">(in bytes per second)</span></h2>
<div align="center">
  <img src="http://nodes.wlan-lj.net/graphs/global_replicator_traffic.png"/><br/>
  <div style="width: 581px;">
    <span class="small_text">
      <span style="color: #CF7E6C">outgoing</span> traffic originates in the mesh and is forwarded towards the Internet;
      <span style="color: #6CCF6C">incoming</span> traffic originates in the Internet and is forwarded towards the mesh;
      <span style="color: #6C9CCF">internal</span> traffic is traffic between mesh nodes via VPN
    </span>
  </div>
</div>
{% endblock %}
