{% extends "my_base.html" %}
{% load i18n %}

{% block title %}{% trans "Generate an Info Sticker" %}{% endblock %}
{% block heading %}{% trans "Generate an Info Sticker" %}{% endblock %}

{% block my_content %}
{% with "generate an info sticker" as form_errors_context %}
{% include "form_errors.html" %}
{% endwith %}

{% if stickers_disabled %}
<div class="error">
{% blocktrans %}<b>ERROR:</b> Info stickers are disabled in settings so your info sticker was not generated. Enable them by setting STICKERS_ENABLED to True.{% endblocktrans %}
</div>
{% endif %}
<p class="no-top-margin">
{% trans "Enter your name and contact phone number as you would like them displayed on the info sticker. A PDF will then be generated that you can print out and include on the node container." %}
</p>
<form action="{% url my_sticker %}" method="post">
{% csrf_token %}
<table border="0" width="700">

  <tr>
    <td>{{ form.project.label }}</td>
    <td>{{ form.project }}</td>
  </tr>
  <tr>
    <td>{{ form.name.label }}</td>
    <td>{{ form.name }}</td>
  </tr>
  <tr>
    <td>{{ form.phone.label }}</td>
    <td>{{ form.phone }}</td>
  </tr>
</table>
  <div class="buttons">
    <input type="submit" value="{% trans "Generate" %}" />
  </div>
</form>
{% endblock %}
