{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Generate an Info Sticker" %}{% endblock %}
{% block heading %}{% trans "Generate an Info Sticker" %}{% endblock %}
{% block contenttype %}prefs{% endblock %}
{% block content %}
<ul id="tabs">
  <li><a href="{% url my_nodes %}">{% trans "My nodes" %}</a></li>
  <li><a href="{% url new_node %}">{% trans "New node" %}</a></li>
  <li><a href="{% url my_whitelist %}">{% trans "MAC whitelist" %}</a></li>
  <li><a href="{% url my_events %}">{% trans "Events" %}</a></li>
  <li class="active">{% trans "Info sticker" %}</li>
</ul>
<div id="tabcontent">
{% if form.errors and show_errors %}
<div class="error">
  {% trans "<b>Oooops!</b> The following errors have ocurred while attempting to generate a sticker:" %}<br />
  <br/>
  {% for error in form.non_field_errors %}
  <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% for field in form %}
  {% for error in field.errors %}
  {{ field.label }}: <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}
<p class="no-top-margin">
{% trans "Enter your name and contact phone number as you would like them displayed on the sticker. A nice PDF will then be generated that you can print out and include on the node container." %}
</p>
<form action="{% url web.nodes.views.sticker %}" method="post">
{% csrf_token %}
<table border="0" width="700">

  <tr>
    <td>{{ form.project.label }}</td>
    <td>{{ form.project }}</td>
  </tr>
  <tr>
    <td>{{ form.name.label }}</td>
    <td>{{ form.name }}</td>
  </tr>
  <tr>
    <td>{{ form.phone.label }}</td>
    <td>{{ form.phone }}</td>
  </tr>
</table>
  <div class="buttons">
      <input type="submit" value="{% trans "Generate" %}" />&nbsp;
      <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url my_nodes %}'" />
    </div>
</form>
</div>
{% endblock %}
