{% load i18n %}
{% if node.warnings and node.get_warnings %}
<div class="warning">
  {% blocktrans %}<b>WARNING:</b> Some problems were found in this node's configuration! Continued operation of this node might disrupt normal network operations, so these issues must be addressed! The following problems have been detected:{% endblocktrans %}<br />
  <table border="0" width="100%" cellpadding="0" cellspacing="0" class="warnings">
  <tbody>
    {% for warning in node.get_warnings %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td class="icon"><img src="{{ MEDIA_URL }}images/source_{{ warning.source_to_identifier }}.png" alt="{{ warning.source_to_string }}" title="Source: {{ warning.source_to_string|lower }}" /></td>
      <td align="left">
        <span class="datetime">
          {{ warning.created_at|date }}<br />
        </span>
        {{ warning.to_description_string }}
        {% if current_owner or node.is_invalid %}
        <span class="help">
          {% if warning.get_details %}<br /><b>{% trans "Details:" %}</b> {{ warning.get_details }}{% endif %}
          {% if warning.to_help_string %}<br /><b>{% trans "Help:" %}</b> {{ warning.to_help_string }}{% endif %}
        </span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endif %}
