{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Whitelist a MAC Address" %}{% endblock %}
{% block contenttype %}prefs{% endblock %}
{% block content %}
<h1>{% trans "Whitelist a MAC Address" %}</h1>
<ul id="tabs">
  <li><a href="/nodes/my_nodes">{% trans "My nodes" %}</a></li>
  <li><a href="/nodes/new">{% trans "New node" %}</a></li>
  <li class="active"><a href="/nodes/whitelist_mac">{% trans "Whitelist a MAC address" %}</a></li>
  <li><a href="/nodes/events">{% trans "Event log" %}</a></li>
  <li><a href="/nodes/sticker">{% trans "Info sticker" %}</a></li>
</ul>
<div id="tabcontent">
{% if form.errors %}
<div class="error">
  {% trans "<b>Oooops!</b> The following errors have ocurred while attempting to whitelist a MAC address:" %}<br />
  <br/>
  {% for error in form.non_field_errors %}
  <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% for field in form %}
  {% for error in field.errors %}
  {{ field.label }}: <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}
<p>{% trans "Enter a MAC address to be whitelisted on all routers, so no splash screen confirmation will be needed. Please note that after you enter an address it might take up to a full day for the address to be whitelisted by all nodes participating in the mesh, so be patient!" %}
</p>
<form action="/nodes/whitelist_mac" method="POST">

<table border="0" width="700">
  <tr>
    <td>{{ form.mac.label }}</td>
    <td>{{ form.mac }}</td>
  </tr>
</table>
<div class="buttons">
      <input type="submit" value="{% trans "Whitelist" %}" />&nbsp;
      <input type="button" value="{% trans "Cancel" %}" onclick="document.location='/nodes/my_nodes'" />
</div>
</form>
</div>
{% endblock %}
