{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load i18n sekizai_tags %}

{% add_data "js_data" "datastream/underscore/underscore.js" %}
{% add_data "js_data" "datastream/highstock/highstock.js" %}
{% add_data "js_data" "datastream/highstock/highcharts-more.js" %}
{% add_data "js_data" "datastream/highstock/exporting.js" %}
{% add_data "js_data" "frontend/js/highcharts.js" %}
{% add_data "js_data" "network/statistics/status.js" %}

<div class="row snippet node-status">
    <div class="col-md-2 key">{% trans "Nodes by status" %}</div>
    <div class="col-md-10 value">
        <div id="statistics-nodes-by-status" data-url="{% url "apiv2:statistics-status-list" %}">
        </div>
    </div>
</div>
