{% load i18n misc %}

{% if errors %}
    <div class="error">
      <b>{% trans "Errors while performing validation" %}</b><br/>
      <br/>
      {% for error in errors %}
          {{ error }}<br/>
      {% endfor %}
    </div>
{% endif %}

{% for descriptor in registry_forms %}
    {% heading 3 descriptor.name %}
    {% if descriptor.multiple %}
        {% if not descriptor.hide_multiple_controls %}
            <input type="button" value="{% trans 'Add' %}" name="{{ descriptor.prefix }}" class="regact_adder">
            <input type="button" value="{% trans 'Remove Last' %}" name="{{ descriptor.prefix }}" class="regact_remover">
        {% endif %}
        {{ descriptor.submeta }}
        <div id="{{ descriptor.prefix }}_mu_container">
    {% endif %}
    
    {% for subform in descriptor.subforms %}
        {{ subform }}
    {% endfor %}
    
    {% if descriptor.multiple %}
        </div>
    {% endif %}
{% endfor %}
