{% overextends "plain.html" %}

{% block header %}
    {% block accounts_menu_wrapper %}
        <section class="accounts-menu {% block accounts_menu_classes %}{% endblock accounts_menu_classes %}">
            {% block accounts_menu %}
                {% include "base/accounts_menu.html" %}
            {% endblock accounts_menu %}
        </section>
    {% endblock accounts_menu_wrapper %}
    {{ block.super }}
{% endblock header %}

{% block content_wrapper %}
    {% block main_menu_wrapper %}
        <section class="main-menu {% block main_menu_classes %}{% endblock main_menu_classes %}">
            {% block main_menu %}
                {% include "base/main_menu.html" %}
            {% endblock main_menu %}
        </section>
    {% endblock main_menu_wrapper %}
    {% block messages_wrapper %}
        {% if messages %}
            <section class="messages {% block messages_classes %}{% endblock messages_classes %}">
                {% block messages %}
                    {% include "base/messages.html" %}
                {% endblock messages %}
            </section>
        {% endif %}
    {% endblock messages_wrapper %}
    {{ block.super }}
    {% block altlinks_wrapper %}
        <section class="altlinks {% block altlinks_classes %}{% endblock altlinks_classes %}">
            {% block altlinks %}{% endblock altlinks %}
        </section>
    {% endblock altlinks_wrapper %}
{% endblock content_wrapper %}

{% block content_before %}
    {% block content_permalink %}
        {% include "base/content_permalink.html" %}
    {% endblock content_permalink %}
    {% block heading %}
        {% include "base/content_heading.html" %}
    {% endblock %}
    {{ block.super }}
{% endblock content_before %}
