{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load i18n %}
{% load theme_tags %}

{% comment %}
Template which uses from the context:
  form: Django form object
  form_submit: submit button label
  form_action: form action URL
  next: where the form should redirect after submission

We use `next` from the context or use `request_get_next` which is set to `next` from request arguments
in global_vars context processor.
{% endcomment %}

{% spaceless %}
    {% if form.is_multipart %}
        <form class="form-horizontal" action="{{ form_action|default:request.get_full_path }}" method="post" enctype="multipart/form-data">
    {% else %}
        <form class="form-horizontal" action="{{ form_action|default:request.get_full_path }}" method="post">
    {% endif %}

        {% csrf_token %}

        {% if next|default:request_get_next %}
            <div style="display: none;">
                <input type="hidden" name="{{ REDIRECT_FIELD_NAME }}" value="{{ next|default:request_get_next }}" />
            </div>
        {% endif %}

        {% if form %}
            {% if form.non_field_errors %}
                {% with form.non_field_errors as errors %}
                    {% include "form/form_errors.html" %}
                {% endwith %}
            {% endif %}
            {% for field in form.hidden_fields %}
                <div style="display: none;">{{ field }}</div>
            {% endfor %}
            {% for field in form.visible_fields %}
                {% ifchanged field.fieldset.name %}
                    {% if not forloop.first %}
                        </fieldset>
                    {% endif %}
                    <fieldset>
                    {% if field.fieldset.name %}<legend>{{ field.fieldset.name }}</legend>{% endif %}
                {% endifchanged %}
                {% theme_field field layout="horizontal" %}
                {% if forloop.last %}
                    </fieldset>
                {% endif %}
            {% endfor %}
        {% endif %}

        <p class="btn-row">
            <button class="btn btn-primary btn-lg" type="submit">{{ form_submit }}</button>
            <button class="btn btn-default btn-lg" type="submit" name="cancel" value="cancel">{% trans "Cancel" %}</button>&nbsp;
        </p>

    </form>
{% endspaceless %}
