{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load future staticfiles html_tags %}

{% block included_header %}
    <div class="header-heading {% if NETWORK.LOGO_FILE %}logo{% endif %}">
        {% block included_header_logo %}
            {% if NETWORK.LOGO_FILE %}
                <a href="{% url "main_page" %}" class="logo"><img src="{% static NETWORK.LOGO_FILE %}" alt="{{ NETWORK.NAME }}" title="{{ NETWORK.DESCRIPTION|default:NETWORK.NAME }}" /></a>
            {% endif %}
        {% endblock included_header_logo %}
        {% block included_header_heading %}
            <a href="{% url "main_page" %}">
            <div class="network-name">{{ NETWORK.NAME }}</div>
            {% if NETWORK.DESCRIPTION %}
                <div class="network-description">{{ NETWORK.DESCRIPTION }}</div>
            {% endif %}
            </a>
        {% endblock included_header_heading %}
    </div>
{% endblock included_header %}
