{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}{% load sekizai_tags %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{{ title }}{% block title_suffix %}{% block title_delimiter %} – {% endblock title_delimiter %}{% block title_site_name %}{{ NETWORK.NAME|default:site.name }}{% endblock title_site_name %}{% endblock title_suffix %}{% endblock title %}</title>
        {% block head_meta %}
            {% include "head/meta.html" %}
        {% endblock head_meta %}
        {% block head_favicon %}
            {% include "head/favicon.html" %}
        {% endblock head_favicon %}
        {% block head_permalink %}
            {% include "head/permalink.html" %}
        {% endblock head_permalink %}
        {% render_block "extrahead" %}
        {% block extrahead %}{% endblock extrahead %}
        {% with_data "css_data" as css_data %}
            {% include "head/css_data.html" %}
        {% end_with_data %}
        {% render_block "css" %}
        {% block css %}{% endblock css %}
        {% block extrastyle %}{% endblock %}
        {% with_data "js_data" as js_data %}
            {% include "head/js_data.html" %}
        {% end_with_data %}
        {% render_block "js" %}
        {% block js %}{% endblock js %}
    </head>

    <body class="locale-{{ LANGUAGE_CODE|default:"en-us" }} {% if LANGUAGE_BIDI %}dir-rtl{% else %}dir-ltr{% endif %} {% block body_classes %}{% endblock body_classes %}">
        {% block header_wrapper %}
            <header class="{% block header_classes %}{% endblock header_classes %}">
                {% block header %}
                    {% include "header.html" %}
                {% endblock header %}
            </header>
        {% endblock header_wrapper %}
        {% block content_wrapper %}
            <section class="content {% block content_classes %}{% endblock content_classes %}">
                {% block content_before %}{% endblock content_before %}
                {% block content %}
                    {# Should be empty so that users can just override it without having to call block.super #}
                {% endblock content %}
                {% block content_after %}{% endblock content_after %}
            </section>
        {% endblock content_wrapper %}
        {% block footer_wrapper %}
            <footer class="{% block footer_classes %}{% endblock footer_classes %}">
                {% block footer %}
                    {% include "footer.html" %}
                {% endblock footer %}
            </footer>
        {% endblock footer_wrapper %}
    </body>
</html>
