{% load i18n %}
{% load graphimg %}
<h2>{% trans "VPN gateway traffic" %} <span class="small_text">({% trans "in bytes per second" %})</span></h2>
{% show_graph %}
<div class="graphinfo small_text">
    <span style="color: #CF7E6C">outgoing</span> traffic originates in the mesh and is forwarded towards the Internet<br />
    <span style="color: #6CCF6C">incoming</span> traffic originates in the Internet and is forwarded towards the mesh<br />
    <span style="color: #6C9CCF">internal</span> traffic is traffic between mesh nodes via VPN
</div>
