{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load i18n sekizai_tags %}

{% add_data "js_data" "datastream/underscore/underscore.js" %}
{% add_data "js_data" "datastream/highstock/highstock.js" %}
{% add_data "js_data" "datastream/highstock/highcharts-more.js" %}
{% add_data "js_data" "datastream/highstock/exporting.js" %}
{% add_data "js_data" "frontend/js/highcharts.js" %}
{% add_data "js_data" "network/statistics/project.js" %}

<div class="row snippet node-project">
    <div class="col-md-2 key">{% trans "Nodes by project" %}</div>
    <div class="col-md-10 value">
        <div id="statistics-nodes-by-project" data-url="{% url "apiv2:statistics-project-list" %}"></div>
        <span><i>{% trans "Only nodes seen in the last 180 days are shown." %}</i></span>
    </div>
</div>
