{% extends "base.html" %}

{% contextblock %}
    {% load i18n sekizai_tags html_tags url_tags %}

    {% add_data "css_data" "datatables/css/style.css" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.js" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.bootstrap.js" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.fixedHeader.js" %}
    {% add_data "js_data" "api/js/base.js" %}
    {% add_data "js_data" "public_key/js/code.js" %}

    {% trans "List of My Public Keys" as title %}
{% endcontextblock %}

{% block altlinks %}
    {% url "apiv2:userauthenticationkey-list" as api_url %}
    {% with api_url as url %}
    {% include "formats.html" %}
    {% endwith %}
{% endblock altlinks %}

{% block content_before %}
    {% block public_key_menu_wrapper %}
        <section class="menu node-menu {% block public_key_menu_classes %}{% endblock public_key_menu_classes %}">
            {% block public_key_menu %}
                {% include "public_key/public_key_menu.html" %}
            {% endblock public_key_menu %}
        </section>
    {% endblock public_key_menu_wrapper %}
    {{ block.super }}
{% endblock content_before %}

{% block content %}
    <table class="table table-striped key-list {% block key_list_classes %}{% endblock key_list_classes %}" data-source="{% block key_list_data_source %}{% url "apiv2:userauthenticationkey-list" %}{% endblock key_list_data_source %}" data-remove-url-template="{% urltemplate "PublicKeyComponent:remove" %}" width="100%">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Fingerprint" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
