{% overextends "base.html" %}

{% contextblock %}
    {% load future i18n %}

    {% trans "Remove Public Key" as title %}
{% endcontextblock %}

{% block content %}
    {% block public_key_remove_warning_wrapper %}
        <div class="warning {% block public_key_remove_warning_classes %}{% endblock public_key_remove_warning_classes %}">
            {% block public_key_remove_warning %}
                {% include "public_key/public_key_remove_warning.html" %}
            {% endblock public_key_remove_warning %}
        </div>
    {% endblock public_key_remove_warning_wrapper %}

    <dl class="snippet-list">
        <dt class="key-name">{% trans "Key name" %}</dt>
        <dd class="key-name">{{ object.name }}</dd>

        <dt class="key-fingerprint">{% trans "Fingerprint" %}</dt>
        <dd class="key-fingerprint">{{ object.fingerprint }}</dd>
    </dl>

    {% block public_key_remove_form_wrapper %}
        {% with form_submit=_("Remove") %}
            {% include "form.html" %}
        {% endwith %}
    {% endblock public_key_remove_form_wrapper %}
{% endblock %}
