{% overextends "footer.html" %}

{% block included_footer %}
    <hr />
    <div class="footer-license">
        All content on this website is available under <a href="https://wlan-si.net/content-license/">Creative Commons Attribution-ShareAlike license</a> unless specified otherwise.
    </div>
    <div class="footer-links">
        <a href="https://wlan-si.net/">wlan slovenija</a> | <a href="https://nodes.wlan-si.net/">node database</a> | <a href="https://dev.wlan-si.net/">development</a> | <a href="https://grow.wlan-si.net/">growing</a>
    </div>
{% endblock included_footer %}
