{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load future i18n html_tags node_status_tags registry %}

{% block network_status_heading %}
    {% heading 2 _("Node Network Status Key") %}
{% endblock network_status_heading %}

{% block network_status_wrapper %}
    <dl class="network-status {% block network_status_classes %}{% endblock network_status_classes %}">
        {% block network_status %}
            {% registry_get_choices "node.monitoring" "core.status#network" as network_status_choices %}
            {% for choice in network_status_choices %}
                <dt class="{{ choice.name }}">{% network_status_icon choice "small" %}</dt>
                <dd class="{{ choice.name }}">{% network_status_description choice %}</dd>
            {% endfor %}
        {% endblock network_status %}
    </dl>
{% endblock network_status_wrapper %}

{% block monitored_status_heading %}
    {% heading 2 _("Node Monitored Status Key") %}
{% endblock monitored_status_heading %}

{% block monitored_status_wrapper %}
    <dl class="monitored-status {% block monitored_status_classes %}{% endblock monitored_status_classes %}">
        {% block monitored_status %}
            {% registry_get_choices "node.monitoring" "core.status#monitored" as monitored_status_choices %}
            {% for choice in monitored_status_choices %}
                <dt class="{{ choice.name }}">{% monitored_status_icon choice "small" %}</dt>
                <dd class="{{ choice.name }}">{% monitored_status_description choice %}</dd>
            {% endfor %}
        {% endblock monitored_status %}
    </dl>
{% endblock monitored_status_wrapper %}

{% block health_status_heading %}
    {% heading 2 _("Node Health Status Key") %}
{% endblock health_status_heading %}

{% block health_status_wrapper %}
    <dl class="health-status {% block health_status_classes %}{% endblock health_status_classes %}">
        {% block health_status %}
            {% registry_get_choices "node.monitoring" "core.status#health" as health_status_choices %}
            {% for choice in health_status_choices %}
                <dt class="{{ choice.name }}">{% health_status_icon choice "small" %}</dt>
                <dd class="{{ choice.name }}">{% health_status_description choice %}</dd>
            {% endfor %}
        {% endblock health_status %}
    </dl>
{% endblock health_status_wrapper %}

{% block columns_heading %}
    {% heading 2 _("Columns") %}
{% endblock columns_heading %}

{% block columns_wrapper %}
    <dl class="columns {% block columns_classes %}{% endblock columns_classes %}">
        {% block columns %}
            <dt>{% trans "Name" %}</dt>
            <dd>{% trans "The name of the node." %}</dd>
            <dt>{% trans "Last seen" %}</dt>
            <dd>{% trans "When was the node last seen connected to the network." %}</dd>
            <dt>{% trans "Network Status" %}</dt>
            <dd>{% trans "Current status of the node's connection to the network." %}</dd>
            <dt>{% trans "Monitored Status" %}</dt>
            <dd>{% trans "Is the node monitored by <i>nodewatcher</i>." %}</dd>
            <dt>{% trans "Health Status" %}</dt>
            <dd>{% trans "Are there any detected issues with the node." %}</dd>
            <dt>{% trans "Project" %}</dt>
            <dd>{% trans "The project to which the node belongs." %}</dd>
        {% endblock columns %}
    </dl>
{% endblock columns_wrapper %}
