{% overextends "base.html" %}

{% contextblock %}
    {% load future i18n sekizai_tags html_tags url_tags %}

    {% add_data "css_data" "datatables/css/jquery.dataTables.css" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.js" %}
    {% add_data "js_data" "datatables/js/code.js" %}
    {% trans "Node List" as title %}
{% endcontextblock %}

{% block altlinks %}
    {% heading 2 _("Other Formats") %}

    <ul class="node-list-altlinks">
        <li class="xml"><a href="{% url "api:api_dispatch_list" "v1" "node" %}?format=xml">{% trans "XML" %}</a></li>
        <li class="json"><a href="{% url "api:api_dispatch_list" "v1" "node" %}?format=json">{% trans "JSON" %}</a></li>
    </ul>
{% endblock altlinks %}

{% block content %}
    <table class="node-list" data-source="{% url "api:api_dispatch_list" "v1" "node" %}" data-node-url-template="{% urltemplate "DisplayComponent:node" %}">
        <thead>
            <tr>
                <th rowspan="2">{# Hidden node type #}</th>
                <th rowspan="2" title="{% trans "The name of the node." %}">{% trans "Name" %}</th>
                <th rowspan="2" title="{% trans "When was the node last seen connected to the network." %}">{% trans "Last seen" %}</th>
                <th colspan="3">{% trans "Status" %}</th>
                <th rowspan="2" title="{% trans "The project to which the node belongs." %}">{% trans "Project" %}</th>
            </tr>
            <tr>
                <th title="{% trans "Current status of the node's connection to the network." %}">{% trans "Network" %}</th>
                <th title="{% trans "Is the node monitored by <i>nodewatcher</i>." %}">{% trans "Monitored" %}</th>
                <th title="{% trans "Are there any detected issues with the node." %}">{% trans "Health" %}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th rowspan="2">{# Hidden node type #}</th>
                <th rowspan="2" title="{% trans "The name of the node." %}">{% trans "Name" %}</th>
                <th rowspan="2" title="{% trans "When was the node last seen connected to the network." %}">{% trans "Last seen" %}</th>
                <th title="{% trans "Current status of the node's connection to the network." %}">{% trans "Network" %}</th>
                <th title="{% trans "Is the node monitored by <i>nodewatcher</i>." %}">{% trans "Monitored" %}</th>
                <th title="{% trans "Are there any detected issues with the node." %}">{% trans "Health" %}</th>
                <th rowspan="2" title="{% trans "The project to which the node belongs." %}">{% trans "Project" %}</th>
            </tr>
            <tr>
                <th colspan="3">{% trans "Status" %}</th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>

    <div class="node-list-legend">
        {% include "nodes/legend.html" %}
    </div>
{% endblock %}
