{% extends "base.html" %}

{% contextblock %}
    {% load future i18n sekizai_tags html_tags url_tags theme_tags %}

    {% add_data "css_data" "datatables/css/style.css" %}
    {% add_data "js_data" "datastream/underscore/underscore.js" %}
    {% add_data "js_data" "datastream/moment/moment.js" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.js" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.bootstrap.js" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.moment.js" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.fixedHeader.js" %}
    {% add_data "js_data" "api/js/base.js" %}
    {% add_data "js_data" "api/js/registry.js" %}
    {% add_data "js_data" "list/js/types.js" %}
    {% add_data "js_data" "list/js/status.js" %}
    {% add_data "js_data" "nodes/list/js/code.js" %}

    {% trans "Node List" as title %}

{% endcontextblock %}

{% block altlinks %}
    {% url "apiv2:node-list" as api_url %}
    {% with api_url as url %}
    {% include "formats.html" %}
    {% endwith %}
{% endblock altlinks %}

{% block content %}
    {% include "status/definitions.html" %}
    {% include "types/definitions.html" %}
    <table class="table table-striped node-list {% block node_list_classes %}{% endblock node_list_classes %}" data-source="{% block node_list_data_source %}{% url "apiv2:node-list" %}{% endblock node_list_data_source %}" data-node-url-template="{% urltemplate "DisplayComponent:node" %}" width="100%">
        <thead>
            <tr>
                <th title="{% trans "The type of the node." %}"></th>
                <th title="{% trans "The name of the node." %}">{% trans "Name" %}</th>
                <th title="{% trans "The router IDs of the node." %}">{% trans "Router IDs" %}</th>
                <th title="{% trans "When was the node last seen connected to the network." %}">{% trans "Last seen" %}</th>
                <th title="{% trans "Network - Current status of the connection to the network." %}">{% theme_icon "node-network" icons="nw" %}</th>
                <th title="{% filter striptags %}{% trans "Monitoring - Is the node monitored by <i>nodewatcher</i>." %}{% endfilter %}">{% theme_icon "node-monitoring" icons="nw" %}</th>
                <th title="{% trans "Health - Are there any detected issues with the node." %}">{% theme_icon "node-health" icons="nw" %}</th>
                <th title="{% trans "Routing topology summary for the node." %}">{% trans "Links" %}</th>
                <th title="{% trans "The project to which the node belongs." %}">{% trans "Project" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}
