{% load i18n %}<div id="banner">
  <div id="header">
    <h1><a href="http://wlan-lj.net/"><span>wlan ljubljana</span></a></h1>
    <h2><a href="http://wlan-lj.net/"><span>odprto brezžično omrežje Ljubljane</span></a></h2>
  </div>
  <form id="search" action="http://wlan-lj.net/search" method="get">
    <div>
      <label for="proj-search">Search:</label>
      <input type="text" id="proj-search" name="q" size="18" value="" />
      <input type="submit" value="Search" />
    </div>
  </form>
{% include "account.html" %}
</div>
<div id="mainnav" class="nav">
  <ul>
    <li><a href="http://wlan-lj.net/wiki/OOmrezju">O omrežju</a></li>
    <li><a href="http://wlan-lj.net/wiki/Sodeluj">Sodeluj</a></li>
    <li class="active"><a href="https://nodes.wlan-lj.net">Pregled točk</a></li>
    <li><a href="http://wlan-lj.net/wiki/Tocke">Spletne strani točk</a></li>
    <li><a href="http://wlan-lj.net/wiki/Navodila">Navodila, pomoč</a></li>
    <li><a href="http://wlan-lj.net/wiki/Podrobnosti">Tehnične podrobnosti</a></li>
    <li><a href="http://wlan-lj.net/browser">Izvorna koda</a></li>
    <li><a href="http://wlan-lj.net/report">Opravila, napake</a></li>
    {% if user.is_authenticated %}
    <li><a href="http://wlan-lj.net/newticket">Novo opravilo, napaka</a></li>
    {% endif %}
    <li><a accesskey="3" href="http://wlan-lj.net/roadmap">Roadmap</a></li>
    <li><a accesskey="2" href="http://wlan-lj.net/timeline">Timeline</a></li>
    <li><a href="http://wlan-lj.net/wiki/International">International</a></li>
    <li><a href="http://wlan-lj.net/contact">Stik / Contact</a></li>
    <li id="social" class="notentry"><a href="http://www.facebook.com/wlanljubljana"><img src="{{ MEDIA_URL }}wlanlj/site/facebook_16.png" alt="Facebook" /></a>
        <a href="http://twitter.com/wlanljubljana"><img src="{{ MEDIA_URL }}wlanlj/site/twitter_16.png" alt="Twitter" /></a>
        <a href="http://wlan-lj.net/lists/lists"><img src="{{ MEDIA_URL }}wlanlj/site/mailinglists_16.png" alt="Mailing lists" /></a>
		<a href="skype:?chat&amp;blob=Lzvc3E6kA%E2%80%8BIgEsEuHUZs%E2%80%8B9DRD2y4sP9%E2%80%8BOYd2yH0pGY%E2%80%8B7XL3YTTMAL%E2%80%8BRRG8t_dhw5%E2%80%8B4PtvYojXbF%E2%80%8BO9M3wUqzsc%E2%80%8BA-haeeMbZW%E2%80%8BPdbSP9HCdm%E2%80%8BY0L6I9ZpSP%E2%80%8BKyIdjTJvfc%E2%80%8BVNFXV9apD"><img src="{{ MEDIA_URL }}wlanlj/site/skype_16.png" alt="Skype" /></a>
    </li>
    <li class="notentry"><a href="http://odpriokno.si"><img src="{{ MEDIA_URL }}wlanlj/site/oo.banner.png" alt="odpri okno" /></a></li>
    <li id="donate" class="notentry">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post"><div><input type="hidden" name="__FORM_TOKEN" value="00fa7a249fab8848776c4663" />
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="3295105" />
      <input type="image" src="https://www.paypal.com/en_GB/i/btn/btn_donate_SM.gif" style="border: none;" name="submit" alt="Donate" /></div>
    </form></li>
  </ul>
</div>
