$bootstrap-sass-asset-helper: true;

@import "brand";
@import "variables";

@keyframes wifi {
  0% { opacity: 0; }
  5% { opacity: 0.4; }
  10% { opacity: 0.4; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 

#skyline {
	fill: $brand-primary;
	fill-opacity: 1;
	stroke: none;
}

.wifi {
	opacity: 0;
	fill: $brand-primary;
	animation-name: wifi;
    animation-iteration-count: infinite;
}

@for $i from 1 through 15 {
    #wifi#{$i} {
        animation-delay: (($i % 4) + ($i % 6)) * 1s;
        animation-duration: (13 + ($i % 5)) * 1s;
    }
}
