{% extends "base.html" %}
{% load i18n misc %}

{% block title %}{% blocktrans %}User {{ username }}{% endblocktrans %}{% endblock %}

{% block heading %}
{% setcontext as heading %}
{% blocktrans %}User {{ username }}{% endblocktrans %}
{% endsetcontext %}
{{ block.super }}
{% endblock %}

{% block content %}
{% url user_account as user_account_url %}
<p>{% blocktrans %}Do you want to <a href="{{ user_account_url }}">change your account</a>?{% endblocktrans %}</p>
<p>{% trans "Username" %} {{ username }}.</p>
{% endblock %}
