.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */

    -webkit-user-select: none;
    /* Safari */

    -khtml-user-select: none;
    /* Konqueror HTML */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* Internet Explorer/Edge */

    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.ipspace {
    border-color: rgb(12, 70, 156);
    border-width: 1px;
    border-style: solid;
    width: 100%;
    transform-origin: top left;
}
