.noselect {
    /* iOS Safari */
    -webkit-touch-callout: none;

    /* Safari */
    -webkit-user-select: none;

    /* Konqueror HTML */
    -khtml-user-select: none;

    /* Firefox */
    -moz-user-select: none;

    /* Internet Explorer/Edge */
    -ms-user-select: none;

    /* Non-prefixed version, currently supported by Chrome and Opera */
    user-select: none;
}

.ipspace {
    border-color: rgb(12, 70, 156);
    border-width: 1px;
    border-style: solid;
    width: 100%;
    transform-origin: top left;
}
