{% load i18n %}<div id="metanav" class="nav">
  <ul>
    {% spaceless %}
    {% if user.is_authenticated %}
    <li class="first">{% trans "logged in as" %} {{ user.username }}</li>
    <li><a href="{% url auth_logout %}">{% trans "Logout" %}</a></li>
    {% if profile_configuration_url %}
    <li><a href="{{ profile_configuration_url }}">Preferences</a></li>
    {% endif %}
    <li class="last"><a href="{% url my_nodes %}">{% trans "My Nodes" %}</a></li>
    {% else %}
    <li class="first"><a href="{% url auth_login %}">{% trans "Login" %}</a></li>
    {% if profile_configuration_url %}
    <li><a href="{{ profile_configuration_url }}">{% trans "Preferences" %}</a></li>
    {% endif %}
    {% if register_user_url %}
    <li><a href="{{ register_user_url }}">{% trans "Register" %}</a></li>
    {% endif %}
    {% endif %}
    {% endspaceless %}
  </ul>
</div>
