{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %} – {{ network.name }}{% if network.description %} - {{ network.description }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/site/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/site/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/common/css/trac.css" type="text/css" />
    <link rel="stylesheet" href="/common/css/report.css" type="text/css" />
    <link rel="stylesheet" href="/common/css/prefs.css" type="text/css" />
    <script type="text/javascript" src="/site/jquery.js"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="/common/js/ie_pre7_hacks.js"></script>
    <![endif]-->
    <!--[if IE]>
    <script type="text/javascript" src="/js/ie_hacks.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/site/common.css" />
    <link rel="stylesheet" type="text/css" href="/site/trac.css" />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/table.css' />
    <script type="text/javascript" src="/site/folding.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.js"></script>
    {% block js %}{% endblock %}
	<script type="text/javascript" src="/js/jquery.dataTables.init.js"></script>
    {% block rss %}{% endblock %}
</head>

<body>
{% include "header.html" %}
    <div id="main">
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2>
{% block ctxtnav %}
{% spaceless %}
<ul>
      <li class="first"><a href="/nodes/node_list">{% trans "Node List" %}</a></li>
      <li><a href="/nodes/statistics">{% trans "Network Statistics" %}</a></li>
      <li><a href="/nodes/events/global">{% trans "Events" %}</a></li>
      <li><a href="/nodes/gcl">{% trans "Global Client List" %}</a></li>
      <li><a href="/nodes/topology">{% trans "Mesh Topology" %}</a></li>
      <li><a href="/nodes/map">{% trans "Node Map" %}</a></li>
</ul>
{% endspaceless %}
{% endblock %}
        <hr />
      </div>
<div id="content" class="{% block contenttype %}nodes{% endblock %}">
  <h1>{% block heading %}{% endblock %}</h1>
{% if messages %}
<div id="messages">
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
  {% block content %}{% endblock %}
</div>
<div id="altlinks">{% block altlinks %}{% endblock %}</div>
</div>
{% include "footer.html" %}
</body>
</html>
