{% load i18n %}{% load misc %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}{% endblock %} – {{ network.name }}{% if network.description %} – {{ network.description }}{% endif %}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="{{ network.favicon_url }}" type="image/x-icon" />
  <link rel="icon" href="{{ network.favicon_url }}" type="image/x-icon" />
  {% block head_permalink %}{% if permalink %}<link rel="bookmark" href="{{ permalink }}" />{% endif %}{% endblock %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
  <!--[if lt IE 7]>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/ie_pre7_hacks.js"></script>
  <![endif]-->
  <!--[if IE]>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/ie_hacks.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen.css" media="screen,projection" />
  <script type="text/javascript" src="{{ MEDIA_URL }}js/folding.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.js"></script>
  {% block extrahead %}{% endblock %}
  {{ form.media }}
  {% block js %}{% endblock %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.init.js"></script>
  {% block rss %}{% endblock %}
  {% include "head.html" %}
</head>
<body>
<div id="main">
{% include "header.html" %}
{% block ctxtnav %}
{% spaceless %}
<div id="navigation" class="nav">
<ul>
  <li class="first"><a href="{% url nodes_list %}">{% trans "Node List" %}</a></li>
  <li><a href="{% url network_statistics %}">{% trans "Network Statistics" %}</a></li>
  <li><a href="{% url network_events %}">{% trans "Events" %}</a></li>
  <li><a href="{% url network_clients %}">{% trans "Global Client List" %}</a></li>
  <li><a href="{% url network_topology %}">{% trans "Network Topology" %}</a></li>
  <li><a href="{% url network_map %}">{% trans "Node Map" %}</a></li>
</ul>
</div>
{% endspaceless %}
{% endblock %}
<div id="content" class="{% block contenttype %}nodes{% endblock %}">
{% block permalink %}{% if permalink %}<div class="permalink">[<a href="{{ permalink }}">{% trans "permalink" %}</a>]</div>{% endif %}{% endblock %}
{% block heading %}{% if heading %}{% heading 1 heading %}{% endif %}{% endblock %}
{% include "messages.html" %}
{% block content %}{% endblock %}
</div>
<div id="altlinks">{% block altlinks %}{% endblock %}</div>
{% include "footer.html" %}
</div>
</body>
</html>
