{% load i18n %}
{% regroup graph.get_timespans by timespan as timespan_list %}
<div class="graph">
<img src="/graphs/{{ timespan_list.list|first }}_{{ graph.graph }}" id="graph_{{ graph.id }}" alt="{% if graph.get_children %}{% regroup graph.get_children by title as title_list %}{{ title_list.list|join:", " }}{% else %}{{ graph.title }}{% endif %}" />
<br/>
{% if graph.get_children %}
<b>{% trans "Display:" %}</b>
<select id="graph_child_select_{{ graph.id }}" onchange="graph_display_changed_{{ graph.id }}()">
  <option value="{{ graph.graph }}" selected="selected">{{ graph.title }}</option>
  {% for child in graph.get_children %}
  <option value="{{ child.graph }}">{{ child.title }}</option>
  {% endfor %}
</select>
{% endif %}
<b>{% trans "Timespan:" %}</b>
<select id="graph_timespan_select_{{ graph.id }}" onchange="graph_display_changed_{{ graph.id }}()">
  {% for timespan in graph.get_timespans %}
  <option value="{{ timespan.prefix }}">{% trans timespan.prefix %}</option>
  {% endfor %}
</select>
<script type="text/javascript">
  function graph_display_changed_{{ graph.id }}()
  {
    var subgraph = $('#graph_child_select_{{ graph.id }}').attr('value') || '{{ graph.graph|escapejs }}';
    var prefix = $('#graph_timespan_select_{{ graph.id }}').attr('value');
    $('#graph_{{ graph.id }}').attr('src', '/graphs/' + prefix + '_' + subgraph);
  }
</script>
</div>
