{% load i18n %}
<div class="graph">
<img src="{{ MEDIA_URL }}graphs/{{ graph.get_timespans|first }}_{{ graph.graph }}" id="graph_{{ graph.id }}" alt="{{ graph.title }}{% for child in graph.get_children %}, {{ child.title }}{% endfor %}" />
<div class="graphmenu">
{% if graph.get_children %}
<b>{% trans "Display:" %}</b>
<select id="graph_child_select_{{ graph.id }}" onchange="graph_display_changed(); return false;">
  <option value="{{ graph.graph }}" selected="selected">{{ graph.title }}</option>
  {% for child in graph.get_children %}
  <option value="{{ child.graph }}">{{ child.title }}</option>
  {% endfor %}
</select>
{% endif %}
</div>
</div>
