{% load i18n %}
<div class="graph">
<img src="/graphs/{{ graph.get_timespans|first }}_{{ graph.graph }}" id="graph_{{ graph.id }}" alt="{% for child in graph.get_children %}{% if not forloop.first %}, {% endif %}{{ child.title }}{% empty %}{{ graph.title }}{% endfor %}" />
<br/>
{% if graph.get_children %}
<b>{% trans "Display:" %}</b>
<select id="graph_child_select_{{ graph.id }}" onchange="graph_display_changed_{{ graph.id }}()">
  <option value="{{ graph.graph }}" selected="selected">{{ graph.title }}</option>
  {% for child in graph.get_children %}
  <option value="{{ child.graph }}">{{ child.title }}</option>
  {% endfor %}
</select>
{% endif %}
<b>{% trans "Timespan:" %}</b>
<select id="graph_timespan_select_{{ graph.id }}" onchange="graph_display_changed_{{ graph.id }}()">
  {% for timespan in graph.get_timespans %}
  <option value="{{ timespan }}">{% blocktrans %}last {{ timespan }}{% endblocktrans %}</option>
  {% endfor %}
</select>
<script type="text/javascript">
  function graph_display_changed_{{ graph.id }}()
  {
    var subgraph = $('#graph_child_select_{{ graph.id }}').attr('value') || '{{ graph.graph|escapejs }}';
    var prefix = $('#graph_timespan_select_{{ graph.id }}').attr('value');
    $('#graph_{{ graph.id }}').attr('src', '/graphs/' + prefix + '_' + subgraph);
  }
</script>
</div>
