{% extends "base.html" %}
{% load i18n %}

{% block title %}Events{% endblock %}
{% block contenttype %}prefs{% endblock %}

{% block rss %}
  <link rel="alternate" href="/feeds/rss/events/{{ user.id }}" title="wlan ljubljana - Latest mesh events for {{ user.username }}" type="application/rss+xml" />
{% endblock %}

{% block altlinks %}
  <h3>{% trans "Download in other formats" %}:</h3>
  <ul>
    <li class="first last"><a class="rss" href="/feeds/rss/events/{{ user.id }}">{% trans "RSS Feed" %}</a></li>
  </ul>
{% endblock %}

{% block content %}
<h1>Events</h1>
<ul id="tabs">
  <li><a href="/nodes/my_nodes">{% trans "My nodes" %}</a></li>
  <li><a href="/nodes/new">{% trans "New node" %}</a></li>
  <li><a href="/nodes/whitelisted_mac">{% trans "Whitelisted MAC addresses" %}</a></li>
  <li class="active">{% trans "Event log" %}</li>
  <li><a href="/nodes/sticker">{% trans "Info sticker" %}</a></li>
</ul>
<div id="tabcontent">
{% if not user.email %}
<div class="error">
  {% blocktrans %}You have no e-mail address configured in your account! To set one, please visit <a href="http://wlan-lj.net/prefs">http://wlan-lj.net/prefs</a> (you may need to login to see this page) and configure yourself a valid e-mail address. Until then some functions (like event subscriptions) are disabled.{% endblocktrans %}
</div>
<br/>
{% endif %}
<h3>Event subscriptions</h3>
<table border="0" class="listing">
<thead>
  <tr>
    <th style="width: 22px;"></th>
    <th style="width: 150px;"><b>{% trans "Type" %}</b></th>
    <th style="width: 150px;"><b>{% trans "Node" %}</b></th>
    <th><b>{% trans "Event code" %}</b></th>
  </tr>
</thead>
<tbody>
  {% for subscription in subscriptions %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td align="center"><a href="/nodes/event_unsubscribe/{{ subscription.id }}"><img src="/images/delete.png" title="{% trans "Delete event subscription" %}" border="0" /></a></td>
    <td>
      {{ subscription.type_to_string }}
    </td>
    <td>
      {% if subscription.is_single_node %}
      <a href="/nodes/node/{{ subscription.node.ip }}">{{ subscription.node.name }}</a>
      {% else %}
      -
      {% endif %}
    </td>
    <td>
      {% if subscription.code %}
      {{ subscription.code_to_string }}
      {% else %}
      <i>{% trans "any event" %}</i>
      {% endif %}
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="4" class="notice">
      {% trans "No event subscriptions have been configured." %}
    </td>
  </tr>  
  {% endfor %}
</tbody>
</table>
<div class="table_links">
<a href="/nodes/event_subscribe">{% trans "Add event subscription" %}</a>
</div>
<br/>
<h3>{% trans "Latest events for your nodes" %}</h3>
<table border="0" class="listing">
<thead>
  <tr>
    <th style="width: 200px;"><b>{% trans "Timestamp" %}</b></th>
    <th style="width: 150px;"><b>{% trans "Node name" %}</b></th>
    <th><b>{% trans "Event" %}</b></th>
  </tr>
</thead>
<tbody>
  {% for event in events %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ event.timestamp|date }}</td>
    <td>
      {% if not event.node.name %}
      {{ event.node.ip }}
      {% else %}
      <a href="{% url view_node event.node.pk %}">{{ event.node.name }}</a></td>
      {% endif %}
    <td>{{ event.code_to_string }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3" class="notice">
      {% trans "No events have been recorded for your nodes." %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "event subscriptions",
    "sortColumn": []
  },
  {
    "entryName": "events",
    "sortColumn": [[0, "desc"]]
  }
];
/* ]]> */
</script>
{% endblock %}
