{% extends "base.html" %}
{% load i18n %}

{% block title %}Installed Packages for {{ node.name }} ({{ node.ip }}){% endblock %}

{% block content %}
<h1>Installed Packages for {{ node.name }} ({{ node.ip }})</h1>

<table border="0" class="listing">
<thead>
  <tr>
    <th style="width: 200px;"><b>{% trans "Package name" %}</b></th>
    <th style="width: 250px;"><b>{% trans "Version" %}</b></th>
    <th style="width: 200px;"><b>{% trans "Last check" %}</b></th>
  </tr>
</thead>
<tbody>
  {% for package in packages %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ package.name }}</td>
    <td>{{ package.version }}</td>
    <td>{{ package.last_update|date }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3" class="notice">
      {% trans "No package information is available for this node." %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "packages",
    "sortColumn": [[0, "asc"]]
  }
];
/* ]]> */
</script>
{% endblock %}