{% extends "base.html" %}
{% load i18n %}
{% load nodestatus %}

{% block title %}{% trans "Node List" %}{% endblock %}
{% block contenttype %}nodelist{% endblock %}
{% block rss %}
  <link rel="alternate" href="/feeds/rss/events" title="wlan ljubljana - Latest mesh events" type="application/rss+xml" />
{% endblock %}

{% block altlinks %}
  <h3>{% trans "Download in other formats" %}:</h3>
  <ul>
    <li class="first last"><a class="rss" href="/feeds/rss/events">{% trans "RSS Feed" %}</a></li>
  </ul>
{% endblock %}

{% block content %}
<h1>{% trans "Node List" %}</h1>
<table border="0" width="100%" class="listing">
<thead>
  <tr>
    <th style="width: 22px;"></th>
    <th style="width: 150px;"><b>{% trans "Node name" %}</b></th>
    <th style="width: 100px;"><b>IP</b></th>
    <th style="width: 260px;"><b>{% trans "Last seen up" %}</b></th>
    <th style="width: 70px;" align="center"><b>{% trans "Status" %}</b></th>
    <th style="width: 70px;" align="center"><b>{% trans "Peers" %}</b></th>
    <th style="width: 70px;" align="center"><b>{% trans "Clients" %}</b></th>
    <th style="width: 90px;" align="center"><b>{% trans "Project" %}</b></th>
  </tr>
</thead>
<tbody>
  {% for node in nodes %}
  {% ifchanged node.node_type %}
  <tr class="section_title">
    <td colspan="9"><b>{{ node.node_type_as_string_plural }}</b></td>
  </tr>
  {% endifchanged %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td align="center">
      {% if node.warnings %}
      <a href="/nodes/node/{{ node.ip }}">
        <img src="/images/warnings_small.png" title="{% trans "Some problems were detected with this node! Click for details." %}" alt="{% trans "Warning" %}" />
      </a>
      {% endif %}
    </td>
    <td><a href="/nodes/node/{{ node.ip }}">{{ node.name|default:_("unknown") }}</a></td>
    <td>{{ node.ip }}</td>
    {% if node.last_seen %}
    <td>{{ node.last_seen|date }}</td>
    {% else %}
    <td>{% trans "never" %}</td>
    {% endif %}
    <td align="center">{{ node.status_as_string|statusimage:"small" }}</td>
    {% if node.is_down %}
    {% if node.is_invalid %}
    <td align="center">{{ node.peers }}</td>
    {% else %}
    <td align="center">0</td>
    {% endif %}
    <td align="center">0</td>
    {% else %}
    <td align="center">{{ node.peers }}</td>
    <td align="center">{{ node.clients|default:"0" }}</td>
    {% endif %}
    <td align="center">{{ node.project|default:_("unknown") }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="8" class="notice">
      {% trans "There are currently no nodes registered/connected." %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
<br/>
<div class="legend">
<h3>{% trans "Node status key" %}:</h3>
<ul>
  <li>{{ "up"|status:"small" }} - {% trans "node is reachable" %}</li>
  <li>{{ "visible"|status:"small" }} - {% trans "node is visible via OLSR but does not reply to ICMP ECHO" %}</li>
  <li>{{ "down"|status:"small" }}- {% trans "node is not visible via OLSR" %}</li>
  <li>{{ "duped"|status:"small" }} - {% trans "duplicate ICMP ECHO packets have been received" %}</li>
  <li>{{ "invalid"|status:"small" }} - {% trans "IP is not allocated but is seen" %}</li>
  <li>{{ "new"|status:"small" }} - {% trans "node has just been registered" %}</li>
  <li>{{ "pending"|status:"small" }} - {% trans "node has not yet been seen since registration" %}</li>
</ul>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "nodes",
    "sortColumn": [[2, "asc"]]
  }
];
/* ]]> */
</script>
{% endblock %}