{% extends "base.html" %}
{% load i18n %}
{% load gmap %}
{% load nodestatus %}

{% block title %}{% trans "Mesh Map View" %}{% endblock %}

{% block content %}
<h1>{% trans "Mesh Map View" %}</h1>
<br/>
<div style="margin-left: 10px;">
{% trans "Position map to encompass all nodes of " %}
<select id="gmap_center">
  <option value="" id="gmap_center_default">---------</option>
  {% for project in projects %}
  <option value="{{ project.id }}"{% if not project.has_nodes %} disabled="disabled" title="{% trans "Project has no nodes" %}"{% endif %}>{{ project.name }}</option>
  {% endfor %}
</select>{% trans " project" %}
<br />
{% trans "Show nodes based on project:" %}
{% for project in projects %}
<input type="checkbox" name="gmap_project" id="gmap_project_{{ project.id }}" value="{{ project.id }}" {% if project.has_nodes %}checked="checked"{% else %}disabled="disabled" title="{% trans "Project has no nodes" %}"{% endif %} />
<label for="gmap_project_{{ project.id }}"{% if not project.has_nodes %} title="{% trans "Project has no nodes" %}"{% endif %}>{{ project.name }}</label>
{% endfor %}
<br />
{% trans "Show nodes based on status:" %}
<input type="checkbox" name="gmap_status" id="gmap_status_up" value="up" checked="checked" />
<label for="gmap_status_up">up</label>
<input type="checkbox" name="gmap_status" id="gmap_status_visible" value="visible" checked="checked" />
<label for="gmap_status_visible">visible</label>
<input type="checkbox" name="gmap_status" id="gmap_status_down" value="down" checked="checked" />
<label for="gmap_status_down">down</label>
<input type="checkbox" name="gmap_status" id="gmap_status_duped" value="duped" checked="checked" />
<label for="gmap_status_duped">duped</label>
<input type="checkbox" name="gmap_status" id="gmap_status_new" value="new" checked="checked" />
<label for="gmap_status_new">new</label>
<input type="checkbox" name="gmap_status" id="gmap_status_pending" value="pending" checked="checked" />
<label for="gmap_status_pending">pending</label>
<div id="gmap" style="width: 700px; height: 700px;"></div>
<span id="gmap_statusbar">&nbsp;</span>
</div>
<div class="legend">
<h3>{% trans "Node status key" %}:</h3>
<ul>
  <li>{{ "up"|status:"gmap" }} - {% trans "node is reachable" %}</li>
  <li>{{ "visible"|status:"gmap" }} - {% trans "node is visible via OLSR but does not reply to ICMP ECHO" %}</li>
  <li>{{ "down"|status:"gmap" }}- {% trans "node is not visible via OLSR" %}</li>
  <li>{{ "duped"|status:"gmap" }} - {% trans "duplicate ICMP ECHO packets have been received" %}</li>
  <li>{{ "new"|status:"gmap" }} - {% trans "node has just been registered" %}</li>
  <li>{{ "pending"|status:"gmap" }} - {% trans "node has not yet been seen since registration" %}</li>
</ul>
<br/>
<h3>{% trans "Edge color key" %}:</h3>
<ul>
  <li><span style="color: #00ff00;">{% trans "green" %}</span> - {% trans "ETX is between 1.0 and 2.0" %}</li>
  <li><span style="color: #0000ff;">{% trans "blue" %}</span> - {% trans "ETX is greater than 2.0 and lower or equal to 5.0" %}</li>
  <li><span style="color: #ff0000;">{% trans "red" %}</span> - {% trans "ETX is greater than 5.0" %}</li>
</ul>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/jquery.hashchange.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
  var nodes = [
    {% for node in nodes %}{% if node.should_draw_on_map %}
    { "project": {{ node.project.pk }}, "lat": {{ node.geo_lat }}, "long": {{ node.geo_long }}, "pk" : '{{ node.pk }}', "ip": '{{ node.ip|escapejs }}', "name": '{{ node.name|escapejs }}', "status": '{{ node.status_as_string|escapejs }}', "url": '{{ node.url|default:""|escapejs }}' }{% if not forloop.last %},{% endif %}
    {% endif %}{% endfor %}    
  ];
  var links = [
    {% for link in links %}{% if link.should_draw_on_map %}
    { "src": '{{ link.src.ip|escapejs }}', "dst": '{{ link.dst.ip|escapejs }}', "color": '{{ link.color|escapejs }}' }{% if not forloop.last %},{% endif %}
    {% endif %}{% endfor %}  
  ];
/* ]]> */
</script>
{% do_gmap "mapInit" "true" %}
<script type="text/javascript" src="/js/map.js"></script>
{% endblock %}
