{% extends "base.html" %}
{% load i18n %}
{% load gmap %}

{% block title %}{% trans "New Node Registration" %}{% endblock %}
{% block contenttype %}prefs{% endblock %}
{% block content %}
<h1>New Node Registration</h1>
<ul id="tabs">
  <li><a href="/nodes/my_nodes">{% trans "My nodes" %}</a></li>
  <li class="active">{% trans "New node" %}</li>
  <li><a href="/nodes/whitelisted_mac">{% trans "Whitelisted MAC addresses" %}</a></li>
  <li><a href="/nodes/events">{% trans "Event log" %}</a></li>
  <li><a href="/nodes/sticker">{% trans "Info sticker" %}</a></li>
</ul>
<div id="tabcontent">
<p>
  {% blocktrans %}Please provide some basic information about your newly established node. Node's name should reflect its location and/or purpuse. As a guideline, consider using lowercased <i>street names</i> (for some examples, please see <a href="/nodes/node_list" rel="external">the existing node list</a>). After your node is registered you will be able to generate a flashable image for use with your router hardware. A subnet will be automatically assigned to your node as you complete the registration procedure.{% endblocktrans %}
</p>

{% if form.errors %}
<div class="error">
  {% trans "<b>Oooops!</b> The following errors have ocurred while attempting to register a new node:" %}<br />
  <br/>
  {% for error in form.non_field_errors %}
  <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% for field in form %}
  {% for error in field.errors %}
  {{ field.label }}: <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}

<form action="{% url new_node %}" method="post">
<table border="0" width="700px">
  <tr>
    <td style="width: 200px;">{{ form.name.label }}</td>
    <td>{{ form.name }}</td>
  </tr>
  {% if user.is_staff %}
  <tr>
    <td>{{ form.ip.label }}</td>
    <td>{{ form.ip }}</td>
  </tr>
  <tr>
    <td></td>
    <td><label onclick="toggleIpInput();">{{ form.assign_ip }} {{ form.assign_ip.label }}</label></td>
  </tr>
  {% else %}
  <tr>
    <td>{{ form.ip.label }}</td>
    <td><b>{% trans "auto-assigned" %}</b></td>
  </td>
  {% endif %}
  <tr>
    <td>{{ form.project.label }}</td>
    <td>{{ form.project }}</td>
  </tr>
  <tr>
    <td>{{ form.node_type.label }}</td>
    <td>{{ form.node_type }}</td>
  </tr>
  <tr class="location_opts">
    <td>{{ form.location.label }}</td>
    <td>{{ form.location }}</td>
  </tr>
  <tr class="location_opts">
    <td></td>
    <td class="small_text">{% trans "Should be an address where the node is located." %}</td>
  </tr>
  <tr class="location_opts">
    <td colspan="2"><div id="gmap" style="width:400px; height: 300px;"></div></td>
  </tr>
  <tr class="location_opts">
    <td>{{ form.geo_lat.label }}</td>
    <td>{{ form.geo_lat }}</td>
  </tr>
  <tr class="location_opts">
    <td>{{ form.geo_long.label }}</td>
    <td>{{ form.geo_long }}</td>
  </tr>
  <tr class="location_opts">
    <td></td>
    <td class="small_text">Click on the map or enter coordinates in <a href="http://en.wikipedia.org/wiki/Decimal_degrees" rel="external">decimal degrees</a> format.</td>
  </tr>
  <tr class="section_title">
    <td colspan="2">{% trans "Antenna Information" %}</td>
  </tr>
  <tr>
    <td>{{ form.ant_external.label }}</td>
    <td>{{ form.ant_external }}</td>
  </tr>
  <tr class="extantenna_opts">
    <td>{{ form.ant_type.label }}</td>
    <td>{{ form.ant_type }}</td>
  </tr>
  <tr class="extantenna_opts">
    <td>{{ form.ant_polarization.label }}</td>
    <td>{{ form.ant_polarization }}</td>
  </tr>
  <tr class="extantenna_opts">
    <td>{{ form.ant_conn.label }}</td>
    <td>{{ form.ant_conn }} (<a href="http://wlan-lj.net/wiki/Diversity" rel="external">what is this?</a>)</td>
  </tr>
  <tr class="section_title">
    <td colspan="2">{% trans "Additional Options" %}</td>
  </tr>
  {% if user.is_staff %}
  <tr class="assign_subnet">
    <td>{{ form.assign_subnet.label }}</td>
    <td>{{ form.assign_subnet }}</td>
  </tr>
  <tr>
    <td>{{ form.system_node.label }}</td>
    <td>{{ form.system_node }}</td>
  </tr>
  <tr>
    <td>{{ form.border_router.label }}</td>
    <td>{{ form.border_router }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{{ form.redundancy_req.label }}</td>
    <td>
      {{ form.redundancy_req }}<br/>
      <span class="small_text">Warn if node has no direct peering with a border gateway (includes VPN servers).</span>
    </td>
  </tr>
  <tr class="section_title">
    <td colspan="2">{% trans "Image Generator Options" %}</td>
  </tr>
  <tr>
    <td valign="top">{{ form.template.label }}</td>
    <td>
      {{ form.template }}<br/>
      <span class="small_text">You can leave it unconfigured if you are using custom firmware or hardware and you are not
      interested in automatic image building. Maybe use notes field bellow to describe node software, hardware and
      configuration.</span>
    </td>
  </tr>
  <tr class="imagegen_opts">
    <td>{{ form.channel.label }}</td>
    <td>{{ form.channel }}</td>
  </tr>
  <tr class="imagegen_opts">
    <td>{{ form.use_vpn.label }}</td>
    <td>{{ form.use_vpn }}</td>
  </tr>
  <tr class="imagegen_opts vpn_opts">
    <td>{{ form.tc_egress.label }}</td>
    <td>{{ form.tc_egress }}</td>
  </tr>
  <tr class="imagegen_opts vpn_opts">
    <td>{{ form.tc_ingress.label }}</td>
    <td>{{ form.tc_ingress }}</td>
  </tr>
  <tr class="imagegen_opts vpn_opts">
    <td></td>
    <td class="small_text">This will setup traffic limiting on VPN gateways. Set limits only if and when you notice problems with Internet connection sharing because of the node. In general this is not needed as traffic is already limited by other factors (like wireless connections quality).</td>
  </tr>
  <tr class="imagegen_opts">
    <td>{{ form.use_captive_portal.label }}</td>
    <td>{{ form.use_captive_portal }}</td>
  </tr>
  <tr class="imagegen_opts">
    <td>{{ form.wan_dhcp.label }}</td>
    <td>{{ form.wan_dhcp }}</td>
  </tr>
  <tr class="imagegen_opts">
    <td></td>
    <td class="small_text">If you will not use WAN port leave it auto-configured.</td>
  </tr>
  <tr class="static_opts imagegen_opts" style="display: none;">
    <td>{{ form.wan_ip.label }}</td>
    <td>{{ form.wan_ip }}</td>
  </tr>
  <tr class="static_opts imagegen_opts" style="display: none;">
    <td>{{ form.wan_gw.label }}</td>
    <td>{{ form.wan_gw }}</td>
  </tr>
  <tr class="imagegen_opts">
    <td>{{ form.root_pass.label }}</td>
    <td>{{ form.root_pass }}</td>
  </tr>
  <tr class="imagegen_opts">
    <td></td>
    <td class="small_text">{% trans "Leave blank for auto-generated password." %}</td>
  </tr>
  <tr class="imagegen_opts">
    <td valign="top">{{ form.optional_packages.label }}</td>
    <td class="optional_packages">{{ form.optional_packages }}</td>
  </tr>
  <tr>
    <td valign="top">{{ form.notes.label }}</td>
    <td>
      {{ form.notes }}<br/>
      <span class="small_text">These notes are only visible to node's maintainer (that's you).</span>
    </td>
  </tr>
  <tr>
    <td valign="top">{{ form.url.label }}</td>
    <td>
      {{ form.url }}<br/>
      <span class="small_text">You may enter any URL that will be displayed on node's info page.</span>
    </td>
  </tr>
</table>
<div class="buttons"><input type="submit" value="{% trans "Register new node" %}" /></div>
</form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
  var mobileNodeType = {{ mobile_node_type }};
  var projects = [
  {% for project in map_projects %}{% if project.has_geoloc %}
    { "id": {{ project.id }}, "lat": {{ project.geo_lat }}, "long": {{ project.geo_long }}, "zoom": {{ project.geo_zoom }} }{% if not forloop.last %},{% endif %}
  {% endif %}{% endfor %}
  ];
{% if user.is_staff %}
  $(document).ready(function () {
    $('#id_assign_ip').onchange = toggleIpInput;
    toggleIpInput();
  });
{% endif %}
/* ]]> */
</script>
<script type="text/javascript" src="/js/node.js"></script>
{% do_gmap "mapInit" %}
{% endblock %}
