{% extends "base.html" %}
{% load i18n %}
{% load gmap %}
{% load conversion %}

{% block title %}{% trans "Node" %} {{ node.name|default:_("unknown") }} ({{ node.ip }}){% endblock %}

{% block content %}
<h1><img src="/images/status_{{ node.status_as_string }}_small.png" title="{{ node.status_as_string }}" alt="{{ node.status_as_string }}"/>&nbsp;{% trans "Node Information" %} - {{ node.name|default:_("unknown") }} ({{ node.ip }})</h1>

{% if node.warnings %}
<div class="error">
  {% blocktrans %}<b>WARNING:</b> Some problems were found in this node's configuration! Continued operation of this node might disrupt normal network operations, so these issues must be addressed! The following problems have been detected:{% endblocktrans %}<br />
  <br>
  {% for warning in node.get_warnings %}
  <i>{{ warning }}</i><br/>
  {% endfor %}
</div>
{% endif %}
{% if node.awaiting_renumber %}
<div class="notice">
  {% blocktrans with node.get_renumbered_ip as renumbered_ip%}
  <b>NODE IS AWAITING IP RENUMBERING</b><br/>
  <br/>
  This node's primary address has been recently renumbered to <b>{{ renumbered_ip }}</b>. This message means that the node has not yet been seen with the new address and so is still probably carrying its old address. As soon as the reconfigured node will appear, this message will be removed.
  {% endblocktrans %}<br />
  {% if current_owner %}
  <br/>
  {% blocktrans %}
  You must <b>update the router's configuration</b> to reflect renumbering changes. You can simply regenerate and reflash the image to your router.
  {% endblocktrans %}
  {% endif %}
</div>
{% endif %}
<div class="embedded">
{% if node.geo_lat and node.geo_long %}
<div id="gmap" style="width:400px; height: 300px;"></div>
{% endif %}
</div>
<h3 class="section_title">{% trans "General Information" %}
{% if current_owner and not node.is_invalid %}
<a href="{% url edit_node node.pk %}"><img src="/images/edit.png" title="{% trans "Edit node configuration" %}" alt="{% trans "Edit" %}" /></a>
{% if node.is_resettable %}
<a href="{% url reset_node node.pk %}"><img src="/images/clean.png" title="{% trans "Reset node statistics" %}" alt="{% trans "Reset" %}" /></a>
{% endif %}
<a href="{% url remove_node node.pk %}"><img src="/images/delete.png" title="{% trans "Delete node" %}" alt="{% trans "Delete" %}" /></a>
{% endif %}
</h3>

<table border="0" width="300">
  <tr>
    <td style="width: 120px;">{% trans "IP address" %}</td>
    <td>{{ node.ip }}</td>
  </tr>
  <tr>
    <td>{% trans "Name" %}</td>
    <td>{{ node.name|default:_("unknown") }}</td>
  </tr>
  {% if node.url %}
  <tr>
    <td></td>
    <td class="small_text"><a href="{{ node.url }}" class="ext-link" rel="nofollow"><span class="icon">&nbsp;</span>{% trans "visit home page" %}</a></td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans "Maintainer" %}</td>
    {% if node.owner %}
    {% if user.is_authenticated and node.owner.email %}
    <td><a class="mail-link" href="mailto:{{ node.owner.email }}"><span class="icon">&nbsp;</span>{{ node.owner.username }}</a></td>
    {% else %}
    <td>{{ node.owner.username }}</td>
    {% endif %}
    {% else %}
    <td>{% trans "Unknown" %}</td>
    {% endif %}
  </tr>
  <tr>
    <td>{% trans "Node type" %}</td>
    <td>{{ node.node_type_as_string }}</td>
  </tr>
  <tr>
    <td>{% trans "Location" %}</td>
    <td>{{ node.location|default:_("Unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "Node status" %}</td>
    <td class="node_status_{{ node.status_as_string }}">{{ node.status_as_string }}</td>
  </tr>
  <tr>
    <td>{% trans "Project" %}</td>
    <td>{{ node.project.name|default:_("Unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "System node" %}</td>
    <td>{% if node.system_node %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Border router" %}</td>
    <td>{% if node.border_router %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Last seen" %}</td>
    {% if node.last_seen %}
    <td>{{ node.last_seen|date }}</td>
    {% else %}
    <td>{% trans "never" %}</td>
    {% endif %}
  </tr>
  {% if node.is_mesh_node %}
  <tr>
    <td>{% trans "Clients so far" %}</td>
    <td>{{ node.clients_so_far|default:"0" }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans "Stability" %}</td>
    <td>{{ node.get_stability|default:_("unknown") }} %</td>
  </tr>
</table>
<h3 id="details_title">{% trans "Details" %}</h3>
<table border="0" id="details_list" class="layout">
  <tr>
    <td style="width: 300px;"></td>
    <td></td>
  </tr>
  {% if node.is_mesh_node or node.is_mobile_node %}
  <tr class="section_title">
    <td colspan="2">{% trans "Antenna Information" %}</td>
  </tr>
  <tr>
    <td>{% trans "External antenna" %}</td>
    <td>{% if node.ant_external %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}</td>
  </tr>
  {% if node.ant_external %}
  <tr>
    <td>{% trans "Type" %}</td>
    <td>{{ node.ant_type_as_string }}</td>
  </tr>
  <tr>
    <td>{% trans "Polarization" %}</td>
    <td>{{ node.ant_polarization_as_string }}</td>
  </tr>
  {% endif %}
  {% if node.profile %}
  <tr class="section_title">
    <td colspan="2">
      {% trans "Image Generator Information" %}
      {% if current_owner %}&nbsp;[<a href="{% url generate_node node.pk %}">{% trans "generate image" %}</a>]{% endif %}
    </td>
  </tr>
  <tr>
    <td>{% trans "Router type" %}</td>
    <td>{{ node.profile.template.name|default:_("Unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "VPN enabled" %}</td>
    <td>{% if node.profile.use_vpn %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Captive portal enabled" %}</td>
    <td>{% if node.profile.use_captive_portal %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}</td>
  </tr>
  {% if current_owner and node.installedpackage_set.all %}
  <tr>
    <td>{% trans "Installed packages" %}</td>
    <td><a href="{% url view_node_packages node.pk %}">{% trans "show list" %}</a></td>
  </tr>
  {% endif %}
  {% endif %}
  {% if not node.is_down %}
  <tr class="section_title">
    <td colspan="2">{% trans "Node Configuration" %}</td>
  </tr>
  <tr>
    <td>{% trans "Firmware version" %}</td>
    <td>{{ node.firmware_version|default:_("Unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "BSSID" %}</td>
    <td>{{ node.bssid|default:_("Unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "ESSID" %}</td>
    <td>{{ node.essid|default:_("Unknown") }}</td>
  </tr>
  {% if current_owner %}
  <tr>
    <td>{% trans "MAC" %}</td>
    <td>{{ node.wifi_mac|default:_("Unknown") }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans "Channel" %}</td>
    <td>{{ node.channel|default:_("Unknown") }}</td>
  </tr>
  {% endif %}
  {% endif %}
  {% if current_owner and node.notes %}
  <tr class="section_title">
    <td colspan="2">{% trans "Notes" %}</td>
  </tr>
  <tr>
    <td colspan="2">{{ node.notes|linebreaksbr }}</td>
  </tr>
  {% endif %}
  <tr class="section_title">
    <td colspan="2">{% trans "Status Information" %}</td>
  </tr>
  {% if node.is_down %}
  <tr>
    <td colspan="2" class="notice">
      {% if node.is_invalid %}
      {% trans "Node is not registered in this database, so no status information is available." %}
      {% else %}
      {% trans "Node is currently down, so no status information is available." %}
      {% endif %}
    </td>
  </tr>
  {% else %}
  <tr>
    <td>{% trans "RTT MIN" %}</td>
    <td>{{ node.rtt_min|default:"/" }}</td>
  </tr>
  <tr>
    <td>{% trans "RTT AVG" %}</td>
    <td>{{ node.rtt_avg|default:"/" }}</td>
  </tr>
  <tr>
    <td>{% trans "RTT MAX" %}</td>
    <td>{{ node.rtt_max|default:"/" }}</td>
  </tr>
  <tr>
    <td>{% trans "Packet loss" %} (%)</td>
    <td>{{ node.pkt_loss|default_if_none:"/" }}</td>
  </tr>
  <tr>
    <td>{% trans "Peers" %}</td>
    <td>{{ node.peers }}</td>
  </tr>
  {% if node.uptime %}
  <tr>
    <td>{% trans "Uptime" %}</td>
    <td>{{ node.uptime|time_delta }}</td>
  </tr>
  {% endif %}
  {% if node.is_mesh_node %}
  <tr>
    <td>{% trans "Local time" %}</td>
    <td>{{ node.local_time|default:_("Unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "Connected clients" %}</td>
    <td>{{ node.clients|default:"0" }} <a href="/nodes/gcl#n{{ node.ip }}"><img src="/images/users.png" title="{% trans "Global client list" %}" alt="{% trans "Global client list" %}" /></a></td>
  </tr>
  {% endif %}
  {% endif %}
</table>
<h3>{% trans "Subnets" %}</h3>
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="listing">
<thead>
  <tr>
    {% if current_owner %}<th style="width: 20px;">&nbsp;</th>{% endif %}
    <th>{% trans "Subnet" %}</th>
    <th style="width: 120px;">{% trans "Status" %}</th>
    <th style="width: 150px;">{% trans "Last seen" %}</th>
  </tr>
</thead>
<tbody>
  {% for subnet in node.get_subnets %}
  <tr class="{% cycle 'odd' 'even' as subnet_rows %}">
    {% if current_owner %}<td>{% if current_owner and subnet.allocated %}<a href="/nodes/deallocate_subnet/{{ subnet.id }}"><img src="/images/delete.png" title="{% trans "Deallocate subnet" %}" alt="{% trans "Remove" %}" /></a>{% endif %}</td>{% endif %}
    <td>{{ subnet }}</td>
    <td class="subnet_status_{{ subnet.status_as_string|cut:" " }}">{{ subnet.status_as_string }}</td>
    {% if subnet.last_seen %}
    <td>{{ subnet.last_seen|date }}</td>
    {% else %}
    <td>{% trans "never" %}</td>
    {% endif %}
  </tr>
  {% if subnet.is_conflicting %}
  <tr class="{% cycle subnet_rows %}">
    <td colspan="{% if current_owner %}4{% else %}3{% endif %}" class="small_text">
      <span style="color: red;">Subnet <b>{{ subnet }}</b> conflicts with:<br/>
      <div style="padding-left: 10px;">
      {% for conflict in subnet.get_conflicting_subnets %}
        {% if conflict.is_announced %}
          {% if conflict.is_properly_announced %}
          <b>{{ conflict }}</b> allocated to and announced by <a href="{% url view_node conflict.node.pk %}">{{ conflict.node }}</a><br/>
          {% else %}
          <b>{{ conflict }}</b> annouced <i>without allocation</i> by <a href="{% url view_node conflict.node.pk %}">{{ conflict.node }}</a><br/>
          {% endif %}
        {% else %}
          <b>{{ conflict }}</b> allocated to <a href="{% url view_node conflict.node.pk %}">{{ conflict.node }}</a><br/>
        {% endif %}
      {% endfor %}
      </div>
    </td>
  </tr>
  {% endif %}
  {% empty %}
  <tr>
    <td colspan="{% if current_owner %}4{% else %}3{% endif %}" class="notice">
      {% trans "No subnets are currently assigned or visible." %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% if current_owner %}
<div class="table_links">
<a href="{% url allocate_subnet node.pk %}">{% trans "Add subnet" %}</a>
</div>
{% endif %}
<h3>{% trans "Immediate Neighbours / Peers" %}</h3>
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="listing">
<thead>
  <tr>
    <th>{% trans "Node" %}</th>
    <th style="width: 70px;" align="center">LQ</th>
    <th style="width: 70px;" align="center">ILQ</th>
    <th style="width: 70px;" align="center">ETX</th>
  </tr>
</thead>
<tbody>
  {% for peer in node.get_peers %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td><a href="{% url view_node peer.dst.pk %}">{{ peer.dst.name|default:_("unknown") }}</a> ({{ peer.dst.ip }})</td>
    <td align="center">{{ peer.lq }}</td>
    <td align="center">{{ peer.ilq }}</td>
    <td align="center">{{ peer.etx }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="4" class="notice">
      {% trans "Node has no immediate neighbours." %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% if node.get_graphs %}
<h3>{% trans "Graphs" %}</h3>
  {% if node.is_down %}
  <p class="error">{% trans "Node is currently down, so these graphs are out of date!" %}</p>
  {% endif %}
<div class="graphs">
  {% for graph in node.get_graphs %}
  {{ graph.render }}<br/>
  {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block js %}
{% do_gmap "mapInit" "" node.geo_lat node.geo_long "" node.status_as_string %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "subnets",
    "sortColumn": [[{% if current_owner %}1{% else %}0{% endif %}, "asc"]]
  },
  {
    "entryName": "peers",
    "sortColumn": [[0, "asc"]]
  }
];
/* ]]> */
</script>
{% endblock %}
