{% extends "base.html" %}
{% load i18n %}
{% load conversion %}
{% load gmap %}


{% block title %}{% trans "Node" %} {{ node.name|default:_("unknown") }} ({{ node.ip }}){% endblock %}
{% block heading %}<img src="/images/status_{{ node.status_as_string }}_small.png" title="{{ node.status_as_string }}" alt="{{ node.status_as_string }}"/>&nbsp;{% trans "Node Information" %} - {{ node.name|default:_("unknown") }} ({{ node.ip }}){% endblock %}
{% block content %}
{{ node.render_warnings }}
{% if node.awaiting_renumber %}
<div class="notice">
  {% blocktrans with node.get_renumbered_ip as renumbered_ip and node.get_original_ip as original_ip %}
  <b>NODE IS AWAITING IP RENUMBERING</b><br/>
  <br/>
  This node's primary address has been recently renumbered from <b>{{ original_ip }}</b> to <b>{{ renumbered_ip }}</b>. This message means that the node has not yet been seen with the new address and so is still probably carrying its old address. As soon as the reconfigured node will appear, this message will be removed.
  {% endblocktrans %}<br />
  {% if current_owner %}
  <br/>
  {% blocktrans %}
  You must <b>update the router's configuration</b> to reflect renumbering changes. You can simply regenerate and reflash the image to your router.
  {% endblocktrans %}
  {% endif %}
</div>
{% endif %}

<h3 class="section_title">{% trans "General Information" %}
{% if current_owner and not node.is_invalid %}
<a href="{% url edit_node node.pk %}"><img src="/images/edit.png" title="{% trans "Edit node configuration" %}" alt="{% trans "Edit" %}" /></a>
{% if node.is_resettable %}
<a href="{% url reset_node node.pk %}"><img src="/images/clean.png" title="{% trans "Reset node statistics" %}" alt="{% trans "Reset" %}" /></a>
{% endif %}
<a href="{% url remove_node node.pk %}"><img src="/images/delete.png" title="{% trans "Delete node" %}" alt="{% trans "Delete" %}" /></a>
{% endif %}
</h3>
<div class="embedded">
{% if node.geo_lat and node.geo_long %}
<div id="gmap" style="width:400px; height: 300px;"></div>
{% endif %}
</div>
<table border="0" width="300">
  <tr>
    <td style="width: 120px;">{% trans "IP address" %}</td>
    <td>{{ node.ip }}</td>
  </tr>
  <tr>
    <td>{% trans "Name" %}</td>
    <td>{{ node.name|default:_("unknown") }}</td>
  </tr>
  {% if node.url %}
  <tr>
    <td></td>
    <td class="small_text"><a href="{{ node.url }}" class="ext-link" rel="nofollow"><span class="icon">&nbsp;</span>{% trans "visit home page" %}</a></td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans "Maintainer" %}</td>
    {% if node.owner %}
    {% if user.is_authenticated and node.owner.email %}
    <td><a class="mail-link" href="mailto:{{ node.owner.email }}"><span class="icon">&nbsp;</span>{{ node.owner.username }}</a></td>
    {% else %}
    <td>{{ node.owner.username }}</td>
    {% endif %}
    {% else %}
    <td>{% trans "unknown" %}</td>
    {% endif %}
  </tr>
  <tr>
    <td>{% trans "Node type" %}</td>
    <td>{{ node.node_type_as_string }}</td>
  </tr>
  {% if node.location or node.is_mesh_node %}
  <tr>
    <td>{% trans "Location" %}</td>
    <td>{{ node.location|default:_("unknown") }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans "Node status" %}</td>
    <td class="node_status_{{ node.status_as_string }}">{{ node.status_as_string }}</td>
  </tr>
  <tr>
    <td>{% trans "Project" %}</td>
    <td>{{ node.project.name|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "System node" %}</td>
    <td>{% if node.system_node %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Border router" %}</td>
    <td>{% if node.border_router %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Last seen" %}</td>
    {% if node.last_seen %}
    <td>{{ node.last_seen|date }}</td>
    {% else %}
    <td>{% trans "never" %}</td>
    {% endif %}
  </tr>
  {% if node.is_mesh_node %}
  <tr>
    <td>{% trans "Clients so far" %}</td>
    <td>{{ node.clients_so_far|default:"0" }}</td>
  </tr>
  {% endif %}
  {% if node.get_stability %}
  <tr>
    <td>{% trans "Stability" %}</td>
    <td>{{ node.get_stability|default:_("unknown") }} %</td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans "Events" %}</td>
    <td><a href="{% url view_node_events node.pk %}">{% trans "show list" %}</a></td>
  </tr>
</table>
<h3 id="details_title">{% trans "Details" %}</h3>
<table border="0" id="details_list" class="layout">
  <tr>
    <td style="width: 300px;"></td>
    <td></td>
  </tr>
  {% if node.is_mesh_node or node.is_mobile_node %}
  <tr class="section_title">
    <td colspan="2">{% trans "Antenna Information" %}</td>
  </tr>
  <tr>
    <td>{% trans "External antenna" %}</td>
    <td>{% if node.ant_external %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  {% if node.ant_external %}
  <tr>
    <td>{% trans "Type" %}</td>
    <td>{{ node.ant_type_as_string }}</td>
  </tr>
  <tr>
    <td>{% trans "Polarization" %}</td>
    <td>{{ node.ant_polarization_as_string }}</td>
  </tr>
  {% endif %}
  {% if node.profile %}
  <tr class="section_title">
    <td colspan="2">
      {% trans "Image Generator Information" %}
      {% if current_owner %}&nbsp;[<a href="{% url generate_node node.pk %}">{% trans "generate image" %}</a>]{% endif %}
    </td>
  </tr>
  <tr>
    <td>{% trans "Router type" %}</td>
    <td>{{ node.profile.template.name|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "VPN enabled" %}</td>
    <td>{% if node.profile.use_vpn %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Captive portal enabled" %}</td>
    <td>{% if node.profile.use_captive_portal %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  {% if current_owner and node.installedpackage_set.all %}
  <tr>
    <td>{% trans "Installed packages" %}</td>
    <td><a href="{% url view_node_packages node.pk %}">{% trans "show list" %}</a></td>
  </tr>
  {% endif %}
  {% endif %}
  {% if not node.is_down %}
  <tr class="section_title">
    <td colspan="2">{% trans "Node Configuration" %}</td>
  </tr>
  {% if node.firmware_version %}
  <tr>
    <td>{% trans "Firmware version" %}</td>
    <td>{{ node.firmware_version|default:_("unknown") }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans "BSSID" %}</td>
    <td>{{ node.bssid|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "ESSID" %}</td>
    <td>{{ node.essid|default:_("unknown") }}</td>
  </tr>
  {% if node.wifi_mac and current_owner %}
  <tr>
    <td>{% trans "MAC" %}</td>
    <td>{{ node.wifi_mac|default:_("unknown") }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans "Channel" %}</td>
    <td>{{ node.channel|default:_("unknown") }}</td>
  </tr>
  {% if node.thresh_rts %}
  <tr>
    <td>{% trans "RTS threshold" %}</td>
    <td>{{ node.thresh_rts|default:_("unknown") }} B {% if node.is_max_rts_threshold %}(off){% endif %}</td>
  </tr>
  {% endif %}
  {% if node.thresh_frag %}
  <tr>
    <td>{% trans "Fragmentation threshold" %}</td>
    <td>{{ node.thresh_frag|default:_("unknown") }} B {% if node.is_max_frag_threshold %}(off){% endif %}</td>
  </tr>
  {% endif %}
  {% endif %}
  {% endif %}
  {% if current_owner and node.notes %}
  <tr class="section_title">
    <td colspan="2">{% trans "Notes" %}</td>
  </tr>
  <tr>
    <td colspan="2">{{ node.notes|linebreaksbr }}</td>
  </tr>
  {% endif %}
  {% if node.has_status_information %}
  <tr class="section_title">
    <td colspan="2">{% trans "Status Information" %}</td>
  </tr>
  {% if node.uptime %}
  <tr>
    <td>{% trans "Uptime" %}</td>
    <td>{{ node.uptime|time_delta }}</td>
  </tr>
  {% endif %}
  {% if node.is_mesh_node or node.local_time %}
  <tr>
    <td>{% trans "Local time" %}</td>
    <td>{{ node.local_time|default:_("unknown") }}</td>
  </tr>
  {% endif %}
  {% endif %}
</table>
<h3>{% trans "Subnets" %}</h3>
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="listing">
<thead>
  <tr>
    {% if current_owner %}<th style="width: 40px;">&nbsp;</th>{% endif %}
    <th>{% trans "Subnet" %}</th>
    <th style="width: 120px;">{% trans "Status" %}</th>
    <th style="width: 150px;">{% trans "Last seen" %}</th>
  </tr>
</thead>
{% if current_owner %}
<tfoot>
  <tr>
    <td class="table_menu" colspan="{% if current_owner %}4{% else %}3{% endif %}">
      <a href="{% url allocate_subnet node.pk %}">{% trans "Add subnet" %}</a>
    </td>
  </tr>
</tfoot>
{% endif %}
<tbody>
  {% for subnet in node.get_subnets %}
  <tr class="{% cycle 'odd' 'even' as subnet_rows %} subnet {% if subnet.is_conflicting %} conflicting{% endif %}">
    {% if current_owner %}
    <td>
      {% if subnet.allocated and not subnet.is_primary %}
      <a href="{% url edit_subnet subnet.pk %}">
        <img src="/images/edit.png" title="{% trans "Edit subnet description" %}" alt="{% trans "Edit" %}" />
      </a>
      <a href="{% url remove_subnet subnet.pk %}">
        <img src="/images/delete.png" title="{% trans "Deallocate subnet" %}" alt="{% trans "Remove" %}" />
      </a>
      {% endif %}
    </td>
    {% endif %}
    <td>
      <span class="identifier">{{ subnet }}</span>
      {% if subnet.description %}<span class="description">{{ subnet.description }}</span>{% endif %}
  {% if subnet.is_conflicting %}
      <div class="conflict">Subnet conflicts with:<br/>
      <ul>
      {% for conflict in subnet.get_conflicting_subnets %}
        <li>
        {% if conflict.is_announced %}
          {% if conflict.is_properly_announced %}
          <b>{{ conflict }}</b> allocated to and announced by <a href="{% url view_node conflict.node.pk %}">{{ conflict.node }}</a><br/>
          {% else %}
          <b>{{ conflict }}</b> annouced <i>without allocation</i> by <a href="{% url view_node conflict.node.pk %}">{{ conflict.node }}</a>
          {% endif %}
        {% else %}
          {{ conflict }}</b> allocated to <a href="{% url view_node conflict.node.pk %}">{{ conflict.node }}</a>
        {% endif %}
        </li>
      {% endfor %}
      </ul>
      </div>
  {% endif %}
    </td>
    <td class="status"><span class="subnet_status_{{ subnet.status_as_string|cut:" " }}">{{ subnet.status_as_string }}</span></td>
    {% if subnet.last_seen %}
    <td class="timestamp">{{ subnet.last_seen|date }}</td>
    {% else %}
    <td>{% trans "never" %}</td>
    {% endif %}
  </tr>

  {% empty %}
  <tr>
    <td colspan="{% if current_owner %}4{% else %}3{% endif %}" class="notice">
      {% trans "No subnets are currently assigned or visible." %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>

<h3>{% trans "Immediate Neighbours / Peers" %}</h3>
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="listing">
<thead>
  <tr>
    <th>{% trans "Node" %}</th>
    <th style="width: 70px;" align="center">LQ</th>
    <th style="width: 70px;" align="center">ILQ</th>
    <th style="width: 70px;" align="center">ETX</th>
  </tr>
</thead>
<tbody>
  {% for peer in node.get_peers %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td><a href="{% url view_node peer.dst.pk %}">{{ peer.dst.name|default:_("unknown") }}</a> ({{ peer.dst.ip }})</td>
    <td align="center">{{ peer.lq }}</td>
    <td align="center">{{ peer.ilq }}</td>
    <td align="center">{{ peer.etx }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="4" class="notice">
      {% trans "Node has no immediate neighbours." %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% if node.get_graphs %}
<h3>{% trans "Graphs" %}</h3>
  {% if node.is_down %}
  <p class="error">{% trans "Node is currently down, so these graphs are out of date!" %}</p>
  {% endif %}
<div class="graphs">
<div class="timespan">
  {% for timespan in timespans reversed %}
  <a href="#" id="timespan_id-{{ timespan }}" onclick="graph_timespan = '{{ timespan }}'; graph_display_changed(); return false;">{% blocktrans %}last {{ timespan }}{% endblocktrans %}</a>
  {% endfor %}
<script type="text/javascript">
/* <![CDATA[ */
  var graph_timespan = '{{ timespans|first }}';
  function graph_display_changed() {
    var subgraph = '';
    {% for graph in node.get_graphs %}
    subgraph = $('#graph_child_select_{{ graph.id }}').attr('value') || '{{ graph.graph|escapejs }}';
    $('#graph_{{ graph.id }}').attr('src', '/graphs/' + graph_timespan + '_' + subgraph);
    {% endfor %}
    $('a[id|=timespan_id]').removeClass('selected');
    $('a#timespan_id-' + graph_timespan).addClass('selected');
  }
  $(document).ready(function() { graph_display_changed('{{ timespans|first }}'); $(".timespan").floater(); });
  
/* ]]> */
</script>
</div>
  {% for graph in node.get_graphs %}
  {{ graph.render }}<br/>
  {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/jquery.floater.js"></script>
{% if node.geo_lat and node.geo_long %}
{% do_gmap "mapInit" "" node.geo_lat node.geo_long "" node.status_as_string %}
{% endif %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "subnets",
    "sortColumn": [[{% if current_owner %}1{% else %}0{% endif %}, "asc"]]
  },
  {
    "entryName": "peers",
    "sortColumn": [[0, "asc"]]
  }
];
/* ]]> */
</script>
{% endblock %}
