{% extends "base.html" %}
{% load i18n %}

{% block title %}IP Allocation Pools{% endblock %}
{% block contenttype %}prefs{% endblock %}

{% block rss %}
  <link rel="alternate" href="/feeds/rss/events" title="wlan ljubljana - Latest mesh events" type="application/rss+xml" />
{% endblock %}

{% block altlinks %}
  <h3>{% trans "Download in other formats" %}:</h3>
  <ul>
    <li class="first last"><a class="rss" href="{% url wlanlj.nodes.views.pools_text %}">{% trans "Tab separated" %}</a></li>
  </ul>
{% endblock %}

{% block content %}
<h1>IP Allocation Pools</h1>
<table border="0" class="listing">
<thead>
  <tr>
    <th style="width: 70px;"><b>{% trans "Family" %}</b></th>
    <th style="width: 200px;"><b>{% trans "Subnet" %}</b></th>
    <th><b>{% trans "Description" %}</b></th>
  </tr>
</thead>
<tbody>
  {% for pool in pools %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ pool.family_as_string }}</td>
    <td>{{ pool.ip_subnet }}</td>
    <td>{{ pool.description }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3" class="notice">
      {% trans "No IP allocation pools found in the database." %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
<br/>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
var tablesConfig = [
  {
    "entryName": "IP allocation pools",
    "sortColumn": [[1, "asc"]]
  }
];
/* ]]> */
</script>
{% endblock %}
