{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Renumber Node" %} {{ node.name|default:_("unknown") }} ({{ node.ip }}){% endblock %}

{% block content %}
<h1>{% trans "Renumber Node" %} - {{ node.name|default:_("unknown") }} ({{ node.ip }})</h1>

<div class="error">
 {% trans "<b>WARNING:</b> By renumbering this node you will put node's old allocated subnets back into the pool! After you renumber you must <b>update the router's configuration</b> to reflect renumbering changes. You can simply regenerate and reflash the image to your router." %}
</div>
 
<h3>{% trans "General Information" %}</h3>
<table border="0" width="700">
  <tr>
    <td style="width: 200px;">{% trans "IP address" %}</td>
    <td>{{ node.ip }}</td>
  </tr>
  <tr>
    <td>{% trans "Name" %}</td>
    <td>{{ node.name|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "Maintainer" %}</td>
    {% if node.owner %}
    <td><a class="mail-link" href="mailto:{{ node.owner.email }}"><span class="icon">&nbsp;</span>{{ node.owner.username }}</a></td>
    {% else %}
    <td>{% trans "unknown" %}</td>
    {% endif %}
  </tr>
  <tr>
    <td>{% trans "Location" %}</td>
    <td>{{ node.location|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "Project" %}</td>
    <td>{{ node.project.name|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "System node" %}</td>
    <td>{% if node.system_node %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Border router" %}</td>
    <td>{% if node.border_router %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
</table>

<h3>{% trans "Renumber Specification" %}</h3>
{% if form.errors %}
<div class="error">
  {% blocktrans %}<b>Oooops!</b> The following errors have ocurred while attempting to renumber this node:{% endblocktrans %}<br />
  <br/>
  {% for error in form.non_field_errors %}
  <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% for field in form %}
  {% for error in field.errors %}
  {{ field.label }}: <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}

<form method="POST" action="{% url renumber_node node.pk %}">
<table border="0" width="700">
  <tr>
    <td width="200"><b>{% trans "Current allocation" %}</b></td>
    <td><b>{% trans "Renumber action" %}</b></td>
  </tr>
  <tr>
    <td>{{ node.ip }}</td>
    <td>{{ form.primary_ip }} {{ form.manual_ip }}</td>
  </tr>
  {% for subnet in form.get_subnet_fields %}
  <tr>
    <td valign="top">{{ subnet.model }}</td>
    <td>
      {{ subnet }}
      <div class="prefix_len_{{ subnet.prefix }}">
        {% trans "New prefix length:" %}&nbsp;
        <select name="{{ subnet.prefix }}" id="id_{{ subnet.prefix }}"></select>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  var pool_prefix_lens = {
    {% for pool in form.get_pools %}
    {{ pool.id }} : {
      'min' : {{ pool.min_prefix_len }},
      'max' : {{ pool.max_prefix_len }},
      'def' : {{ pool.default_prefix_len }}
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  };
  
  function toggleManualIp() {
    if ($('#id_primary_ip').attr('value') == {{ renumber_action_manual }}) {
      $('#id_manual_ip').css('display', '');
    } else {
      $('#id_manual_ip').css('display', 'none');
    }
  }
  
  function updatePrefixLensForPool(subnetId, action) {
    if (action <= 0) {
      $('.prefix_len_prefix_' + subnetId).css('display', 'none');
    } else {
      var prefs = $('#id_prefix_' + subnetId); 
      $('.prefix_len_prefix_' + subnetId).css('display', '');
      prefs.empty();
      
      pool = pool_prefix_lens[action];
      for (var i = pool.min; i <= pool.max; i++) {
        prefs.append('<option value="' + i + '">/' + i + '</option>');
      }
      prefs.attr('value', '' + pool.def);
    }
  }
  
  $(document).ready(function () {
    $('#id_primary_ip').change(function(event) { toggleManualIp(); });
    $('.subnet').change(function(event) {
      var subnetId = $(this).attr('id').replace('id_subnet_', '');
      updatePrefixLensForPool(subnetId, $(this).attr('value'));
    }).change();
    
    toggleManualIp();
  });
</script>

<div class="buttons">
  <input type="submit" value="{% trans "Renumber" %}" />&nbsp;
  <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.pk %}'" />
</div>
</form>
{% endblock %}
