{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset Node" %} {{ node.name|default:_("unknown") }} ({{ node.ip }}){% endblock %}
{% block heading %}{% trans "Reset Node" %} {{ node.name|default:_("unknown") }} ({{ node.ip }}){% endblock %}

{% block content %}
  <div class="error">
      {% trans "<b>WARNING:</b> By issuing a reset command you will reset (erase) all node statistics and graphs! Use this option <b>only when</b> you have been just <b>performing testing</b> and therefore current statistics are no longer relevant. <b>Do not use it on a node which have been running for some time</b> (for example to improve its statistics) as it is important to have history records of network's growth and development." %}
    </div>
<h3>{% trans "General Information" %}</h3>
<table border="0" width="700">
  <tr>
    <td style="width: 200px;">{% trans "IP address" %}</td>
    <td>{{ node.ip }}</td>
  </tr>
  <tr>
    <td>{% trans "Name" %}</td>
    <td>{{ node.name|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "Maintainer" %}</td>
    {% if node.owner %}
    <td>{{ node.owner.username }}</td>
    {% else %}
    <td>{% trans "unknown" %}</td>
    {% endif %}
  </tr>
  <tr>
    <td>{% trans "Location" %}</td>
    <td>{{ node.location|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "Project" %}</td>
    <td>{{ node.project.name|default:_("unknown") }}</td>
  </tr>
  <tr>
    <td>{% trans "System node" %}</td>
    <td>{% if node.system_node %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Border router" %}</td>
    <td>{% if node.border_router %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
</table>
  
  <form method="POST" action="{% url reset_node node.pk %}">
    <div class="buttons">
     <input type="submit" value="{% trans "Reset" %}" />&nbsp;
     <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.pk %}'" />
    </div>
  </form>
{% endblock %}
