{% extends "base.html" %}
{% load i18n %}
{% load misc %}

{% block title %}{% trans "Network Statistics" %}{% endblock %}

{% block content %}
<h1>{% trans "Network Statistics" %}</h1>
<div class="networksummary">
  <h2>Nodes</h2>
<table class="layout">
<tr>
{% for s in nodes_by_status %}
<td class="node_status_{{ s.status }} nodes" style="width: {{ nodes_by_status|widthlist }}%;" ><img src="/images/status_{{ s.status }}_big.png" title="{{ s.status }}" alt="{{ s.status }}"/> {{ s.count }}</td>
{% empty %}
<td class="notice">
  {% trans "There are currently no nodes registered/connected." %}
</td>
{% endfor %}
</tr>
</table>

<div>
{% trans "All registered nodes" %}: {{ node_count }}<br/>
{% trans "Nodes with warnings" %}: {{ nodes_warned }}<br/>
{% trans "Nodes with an external antenna" %}: {{ external_ant }}<br/>
{% trans "Test nodes" %}: {{ nodes_test }}<br/>
</div>

<h3 id="routers_folder" class="folding closed">{% trans "Nodes by router type" %}</h3>
  <div style="padding-left: 20px;" id="routers_foldee">
    <table border="0" style="width: 90%; !important;" class="listing">
    {% for t in template_usage %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{% if t.special %}<i>{% endif %}{{ t.template }}{% if t.special %}</i>{% endif %}</td>
      <td>{{ t.count }}</td>
    </tr>
    {% empty %}
    <tr>
      <td class="notice">
        {% trans "There are currently no nodes registered/connected." %}
      </td>
    </tr>
    {% endfor %}
    </table>
  </div>

<h3 id="projects_folder" class="folding closed">{% trans "Nodes by project" %}</h3>
  <div style="padding-left: 20px;" id="projects_foldee">
    <table border="0" style="width: 90%; !important;" class="listing">
    {% for p in nodes_by_project %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{% if p.special %}<i>{% endif %}{{ p.name }}{% if p.special %}</i>{% endif %}</td>
      <td>{{ p.count }}</td>
    </tr>
    {% empty %}
    <tr>
      <td class="notice">
        {% trans "There are currently no nodes registered/connected." %}
      </td>
    </tr>
    {% endfor %}
    </table>
  </div>

  <h2>Clients</h2>
  {% trans "Clients currently online" %}: <a href="/nodes/gcl">{{ clients_online }}</a><br/>
  {% trans "Clients online so far" %}: {{ clients_ever }}<br/>
  <h2>Network</h2>  
  {% trans "Number of subnets" %}: {{ subnet_count }}<br/>
  {% trans "Average peers per node" %}: {{ peers_avg }}<br/>
</div>
<h2>Graphs</h2>
<div class="graphs">
  {% for graph in graphs %}
  {{ graph.render }}<br/>
  {% endfor %}
</div>
{% endblock %}
