{% load i18n misc html_tags %}

{% if errors %}
    <div class="error">
      <b>{% trans "Errors while performing validation" %}</b><br/>
      <br/>
      {% for error in errors %}
          {{ error }}<br/>
      {% endfor %}
    </div>
{% endif %}

{% for descriptor in registry_forms %}
    {% heading 3 descriptor.name %}
    {% if descriptor.multiple %}
        {% if not descriptor.hide_multiple_controls %}
        <div class="buttons">
            <button role="button" name="{{ descriptor.prefix }}" class="regact_adder ui-button ui-widget ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span><span class="ui-button-text">{% trans 'Add' %}</span></button>
            <button role="button" name="{{ descriptor.prefix }}" class="regact_remover ui-button ui-widget ui-state-default ui-corner-all"><span class="ui-icon ui-icon-minusthick"></span><span class="ui-button-text">{% trans 'Remove Last' %}</span></button>
        </div>
        {% endif %}
        {{ descriptor.submeta }}
        <div id="{{ descriptor.prefix }}_mu_container">
    {% endif %}
    
    {% for subform in descriptor.subforms %}
        {{ subform }}
    {% empty %}
        <div class="ui-widget">
            <div class="registry_nested_empty ui-state-highlight ui-corner-all">{% trans 'This category is currently empty.' %}</div>
        </div>
    {% endfor %}
    
    {% if descriptor.multiple %}
        </div>
    {% endif %}
{% endfor %}
