{% load i18n html_tags %}

{% if errors %}
    <div class="error">
      <b>{% trans "Errors while performing validation" %}</b><br/>
      <br/>
      {% for error in errors %}
          {{ error }}<br/>
      {% endfor %}
    </div>
{% endif %}

{% for descriptor in registry_forms %}
    {% heading 3 descriptor.name %}
    {% if descriptor.multiple %}
        {% if not descriptor.hide_multiple_controls %}
        <div class="buttons">
            <button type="button" class="registry_add_item ui-button ui-widget ui-state-default ui-corner-all" data-parent="{{ descriptor.parent_id }}" data-registry-id="{{ descriptor.id }}"><span class="ui-icon ui-icon-plusthick"></span><span class="ui-button-text">{% trans 'Add' %}</span></button>
        </div>
        {% endif %}
        {{ descriptor.submeta }}
        <div id="{{ descriptor.prefix }}_mu_container">
    {% endif %}

    {% for subform in descriptor.subforms %}
        <div class="registry-item">
            {% if descriptor.multiple and not descriptor.hide_multiple_controls %}
            <div>
                <button type="button" class="registry_remove_item" data-index="{{ subform.args.index }}">Remove this item</button>
            </div>
            {% endif %}
            {{ subform }}
        </div>
    {% empty %}
        <div class="ui-widget">
            <div class="registry_nested_empty ui-state-highlight ui-corner-all">{% trans 'This category is currently empty.' %}</div>
        </div>
    {% endfor %}

    {% if descriptor.multiple %}
        </div>
    {% endif %}
{% endfor %}
