// -*- Mode: css; indent-tabs-mode: nil; c-basic-offset: 2; tab-width: 2 -*-

$font_size : 0.85em;
$rounding : 3px;

$primary_color : #00519f;
$secondary_color : #427fba;
$tertiary_color : #bcd0e4; 

$font_color : #656565;

$background_color : #FFFFFF;

$header_primary_color : $tertiary_color;
$header_secondary_color : $background_color;

$link_color : $primary_color;

$page_width : image-width('header.png');
$content_border : 20px;
$content_width : $page_width - 2 * $content_border ;


@import "../_base.scss";
