{% extends "nodes/list.html" %}

{% contextblock %}
    {% load i18n sekizai_tags html_tags url_tags theme_tags %}

    {% add_data "css_data" "datatables/css/style.css" %}
    {% add_data "js_data" "datastream/underscore/underscore.js" %}
    {% add_data "js_data" "datastream/moment/moment.js" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.js" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.bootstrap.js" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.moment.js" %}
    {% add_data "js_data" "datatables/js/jquery.dataTables.fixedHeader.js" %}
    {% add_data "js_data" "api/js/base.js" %}
    {% add_data "js_data" "api/js/registry.js" %}
    {% add_data "js_data" "list/js/types.js" %}
    {% add_data "js_data" "list/js/status.js" %}
    {% add_data "js_data" "irnas/js/list.js" %}

    {% trans "Node List" as title %}
{% endcontextblock %}

{% block content %}
    {% include "status/definitions.html" %}
    {% include "types/definitions.html" %}
    <table class="table table-striped koruza-node-list {% block node_list_classes %}{% endblock node_list_classes %}" data-source="{% block node_list_data_source %}{% url "apiv2:node-list" %}{% endblock node_list_data_source %}" data-node-url-template="{% urltemplate "DisplayComponent:node" %}" width="100%">
        <thead>
            <tr>
                <th title="{% trans "The type of the node." %}"></th>
                <th title="{% trans "The name of the node." %}">{% trans "Name" %}</th>
                <th title="{% trans "When was the node last seen connected to the network." %}">{% trans "Last seen" %}</th>
                <th title="{% trans "Network - Current status of the connection to the network." %}">{% theme_icon "node-network" icons="nw" %}</th>
                <th title="{% trans "Current RX power." %}">{% trans "RX power" %}</th>
                <th title="{% trans "Routing topology summary for the node." %}">{% trans "Links" %}</th>
                <th title="{% trans "The project to which the node belongs." %}">{% trans "Project" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}
