// -*- Mode: css; indent-tabs-mode: nil; c-basic-offset: 4; tab-width: 4 -*-

$font_size : 0.85em;
$rounding : 3px;

$primary : #68ae2c; // used for important text, darker stuff
$neutral : #656565; // neutral primary color
$neutral_background : #EEEEEE; // neutral background color

$error_text: #8e1a1a; // error text
$error_background: #F2D3D3; // error background (also check some images)

$font_color : $neutral; // default font color

$background_color : white; // default background color

$header_primary : $primary;
$header_secondary : $neutral;

$link_color : $primary;

$content_fixed_width : 900px; // width for fixed content
$content_spacing : 20px; // space for content
