// -*- Mode: css; indent-tabs-mode: nil; c-basic-offset: 4; tab-width: 4 -*-

@import "compass/typography/lists/horizontal-list";
@import "blueprint/form";


form {
    @include blueprint-form-borders(#AFAFAF, #AFAFAF - 60, transparent);
}

.registry_nested {
    margin-bottom: 20px;
}
