
ul.properties {

    li {
        list-style: none;

    }

    padding: 0;
    color: $gray-darker;

}

.altlinks {
    text-align: center;
    margin-top: 10px;

    .altlinks-list {
        li {
            display: inline-block;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li:before {
            content: "\000B7";
            color: $gray-light;
            padding-right: 5px;
        }

        li:first-child:before {
            content: "";
            padding-right: 0;
        }

        display: inline-block;
        padding: 2px;
        margin: 2px;
    }

    color: $gray-light;

    h2 {
        font-size: inherit;
        display: inline-block;
        width: auto;
    }

    h2:after {
        content: ":";
    }
}

footer {
    color: $gray-darker;
    margin: 40px 0;
    text-align: center;
}

.header-heading {
    a {
        color: $brand-primary;
    }
    a:hover {
        text-decoration: none;
        color: $brand-primary;
    }
}

.header-heading {
    .network-name {
        font-size: $font-size-h2;
        color: white;
    }
    .network-description {
        font-size: $font-size-h4;
        color: black;
    }
    margin: 15px 5px;
}

.navbar-static-top .container {
    position: relative;
}

.navbar-static-top {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    @include gradient(saturate($brand-primary, 15%), lighten($brand-primary, 15%))
}

.container > .accounts-menu > .btn-group {
    float: right;
    margin: 10px;
}

.container > .content {

    min-height: 300px;

}

.container .content > .permalink {
    float: right;
    margin: 10px 10px 10px 0;
}

.partial {

    font-size: 16px;
    margin-bottom: 10px;

    .key {
        text-align: right;
        font-weight: bold;
    }

    .row {
        margin-bottom: 10px;
    }

}

.time,
.icon {
    cursor: pointer;
}

.logtext {
    font-family: $font-family-monospace;
    display: block;
    max-height: 400px;
    font-size: 80%;
    overflow: auto;
    background-color: $gray-lighter;
    border-style: solid;
    border-width: 1px;
    border-color: $gray-light;
    border-radius: $border-radius-base;
    padding: 10px;
}
