
.node {
	
	.snippet-list {

		font-size: 120%;
		margin-bottom: 10px;

		.key {
			text-align: right;
			font-weight: bold;
		}

		.row {
			margin-bottom: 10px;
		}



	}

}

.node-menu {
	float: right;
	margin: 10px 10px 10px 0;
}