
.altlinks {
    text-align: center;
    .altlinks-list {
        li {
            display: inline-block;
            list-style-type: none;
            padding: 5px;
            margin: 5px;
        }
        padding: 5px;
        margin: 5px;
    }

}

footer {
    color: $gray-darker;
    margin: 40px 0;
    text-align: center;
}

.header-heading {
    a {
        color: $brand-primary;
    }
    a:hover {
        text-decoration: none;
        color: $brand-primary;
    }
}

.header-heading {
    .network-name {
        font-size: $font-size-h2;
        color: $brand-primary;
    }
    .network-description {
        font-size: $font-size-h4;
        color: $gray-lighter;
    }
    margin: 15px 5px;
}

.container > .accounts-menu > .btn-group {
    float: right; 
    margin: 10px;
}

.container > .content {

    min-height: 300px;

}
