
.node-menu {
	float: right;
	margin: 10px 10px 10px 0;
}

.partial {

	.location {
		margin-bottom: 20px;

		.leaflet-container {
			margin-top: 20px;
		}
	}

	ul.users {

		li {
            display: inline-block;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li:before {
            content: ", ";
            color: $gray-light;
            padding-right: 5px;
        }

        li:first-child:before {
            content: "";
            padding-right: 0;
        }

        display: inline-block;
        padding: 0;
        margin: 0;

	}
}

.icon.nw-node-unknown {
	color: $gray;
}

.icon.nw-node-health-healty {
	color: $brand-success;
}

.icon.nw-node-health-warnings {
	color: $brand-warning;
}

.icon.nw-node-health-errors {
	color: $brand-danger;
}

.icon.nw-node-monitoring-monitored {
	color: $brand-primary;
}

.icon.nw-node-monitoring-unmonitored {
	color: $gray-light;
}

.icon.nw-node-network-up {
	color: $brand-success;
}

.icon.nw-node-network-down {
	color: $gray-light;
}

.icon.nw-node-network-visible {
	color: $brand-warning;
}

.icon.nw-generator-ok {
	color: $brand-success;
}

.icon.nw-generator-pending {
	color: $gray-light;
}

.icon.nw-generator-building {
	color: $brand-warning;
}

.icon.nw-generator-failed {
	color: $brand-danger;
}