{% overextends "base.html" %}

{% contextblock %}
    {% load future i18n sekizai_tags html_tags url_tags partial_tags %}

    {% add_data "js_data" "datastream/moment/moment.js" %}
    {% add_data "js_data" "topology/js/d3.v3.min.js" %}
    {% add_data "js_data" "topology/js/api.js" %}
    {% add_data "js_data" "topology/js/code.js" %}
    {% add_data "css_data" "topology/css/style.css" %}

    {% trans "Network Topology" as title %}
{% endcontextblock %}

{% block content %}
    <div id="topology"></div>

    {% get_partial "network_topology_partial" as network_topology_partial %}

    {% with partial=network_topology_partial %}
        {% include "base/partial.html" %}
    {% endwith %}
{% endblock %}
