{% contextblock %}{# Has to be first to be rendered first #}{% endcontextblock %}

{% load i18n %}

{% block included_maintainers %}
    {% if maintainers.exists %}
        <legend>{% trans "Maintainers" %}</legend>

        <ul class="maintainers users">
            {% for maintainer in maintainers %}
                <li><a class="user maintainer" href="{{ maintainer.get_absolute_url }}">{{ maintainer.username }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock included_maintainers %}
