{% extends "base.html" %}

{% load i18n gmap misc %}

{% block title %}{% blocktrans with node.name|default:_("unknown") as node_name %}Edit Node {{ node_name }}{% endblocktrans %}{% endblock %}

{% block heading %}
    {% setcontext as heading %}
        {% url display:node node.pk as node_url %}
        {% blocktrans with node.name|default:_("unknown") as node_name %}Edit Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}
    {% endsetcontext %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post" action="{% url editor:edit node.pk %}">
        {% csrf_token %}
        <div id="registry_forms">
            {% include "registry/forms.html" %}
        </div>

        <div class="buttons"><button role="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-primary"><span class="ui-button-text">{% trans "Update" %}</span></button>
            <button role="button" onclick="document.location='/'" class="ui-button ui-widget ui-state-default ui-corner-all"><span class="ui-button-text">{% trans "Cancel" %}</span></button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}nodewatcher/js/n11ndata.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}nodewatcher/js/n11n.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}nodewatcher/js/unidecode.js"></script>
{% endblock %}
