{% extends "base.html" %}

{% contextblock %}
    {% load future i18n sekizai_tags %}

    {% add_data "js_data" "frontend/js/jquery-ui-1.8.12.custom.min.js" %}
    {% add_data "js_data" "frontend/js/jquery.cookie.js" %}
    {% add_data "js_data" "frontend/js/csrf.js" %}
    {% add_data "js_data" "frontend/js/registry.js" %}
{% endcontextblock %}

{% block title %}{% blocktrans with node.name|default:_("unknown") as node_name %}Edit Node {{ node_name }}{% endblocktrans %}{% endblock %}

{% block heading %}
    {% setcontext as heading %}
        {% url "DisplayComponent:node" node.pk as node_url %}
        {% blocktrans with node.name|default:_("unknown") as node_name %}Edit Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}
    {% endsetcontext %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post" action="{% url "EditorComponent:edit" node.pk %}">
        {% csrf_token %}
        <div id="registry_forms">
            {% include "registry/forms.html" %}
        </div>

        <div class="buttons"><button role="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-primary"><span class="ui-button-text">{% trans "Update" %}</span></button>
            <button role="button" onclick="document.location='/'" class="ui-button ui-widget ui-state-default ui-corner-all"><span class="ui-button-text">{% trans "Cancel" %}</span></button>
        </div>
    </form>
{% endblock %}
