{% extends "base.html" %}

{% contextblock %}
    {% load future i18n sekizai_tags %}

    {% add_data "js_data" "frontend/js/jquery-ui-1.8.12.custom.min.js" %}
    {% add_data "js_data" "frontend/js/jquery.cookie.js" %}
    {% add_data "js_data" "frontend/js/csrf.js" %}
    {% add_data "js_data" "frontend/js/registry.js" %}

    {% setcontext as title %}{% trans "New Node Registration" %}{% endsetcontext %}
    {% setcontext as heading %}{% trans "New Node Registration" %}{% endsetcontext %}
{% endcontextblock %}

{% block content %}
    <form method="post" action="{% url "EditorComponent:new" %}">
        {% csrf_token %}
        <div id="registry_forms">
            {% include "registry/forms.html" %}
        </div>

        <div class="buttons">
            <button type="submit" name="cancel" value="cancel">{% trans "Cancel" %}</button>
            <button type="submit">{% trans "Register" %}</button>
        </div>
    </form>
{% endblock %}
