{% extends "my_base.html" %}

{% load future i18n gmap misc %}

{% block title %}{% trans "New Node Registration" %}{% endblock %}

{% block heading %}
    {% with heading=_("New Node Registration") %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block my_content %}
    {% with form_errors_context="register a new node" classes="no-top-margin" %}
        {% include "form_errors.html" %}
    {% endwith %}

    {% notice "" "no-top-margin" %}
        {% blocktrans %}If you are unsure about any option just leave it at its default value.{% endblocktrans %}
    {% endnotice %}

    <form action="{% url "editor:new" %}" method="post">
        {% csrf_token %}
        <div id="registry_forms">
            {% include "registry/forms.html" %}
        </div>

        <div class="buttons"><input type="submit" value="{% trans "Register" %}" /></div>
    </form>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/n11ndata.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/n11n.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/unidecode.js"></script>
{% endblock %}
