{% overextends "base.html" %}

{% contextblock %}
    {% load future i18n %}

    {% setcontext as title %}{% blocktrans %}Remove Node {{ node_name }}{% endblocktrans %}{% endsetcontext %}
    {% setcontext as heading %}{% spaceless %}
        {% url "DisplayComponent:node" node.pk as node_url %}
        {% blocktrans %}Remove Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}
    {% endspaceless %}{% endsetcontext %}
{% endcontextblock %}

{% block content %}
    {% block node_remove_warning_wrapper %}
        <div class="warning {% block node_remove_warning_classes %}{% endblock node_remove_warning_classes %}">
            {% block node_remove_warning %}
                {% include "nodes/node_remove_warning.html" %}
            {% endblock node_remove_warning %}
        </div>
    {% endblock node_remove_warning_wrapper %}

    {% block node_snippet_wrapper %}
        {% include "nodes/node_remove_snippet.html" %}
    {% endblock node_snippet_wrapper %}

    {% block node_remove_form_wrapper %}
        {% with form_submit=_("Remove") %}
            {% include "node_remove_form.html" %}
        {% endwith %}
    {% endblock node_remove_form_wrapper %}
{% endblock %}
