{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Node Operator Authentication" %}{% endblock %}

{% block content %}
<h1>Node Operator Authentication</h1>

{% if form.non_field_errors %}
<p class="error">
  <strong>{% trans "Error" %}:</strong>
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
</p>
{% endif %}

<form action="/auth/login" method="POST">
  <table width="500" border="0">
    <tr>
      <td width="150"><b>{{ form.username.label_tag }}</b></td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td><b>{{ form.password.label_tag }}</b></td>
      <td>{{ form.password }}</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="{% trans "Login" %}" />
        <input type="hidden" name="next" value="{{ next }}" />
      </td>
    </tr>
  </table>
</form>
<br/><br/><br/><br/>
{% endblock %}
