{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<h1>Login</h1>

<form action="/auth/login" method="post" id="acctmgr_loginform" >

{% if form.non_field_errors %}
<p class="error">
  <strong>{% trans "Error" %}:</strong>
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
</p>
{% endif %}
<div>
<input type="hidden" name="next" value="{{ next }}" />
{{ form.username.label_tag }}
{{ form.username }}
</div>
<div>
{{ form.password.label_tag }}
{{ form.password }}
</div>
<div><input type="submit" value="{% trans "Login" %}" /></div>
<p><a href="/auth/lost_pass">{% trans "Forgot your password?" %}</a></p>
</form>
{% endblock %}
