{% extends "base.html" %}
{% load i18n %}
{% load misc %}

{% block title %}Generate Image for Node {{ node.name }}{% endblock %}
{% block heading %}{% url view_node node.pk as node_url %}{% blocktrans with node.name|default:_("unknown") as node_name %}Generate Image for Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}{% endblock %}

{% block content %}
{% if form.errors %}
<div class="error">
  {% blocktrans %}<b>Oooops!</b> The following errors have ocurred while attempting to process your request:{% endblocktrans %}<br />
  <br/>
  {% for error in form.non_field_errors %}
  <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% for field in form %}
  {% for error in field.errors %}
  {{ field.label }}: <i>{{ error|escape }}</i><br/>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}

{% if not node.owner.email %}
  {% include "nodes/missing_email_error.html" %}
{% else %}
  {% if node.has_allocated_subnets %}
    {% if node.profile.template.experimental %}
    <div class="error">
      {% blocktrans with documentation_links.known_issues as known_issues_url and documentation_links.report_issue as report_issue_url %}<b>WARNING:</b> The support for router type you have chosen is marked as <b>experimental</b>! This may mean that it has not been extensively tested and might contain serious issues. For further information please see <a href="{{ known_issues_url }}">known issues</a> page. If you find any bugs, please <a href="{{ report_issue_url }}">report them</a>. Also if you find the image to be working properly for a longer period of time, also <a href="{{ report_issue_url }}">report it</a> so it may be moved from its experimental status.{% endblocktrans %}
    </div>
    {% endif %}
    {% notice %}
      {% blocktrans %}After you press <b>Generate</b> below, your request will be queued for later processing. After the image is ready, you will be notified of its download location via e-mail.{% endblocktrans %}
    {% endnotice %}
  {% else %}
    <div class="error">
      {% url allocate_subnet node.pk as newsubneturl %}
      {% blocktrans %}<b>ERROR:</b> This node has no allocated subnets or none are assigned to the WiFi interface. Image generation is not possible. Please assign it <a href="{{ newsubneturl }}">a subnet</a>.{% endblocktrans %}
    </div>
  {% endif %}
{% endif %}

{% include "nodes/general_info.html" %}

<form method="post" action="{% url generate_node node.pk %}">
{% csrf_token %}
<h3>{% trans "Image Generator Information" %}</h3>
<table border="0" width="700">
  {% if user.is_staff %}
  <tr>
    <td>{{ form.email_user.label }}</td>
    <td>{{ form.email_user }}</td>
  </tr>
  {% endif %}
  <tr>
    <td class="first_column_width">{% trans "Router type" %}</td>
    <td>{{ node.profile.template.name }}</td>
  </tr>
  <tr>
    <td>{% trans "Enable VPN" %}</td>
    <td>{% if node.profile.use_vpn %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  <tr>
    <td>{% trans "Enable captive portal" %}</td>
    <td>{% if node.profile.use_captive_portal %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  <tr>
    <td valign="top">{{ form.config_only.label }}</td>
    <td>
      {{ form.config_only }}<br/>
      <span class="small_text">{% blocktrans with documentation_links.custom_image as custom_image_url %}Check this option to generate <b>only</b> configuration files and not complete firmware image. Use those files as a starting point when you are setting up a <a href="{{ custom_image_url }}">custom node</a>.{% endblocktrans %}</span>
    </td>
  </tr>
</table>
  <div class="buttons">
    {% if node.has_allocated_subnets and node.owner.email %}
    <input type="submit" value="{% trans "Generate" %}" />&nbsp;
    {% endif %}
    <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.pk %}'" />
  </div>
</form>
{% endblock %}
