{% extends "base.html" %}
{% load i18n %}
{% load misc %}

{% block title %}Generate Image for Node {{ node.name }}{% endblock %}

{% block heading %}
{% setcontext as heading %}
{% url view_node node.get_current_id as node_url %}
{% blocktrans with node.name|default:_("unknown") as node_name %}Generate Image for Node <a href="{{ node_url }}">{{ node_name }}</a>{% endblocktrans %}
{% endsetcontext %}
{{ block.super }}
{% endblock %}

{% block content %}
{% with "process your request" as form_errors_context %}
{% include "form_errors.html" %}
{% endwith %}

{% if not node.owner.email %}
  {% include "nodes/missing_email_error.html" %}
{% else %}
  {% if node.has_allocated_subnets %}
    {% if node.profile.template.experimental %}
      <div class="warning">
        {% blocktrans %}<b>WARNING:</b> The support for router type you have chosen is marked as <b>experimental</b>! This may mean that it has not been extensively tested and might contain serious issues.{% endblocktrans %}
        {% if documentation_links.known_issues %}
          {% doclink known_issues _("known issues") as known_issues %}
          {% blocktrans %}For further information please see {{ known_issues }} page.{% endblocktrans %}
        {% endif %}
        {% if documentation_links.report_issue %}
          {% doclink report_issue _("report them") as report_issues %}
          {% doclink report_issue _("report it") as report_issue %}
          {% blocktrans %}If you find any bugs, please {{ report_issues }}. Also if you find the image to be working properly for a longer period of time, also {{ report_issue }} so it may be moved from its experimental status.{% endblocktrans %}
        {% endif %}
      </div>
    {% endif %}
    {% notice %}
      {% blocktrans %}After you press <i>Generate</i> below, your request will be queued for later processing. After the image is ready, you will be notified of its download location via e-mail.{% endblocktrans %}
    {% endnotice %}
  {% else %}
    <div class="error">
      {% url allocate_subnet node.get_current_id as newsubneturl %}
      {% blocktrans %}<b>ERROR:</b> This node has no allocated subnets or none are assigned to the WiFi interface. Image generation is not possible. Please assign it <a href="{{ newsubneturl }}">a subnet</a>.{% endblocktrans %}
    </div>
  {% endif %}
{% endif %}

{% include "nodes/general_info.html" %}

<form method="post" action="{% url generate_node node.pk %}">
{% csrf_token %}
{% heading 2 _("Image Generator Information") %}
<table border="0" class="proptable">
  {% if user.is_staff %}
  <tr>
    <td class="proplabel">{{ form.email_user.label }}</td>
    <td class="propbody">{{ form.email_user }}</td>
  </tr>
  {% endif %}
  <tr>
    <td class="proplabel">{% trans "Router type" %}</td>
    <td class="propbody">{{ node.profile.template.name }}</td>
  </tr>
  <tr>
    <td class="proplabel">{% trans "Enable VPN" %}</td>
    <td class="propbody">{% if node.profile.use_vpn %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}</td>
  </tr>
  <tr>
    <td class="proplabel">{{ form.config_only.label }}</td>
    <td class="propbody">
      {{ form.config_only }}<br/>
      <span class="propdescription">{% doclink custom_node _("custom node") as custom_node %}{% blocktrans %}Check this option to generate <b>only</b> configuration files and not complete firmware image. Use those files as a starting point when you are setting up a {{ custom_node }}.{% endblocktrans %}</span>
    </td>
  </tr>
</table>
  <div class="buttons">
    {% if node.has_allocated_subnets and node.owner.email %}
    <input type="submit" value="{% trans "Generate" %}" />&nbsp;
    {% endif %}
    <input type="button" value="{% trans "Cancel" %}" onclick="document.location='{% url view_node node.get_current_id %}'" />
  </div>
</form>
{% endblock %}
