{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block heading %}
{% with _("Login") as heading %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block contenttype %}login{% endblock %}

{% block content %}
{% url registration_register as registration_register_url %}
<p>{% blocktrans %}To log in, please enter your valid username and password in the form bellow. Don't have them yet? In that case <a href="{{ registration_register_url }}">register</a> to get them.{% endblocktrans %}</p>
<div id="loginform">
{% with _("Log in") as form_submit %}
{% url auth_login as form_action %}
{% include "form.html" %}
{% endwith %}
{% url auth_password_reset as auth_password_reset_url %}
<p>{% blocktrans %}Have you <a href="{{ auth_password_reset_url }}">forgotten your password</a>?{% endblocktrans %}</p>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
/* <![CDATA[ */
$(document).ready(function () {
  $('#id_username')[0].focus();
});
/* ]]> */
</script>
{% endblock %}
