{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block heading %}
{% with _("Password reset") as heading %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<p>{% blocktrans %}Forgotten your password? Enter your e-mail address below and we will e-mail instructions for setting a new one.{% endblocktrans %}</p>
<div id="resetform">
{% with _("Reset password") as form_submit %}
{% url auth_password_reset as form_action %}
{% include "form.html" %}
{% endwith %}
</div>
{% endblock %}
